body {
  height: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 1.2;
  &.active {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;
  }
}

* {
  box-sizing: border-box;
  &::after,
  &::before {
    box-sizing: border-box;
  }
}

.wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.align {
  width: 1280px;
  margin: 0 auto;
  @media only screen and (max-width: 1280px) {
    width: 100%;
    padding: 0 15px;
  }
  &--padding {
    padding: 0 68px;
    @media only screen and (max-width: 1280px) {
      padding: 0 15px;
    }
  }
}

.section {
  padding-top: 35px;
  padding-bottom: 35px;
  @media only screen and (max-width: 767px) {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.content {
  padding-top: 77px;
  @media only screen and (max-width: 767px) {
    padding-top: 60px;
  }
  &__sidebar {
    max-width: 830px;
    @media only screen and (max-width: 1279px) {
      max-width: 100%;
    }
  }
}

.bottom-space {
  padding-bottom: 65px;
  @media only screen and (max-width: 767px) {
    padding-bottom: 50px;
  }
}