
%icon-underground {
  background-image: url(../images/sprite.png);
  background-position: 0px 0px;
  width: 11px;
  height: 9px;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  %icon-underground {
    background-image: url(../images/sprite@2x.png);
    background-size: 11px 9px;
  }
}
