.about-section {
  height: 585px;
  background-size: cover;
  background-position: 50% 100%;
  position: relative;
  @media only screen and (max-width: 767px) {
    height: calc(100vh - 60px);
  }
  &::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(41, 45, 57, 0.6);
  }
  &__box {
    display: flex;
    align-items: center;
    height: calc(100% - 60px);
    position: relative;
    @media only screen and (max-width: 767px) {
      height: 100%;
    }
  }
  &__list {
    color: #fff;
  }
  &__item {
    margin-top: 35px;
    &:first-child {
      margin-top: 0;
    }
  }
  &__number {
    font-size: 40px;
    font-weight: bold;
    font-family: $font;
    margin-bottom: 7px;
    @media only screen and (max-width: 767px) {
      font-size: 30px;
    }
  }
}
.about-content {
  max-width: 800px;
  margin: 0 auto;
  @media only screen and (max-width: 800px) {
    padding: 15px;
  }
}
