.application-section {
  display: flex;
  height: 370px;
  @media only screen and (max-width: 1023px) {
    flex-direction: column;
    height: auto;
  }
  &__col {
    width: 50%;
    background-color: $red;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    @media only screen and (max-width: 1023px) {
      width: 100%;
      height: 300px;
    }
    &:first-child {
      background-image: url(../images/bg-application.jpg);
      background-size: cover;
      background-position: 50% 50%;
      position: relative;
      @media only screen and (max-width: 1023px) {
        background-position: 50% 20%;
      }
      &::after {
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(41, 45, 57, 0.7);
      }
    }
  }
  &__box {
    text-align: center;
    position: relative;
    z-index: 1;
  }
  &__title {
    text-transform: uppercase;
    margin-bottom: 15px;
  }
  &__note {
    font-size: 12px;
    margin-bottom: 25px;
    max-width: 360px;
  }
  &__btn {
    max-width: 300px;
    margin: 0 auto;
  }
}
