.article-section {
  position: relative;
  &__insert {
    position: absolute;
    width: 100%;
    height: 400px;
    left: 0;
    top: 0;
    background-size: cover;
    background-position: 50% 0;
  }
  &__align {
    position: relative;
    @media only screen and (max-width: 767px) {
      padding: 0;
    }
  }
  &__wrap {
    background-color: #fff;
  }
  &__date {
    font-size: 12px;
    display: block;
    margin-bottom: 20px;
  }
  &__title {
    font-family: $font;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 20px;
    @media only screen and (max-width: 767px) {
      font-size: 20px;
      margin-bottom: 15px;
    }
  }
}
.article-slider {
  @media only screen and (max-width: 1023px) {
    .slick-slide {
      padding: 0 3px;
    }
  }
  &__thumb {
    text-align: center;
  }
  &__image {
    height: 187px;
    border-radius: 5px;
    @media only screen and (max-width: 1023px) {
      width: 100%;
    }
    @media only screen and (max-width: 767px) {
      height: 115px;
    }
    @media only screen and (max-width: 359px) {
      height: 90px;
    }
  }
}
.social-likes {
  display: flex;
  align-items: center;
  &__item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 25px;
    height: 25px;
    background-color: $black;
    border-radius: 50%;
    margin-left: 10px;
    transition: 0.3s ease;
    &:first-child {
      margin-left: 0;
    }
    @include desktop-hover() {
      &:hover {
        background-color: $red;
      }
    }
  }
  &__wrap {
    display: flex;
    margin-top: 40px;
    align-items: center;
  }
  &__title {
    font-size: 13px;
    margin-right: 22px;
  }
  &__icon {
    fill: #fff;
  }
}
