.breadcrumbs {
  list-style: none;
  color: #b2b2b2;
  display: flex;
  height: 60px;
  align-items: center;
  font-size: 12px;
  @media only screen and (max-width: 413px) {
    display: none;
  }
  &__item {
    position: relative;
    margin-left: 60px;
    &::after {
      position: absolute;
      content: "";
      left: -15px;
      border-bottom: 1px solid $black;
      width: 30px;
      top: 50%;
      transform: translateX(-100%);
    }
    &:first-child {
      margin-left: 0;
      &::after {
        display: none;
      }
    }
  }
  &__link {
    color: $black;
    text-decoration: none;
    @include desktop-hover() {
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &--white {
    .breadcrumbs__item {
      &::after {
        border-color: #fff;
      }
    }
    .breadcrumbs__link {
      color: #fff;
    }
  }
}
