.btn {
  min-width: 168px;
  font-size: 13px;
  line-height: 41px;
  color: #fff;
  background-color: $red;
  border: 2px solid $red;
  text-align: center;
  cursor: pointer;
  border-radius: 25px;
  transition: 0.3s ease;
  padding: 0;
  display: inline-block;
  text-decoration: none;
  padding: 0 25px;
  @include desktop-hover() {
    &:hover {
      background-color: #fff;
      color: $black;
    }
  }
  &:focus {
    outline: none;
  }
  &--invert {
    background-color: transparent;
    color: $red;
  }
  &--transparent {
    background-color: transparent;
    color: $black;
    border-color: $gray;
    @include desktop-hover() {
      &:hover {
        background-color: $red;
        color: #fff;
        border-color: $red;
      }
    }
  }
  &--full {
    width: 100%;
    text-transform: uppercase;
    line-height: 16px;
    font-family: $font;
    font-weight: bold;
    height: 45px;
    display: inline-flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    @media only screen and (max-width: 1024px) {
      width: auto;
      min-width: 0;
    }
  }
  &--black {
    background-color: $black;
    border-color: $black;
  }
  @media only screen and (max-width: 359px) {
    font-size: 12px;
  }
}