.calendar-slider {
  height: 578px;
  margin-bottom: 30px;
  margin-left: -7px;
  @media only screen and (max-width: 1740px) {
    display: flex;
    width: 100%;
    height: auto;
    .mCSB_horizontal.mCSB_inside>.mCSB_container {
      display: flex;
    }
  }
  &__wrap {
    width: 1740px;
    margin: 0 auto;
    @media only screen and (max-width: 1740px) {
      width: 1500px;
    }
    @media only screen and (max-width: 1500px) {
      width: 1200px;
    }
    @media only screen and (max-width: 1279px) {
      display: none;
    }
  }
  &__item {
    display: flex;
  }
  &__col {
    height: 578px;
    &--long {
      .events-box {
        height: 564px;
      }
    }
  }
  &__row {
    display: flex;
    &--wide {
      .events-box {
        width: 100%;
      }
    }
  }
  &__arrow {
    top: 50%;
    transform: translateY(-50%);
    &--prev {
      left: -55px;
    }
    &--next {
      right: -55px;
    }
  }
}

.calendar-section {
  padding-top: 115px;
  position: relative;
  @media only screen and (max-width: 1279px) {
    padding-top: 30px;
  }
  &__insert {
    text-transform: uppercase;
    left: 50%;
    top: 75px;
    transform: translateX(-50%);
    font-size: 65px;
    color: #f2f2f2;
    font-weight: bold;
    font-family: $font;
    position: absolute;
    width: 100%;
    text-align: center;
    @media only screen and (max-width: 1279px) {
      display: none;
    }
  }
}