.callback-section {
  display: flex;
  @media only screen and (max-width: 767px) {
    flex-direction: column;
    align-items: center;
  }
  &__picture {
    width: 60%;
    background-size: cover;
    background-position: 50% 50%;
    display: flex;
    align-items: center;
    position: relative;
    color: #fff;
    margin-right: 60px;
    padding: 60px;
    @media only screen and (max-width: 1279px) {
      margin-right: 15px;
    }
    @media only screen and (max-width: 1023px) {
      padding: 20px;
    }
    @media only screen and (max-width: 767px) {
      width: 100%;
      order: 2;
      margin: 20px 0 0;
    }
    &::after {
      position: absolute;
      content: "";
      left: 0;
      top: 0;
      background-color: rgba(41, 45, 57, 0.6);
      width: 100%;
      height: 100%;
    }
  }
  &__quote {
    position: relative;
    z-index: 1;
  }
  &__form {
    width: 335px;
    @media only screen and (max-width: 335px) {
      width: 100%;
      padding: 0 15px;
    }
    &--partners {
      margin: 0 auto;
    }
  }
  &__title {
    margin-bottom: 50px;
  }
  &__author {
    font-size: 12px;
  }
}