.cases-slider {
  margin-top: 35px;
  .slick-slide > div {
    text-align: center;
  }
  &__item {
    max-width: 325px;
    text-align: center;
  }
  &__title {
    text-align: center;
    font-weight: bold;
    font-family: $font;
    margin-bottom: 15px;
    font-size: 18px;
  }
  &__text {
    font-size: 14px;
    line-height: 22px;
    height: 154px;
    margin-bottom: 15px;
    text-align: left;
    overflow: hidden;
  }
  &__more {
    font-weight: bold;
    font-family: $font;
    color: $red;
    text-transform: uppercase;
    font-size: 12px;
    cursor: pointer;
    @include desktop-hover() {
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &__arrow {
    top: 50%;
    transform: translateY(-50%);
  }
}
.clients-section {
  padding-bottom: 80px;
}
.cases-box {
  &__title {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-family: $font;
    font-size: 18px;
    margin-bottom: 15px;
  }
  &__scroll {
    max-height: 350px;
    @media only screen and (max-width: 767px) {
      max-height: 200px;
    }
  }
  &__text {
    font-size: 14px;
    line-height: 22px;
  }
}
