.clients-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: -25px -40px 80px;
  @media only screen and (max-width: 1279px) {
    margin: -25px 0 80px;
  }
  @media only screen and (max-width: 1279px) {
    margin-bottom: 40px;
  }
  &__item {
    width: 20%;
    display: inline-flex;
    align-items: center;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    @media only screen and (max-width: 1279px) {
      width: 25%;
    }
    @media only screen and (max-width: 1023px) {
      padding: 0 10px;
      img {
        max-width: 100%;
        height: auto;
      }
    }
    @media only screen and (max-width: 767px) {
      width: 33.33%;
    }
  }
}