.consulting-section {
  height: 680px;
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
  @media only screen and (max-width: 767px) {
    height: calc(100vh - 60px);
  }
  @media only screen and (max-width: 413px) {
    justify-content: center;
  }
  &__wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }
  &::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(41, 45, 57, 0.6);
  }
  &__info {
    color: #fff;
    position: relative;
  }
  &__box {
    max-width: 640px;
    padding-bottom: 45px;
  }
  &__title {
    font-family: $font;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 34px;
    @media only screen and (max-width: 767px) {
      font-size: 24px;
    }
  }
  &__text {
    line-height: 22px;
  }
}

.consulting-box {
  border-bottom: 1px solid $gray;
  padding-bottom: 75px;
  padding-right: 115px;
  margin-bottom: 75px;
  @media only screen and (max-width: 767px) {
    padding-right: 0;
    margin-bottom: 15px;
    padding-bottom: 15px;
  }
  &--right {
    padding-right: 0;
  }
  &__wrap {
    padding-top: 100px;
    position: relative;
    @media only screen and (max-width: 767px) {
      padding-top: 30px;
    }
    &::before {
      content: "consulting";
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      font-size: 65px;
      text-transform: uppercase;
      color: #f2f2f2;
      font-family: $font;
      font-weight: bold;
      top: 50px;
      @media only screen and (max-width: 767px) {
        display: none;
      }
    }
  }
  &__title {
    font-family: $font;
    font-weight: bold;
    position: relative;
    margin-bottom: 30px;
    text-transform: uppercase;
    padding-left: 20px;
    border-left: 4px solid $red;
    font-size: 22px;
  }
  &__heading {
    text-transform: uppercase;
    font-family: $font;
    font-weight: bold;
    font-size: 34px;
    margin-bottom: 40px;
    @media only screen and (max-width: 767px) {
      margin-bottom: 20px;
      font-size: 24px;
    }
  }
  &__note {
    text-transform: uppercase;
    font-family: $font;
    font-weight: bold;
    font-size: 18px;
    @media only screen and (max-width: 767px) {
      font-size: 14px;
    }
  }
}
.consulting-triggers {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    border-top: 1px solid #fff;
    z-index: 1;
    width: 100%;
  }
  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    border-left: 1px solid #fff;
    z-index: 1;
    height: 100%;
  }
  &__item {
    width: 33.33%;
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    border-top: 1px solid $gray;
    border-left: 1px solid $gray;
    padding: 25px;
    @media only screen and (max-width: 767px) {
      width: 50%;
    }
  }
  &__title {
    text-align: center;
    margin-top: 15px;
    width: 100%;
  }
  &__svg {
    fill: $red;
    width: 65px;
    height: 65px;
  }
}
.consulting-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 75px;
  &__quote {
    text-align: center;
    color: #848790;
    font-size: 16px;
    line-height: 28px;
    position: relative;
    display: inline-block;
    padding: 30px 0;
    @media only screen and (max-width: 767px) {
      padding: 15px 0;
      font-size: 14px;
      line-height: 20px;
    }
    &::after {
      position: absolute;
      content: '"';
      font-size: 90px;
      color: #848790;
      font-family: $font;
      left: -60px;
      top: 30px;
      @media only screen and (max-width: 767px) {
        display: none;
      }
    }
    p {
      margin: 0;
    }
    strong {
      color: $black;
      font-size: 20px;
      font-family: $font;
      @media only screen and (max-width: 767px) {
        font-size: 16px;
      }
    }
  }
  &__box {
    display: flex;
    margin-top: 40px;
    flex-wrap: wrap;
    @media only screen and (max-width: 767px) {
      margin-top: 15px;
    }
  }
  &__col {
    width: 33.33%;
    padding-left: 12px;
    @media only screen and (max-width: 1024px) {
      text-align: center;
    }
    @media only screen and (max-width: 767px) {
      width: 100%;
      padding: 5px;
    }
    &:first-child {
      padding-left: 0;
      @media only screen and (max-width: 767px) {
        padding: 5px;
      }
    }
  }
}
