.contacts {
  overflow: hidden;
  margin-bottom: 75px;
  padding-top: 25px;
  &__col {
    overflow: hidden;
  }
  &__row {
    border-bottom: 1px solid $gray;
    padding-bottom: 30px;
    margin-top: 30px;
    display: flex;
    &:first-child {
      margin-top: 0;
    }
  }
  &__icon {
    width: 48px;
  }
  &__svg {
    fill: $red;
  }
  &__heading {
    color: #999;
    font-size: 12px;
    margin-bottom: 5px;
  }
  &__value {
    font-size: 14px;
    font-style: normal;
    color: $black;
    text-decoration: none;
    line-height: 30px;
    &--underground {
      position: relative;
      padding-left: 22px;
      &::after {
        position: absolute;
        content: "";
        left: 0;
        top: 11px;
        @extend %icon-underground;
      }
    }
  }
}

#map-canvas {
  float: right;
  width: 720px;
  height: 430px;
  margin-left: 50px;
  @media only screen and (max-width: 1279px) {
    float: none;
    width: 100%;
    margin-left: 0;
    margin-bottom: 20px;
  }
  @media only screen and (max-width: 767px) {
    height: 300px;
  }
}

.contacts-callback {
  background: url(../images/bg-contacts.jpg) 50% 50%;
  background-size: cover;
  text-align: center;
  position: relative;
  padding: 50px 60px;
  &__wrap {
    position: relative;
  }
  &__note {
    margin-bottom: 30px;
    color: #fff;
  }
  &::before {
    background-color: rgba(41, 45, 57, 0.6);
    width: 100%;
    height: 100%;
    content: "";
    left: 0;
    top: 0;
    position: absolute;
  }
}