.devs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  color: #7b7e88;
  transition: color 0.1s ease-in-out;
  width: 215px;
  &__icon-box {
    width: 100px;
    height: 17px;
    position: relative;
    overflow: hidden;
    flex: 0 0 auto;
  }
  &__icon {
    position: relative;
    transition: 0.3s ease-in-out;
    width: 100%;
    height: 100%;
    svg {
      fill: #fff;
    }
  }
  &__icon-hover {
    position: relative;
    transition: 0.3s ease-in-out;
    width: 100%;
    height: 100%;
    transform: translate(0, 100%);
    svg {
      fill: #fff;
    }
  }
  &__name {
    font-size: 12px;
    line-height: 18px / 12px * 100%;
    margin-right: 10px;
    @include response(1120px) {
      display: inline-block;
      white-space: normal;
      vertical-align: middle;
      width: 80%;
    }
    @include response(600px) {
      width: 100%;
    }
  }
  &__link {
    color: #fff;
    text-decoration: none;
  }
  path {
    transition: fill 0.1s ease-in-out;
  }
  @include desktop-hover() {
    &:hover {
      .devs__icon {
        transform: translate(0, -100%);
      }
      .devs__icon-hover {
        transform: translate(0, -100%);
      }
    }
  }
}
