.education-section {
  margin: 0 auto;
  max-width: 960px;
  display: flex;
  align-items: center;
  @media only screen and (max-width: 767px) {
    flex-direction: column;
  }
  &__picture {
    flex: 0 0 430px;
    margin-right: 40px;
    @media only screen and (max-width: 1023px) {
      flex: 0 0 280px;
      img {
        width: 100%;
        height: auto;
      }
    }
    @media only screen and (max-width: 767px) {
      flex: auto;
      margin-right: 0;
    }
  }
  &__content {
    flex: auto;
  }
  &__text {
    margin-bottom: 40px;
  }
}
