.education-list {
  &__row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    &:nth-child(even) {
      .education-list__thumb {
        order: 2;
        @media only screen and (max-width: 1023px) {
          order: 1;
        }
      }
      .education-list__content {
        order: 1;
      }
    }
    @media only screen and (max-width: 1023px) {
      margin-top: 20px;
      &:first-child {
        margin-top: 0;
      }
    }
  }
  &__note {
    color: $red;
    font-style: italic;
    font-size: 18px;
    margin-bottom: 15px;
  }
  &__thumb {
    width: 50%;
    overflow: hidden;
    min-height: 440px;
    position: relative;
    @media only screen and (max-width: 1023px) {
      width: 100%;
      margin-bottom: 20px;
      min-height: 310px;
    }
    @media only screen and (max-width: 767px) {
      min-height: 0;
    }
  }
  &__image {
    position: absolute;
    left: 50%;
    top: 0;
    height: 100%;
    transform: translateX(-50%);
    @media only screen and (max-width: 1023px) {
      width: 100%;
      height: auto;
    }
    @media only screen and (max-width: 767px) {
      position: relative;
      transform: none;
      left: 0;
    }
  }
  &__content {
    width: 50%;
    padding-left: 65px;
    @media only screen and (max-width: 1023px) {
      width: 100%;
      padding-left: 0;
    }
  }
  &__title {
    position: relative;
    padding-left: 25px;
    text-transform: uppercase;
    margin-bottom: 30px;
    max-width: 450px;
    @media only screen and (max-width: 767px) {
      padding-left: 0;
      max-width: 100%;
      margin-bottom: 15px;
    }
    &::after {
      content: "";
      position: absolute;
      left: 0;
      border-left: 4px solid $red;
      height: 50px;
      top: 50%;
      transform: translateY(-50%);
      @media only screen and (max-width: 767px) {
        display: none;
      }
    }
  }
}

.education-stages {
  &__list {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
    flex-wrap: wrap;
    @media only screen and (max-width: 1023px) {
      justify-content: center;
      margin-top: -30px;
      padding-top: 20px;
    }
  }
  &__item {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    max-width: 160px;
    width: 100%;
    &:nth-child(even) {
      .education-divider {
        &__arrow {
          transform: scaleY(-1);
        }
      }
    }
    @media only screen and (max-width: 1023px) {
      max-width: none;
      width: 33.3%;
      margin-top: 30px;
    }
    @media only screen and (max-width: 767px) {
      width: 50%;
    }
    @media only screen and (max-width: 359px) {
      width: 100%;
    }
  }
  &__thumb {
    border-radius: 50%;
    border: 1px solid $gray;
    width: 146px;
    height: 146px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    position: relative;
  }
  &__svg {
    width: 60px;
    height: 60px;
    fill: $red;
  }
  &__title {
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    width: 100%;
  }
}

.education-divider {
  position: absolute;
  color: #e2e2e2;
  top: 50%;
  transform: translateY(-50%);
  right: -63px;
  @media only screen and (max-width: 1023px) {
    display: none;
  }
  &__arrow {
    margin-bottom: 5px;
  }
  &__svg {
    fill: #e2e2e2;
    width: 23px;
    height: 14px;
  }
  &__number {
    font-weight: bold;
    font-family: $font;
    font-size: 22px;
  }
}