.error-section {
  height: calc(100vh - 77px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-weight: bold;
  &__title {
    font-size: 290px;
    line-height: 288px;
    font-family: $font;
    margin-bottom: 50px;
    letter-spacing: 100px;
  }
  &__thumb {
    margin-bottom: 25px;
    position: relative;
    @media only screen and (max-width: 767px) {
      font-size: 50px;
      line-height: 52px;
      width: 200px;
      img {
        max-width: 100%;
        height: auto;
      }
    }
    &::before {
      content: "4";
      position: absolute;
      transform: translateY(-50%);
      top: 50%;
      left: -200px;
      font-size: 290px;
      line-height: 288px;
      font-family: $font;
      @media only screen and (max-width: 767px) {
        font-size: 100px;
        line-height: 102px;
        left: -70px;
      }
      @media only screen and (max-width: 359px) {
        left: -55px;
        font-size: 80px;
      }
    }
    &::after {
      content: "4";
      position: absolute;
      transform: translateY(-50%);
      top: 50%;
      right: -200px;
      font-size: 290px;
      line-height: 288px;
      font-family: $font;
      @media only screen and (max-width: 767px) {
        font-size: 100px;
        line-height: 102px;
        right: -70px;
      }
      @media only screen and (max-width: 359px) {
        right: -55px;
        font-size: 80px;
      }
    }
  }
  &__note {
    margin-bottom: 25px;
    font-size: 16px;
    text-align: center;
  }
}