.events-heading {
  display: flex;
  border: 1px solid $gray;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  margin-bottom: 30px;
  @media only screen and (max-width: 767px) {
    flex-direction: column;
    text-align: center;
  }
  &__btns {
    display: flex;
    flex: 0 0 85px;
    @media only screen and (max-width: 1023px) {
      display: none;
    }
  }
  &__icon {
    margin-left: 20px;
    cursor: pointer;
    &:first-child {
      margin-left: 0;
    }
    @include desktop-hover() {
      &:hover {
        .events-heading__svg {
          fill: $red;
        }
      }
    }
    &.active {
      .events-heading__svg {
        fill: $red;
      }
    }
  }
  &__svg {
    fill: $black;
    width: 15px;
    height: 15px;
    transition: 0.3s ease;
  }
  &__content {
    display: flex;
    flex: 1 1 auto;
    @media only screen and (max-width: 767px) {
      flex-direction: column;
    }
  }
  &__col {
    border-left: 1px solid $gray;
    padding-left: 30px;
    margin-left: 40px;
    min-width: 250px;
    @media only screen and (max-width: 1023px) {
      min-width: 190px;
    }
    @media only screen and (max-width: 767px) {
      margin-left: 0;
      padding-left: 0;
      border: none;
      margin-top: 30px;
    }
    &:first-child {
      margin-left: 0;
      padding-left: 0;
      border-color: transparent;
      @media only screen and (max-width: 767px) {
        margin-top: 0;
      }
    }
  }
  &__title {
    color: #999;
    font-size: 12px;
    margin-bottom: 5px;
  }
}

.events-filter {
  position: relative;
  &.active {
    .events-filter__list {
      display: block;
    }
    .events-filter__title {
      &::after {
        transform: rotate(180deg);
      }
    }
  }
  &__list {
    position: absolute;
    left: -30px;
    width: 250px;
    top: 100%;
    transform: translateY(21px);
    background-color: #fff;
    z-index: 2;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.17);
    display: none;
  }
  &__item {
    display: block;
    border-bottom: 1px solid $gray;
    padding: 15px 40px;
    text-decoration: none;
    color: $black;
    transition: 0.3s ease;
    @include desktop-hover() {
      &:hover {
        border-color: $red;
        color: $red;
      }
    }
  }
  &__title {
    position: relative;
    font-size: 13px;
    display: inline-block;
    cursor: pointer;
    padding-right: 15px;
    &::after {
      position: absolute;
      content: "";
      right: 0;
      top: 6px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 4px 3px 0 3px;
      border-color: $black transparent transparent transparent;
    }
  }
}

.events-content {
  &__title {
    font-family: $font;
    font-weight: bold;
    font-size: 22px;
    padding: 0 2px 15px;
    margin-bottom: 15px;
    position: relative;
    &::after {
      position: absolute;
      content: "";
      left: 2px;
      bottom: 0;
      border-bottom: 4px solid $red;
      width: 40px;
    }
  }
  &__row {
    margin-top: 35px;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-top: -14px;
    @media only screen and (max-width: 767px) {
      justify-content: center;
    }
  }
}

.events-insert {
  margin-left: 14px;
  margin-top: 14px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #cfd3d7;
  flex: auto;
  height: 275px;
  flex-basis: 275px;
  padding: 15px 25px;
  @media only screen and (max-width: 1279px) {
    display: none;
  }
  &__title {
    font-family: $font;
    font-weight: bold;
    font-size: 24px;
    position: relative;
    padding-top: 35px;
    margin-bottom: 25px;
    &::before {
      position: absolute;
      content: "";
      left: 50%;
      top: 0;
      height: 4px;
      width: 30px;
      background-color: $red;
      transform: translateX(-50%);
    }
  }
}