.events-box {
  position: relative;
  width: 275px;
  height: 275px;
  margin-left: 14px;
  margin-top: 14px;
  overflow: hidden;
  @include desktop-hover() {
    &:hover {
      &:before {
        opacity: 0;
      }
      &:after {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
  @media only screen and (max-width: 1023px) {
    width: 236px;
    height: 236px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  @media only screen and (max-width: 767px) {
    width: 100%;
    overflow: hidden;
    img {
      width: 100%;
      height: auto;
    }
  }
  &::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background-color: rgba(41, 45, 57, 0.6);
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 1;
    transition: 0.3s opacity ease-in-out;
  }
  &::after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(240, 71, 63, 0.9);
    opacity: 0;
    transform: translateY(100%);
    transition: 0.3s opacity ease-in-out, 0.3s transform ease-in-out;
  }
  &__thumb {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
  &__content {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    color: #fff;
    padding: 15px 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__icon {
    display: none;
    width: 31px;
    height: 31px;
    background-color: $red;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    svg {
      fill: #fff;
    }
  }
  &__date {
    font-family: $font;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 5px;
  }
  &__place {
    font-size: 13px;
  }
  &__mentor {
    font-size: 13px;
    margin-bottom: 5px;
  }
  &__title {
    text-decoration: none;
    font-family: $font;
    font-weight: bold;
    color: #fff;
    font-size: 24px;
    line-height: 30px;
    overflow: hidden;
    max-height: 90px;
    transition: 0.3s ease-in-out;
    display: inline-block;
    @media only screen and (max-width: 1023px) {
      font-size: 14px;
      line-height: 20px;
      overflow: hidden;
      max-height: 40px;
    }
  }
  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__link {
    border-radius: 50%;
    border: 1px solid $gray;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: transparent;
    transition: 0.3s ease-in-out;
    text-decoration: none;
    @include desktop-hover() {
      &:hover {
        background-color: #fff;
        .events-box__svg {
          fill: $red;
        }
      }
    }
  }
  &__svg {
    fill: $gray;
    width: 8px;
    height: 13px;
    transition: 0.3s ease-in-out;
  }
  &__description {
    font-size: 13px;
    margin-bottom: 5px;
  }
  &__price {
    font-family: $font;
    font-weight: bold;
    font-size: 24px;
  }
  &__text {
    display: none;
    color: $red;
    transition: 0.3s ease-in-out;
  }
}

.events-content__list {
  &.active {
    .events-box {
      width: 100%;
      height: 140px;
      border: 1px solid $gray;
      padding-left: 140px;
      &::before,
      &::after {
        display: none;
      }
      &__thumb {
        width: 140px;
      }
      &__image {
        width: 100%;
        height: 100%;
      }
      &__content {
        position: relative;
        color: $black;
        flex-direction: row;
        align-items: center;
      }
      &__top {
        position: absolute;
        bottom: 15px;
        display: flex;
        color: $red;
        align-items: center;
      }
      &__icon {
        display: inline-flex;
      }
      &__date {
        margin: 0 35px 0 0;
      }
      &__place {
        font-weight: bold;
        font-family: $font;
      }
      &__heading {
        height: 100%;
        max-width: 490px;
        padding-bottom: 35px;
      }
      &__title {
        color: $black;
        font-size: 18px;
        line-height: 22px;
        max-height: 44px;
        overflow: hidden;
      }
      &__cost {
        position: relative;
        padding-left: 50px;
        margin-left: 50px;
        width: 200px;
        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 50%;
          height: 90px;
          border-left: 1px solid $gray;
          transform: translateY(-50%);
        }
      }
      &__more {
        position: relative;
        padding-left: 50px;
        margin-left: 50px;
        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 50%;
          height: 90px;
          border-left: 1px solid $gray;
          transform: translateY(-50%);
        }
      }
      &__link {
        border-color: $red;
        width: 146px;
        border-radius: 25px;
        @include desktop-hover() {
          &:hover {
            background-color: $red;
            .events-box__text {
              color: #fff;
            }
          }
        }
      }
      &__text {
        display: block;
      }
      &__svg {
        display: none;
      }
    }
    .events-insert {
      display: none;
    }
  }
}