.footer {
  background-color: $black;
  position: relative;
  z-index: 1;
  &__top {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    flex-wrap: wrap;
    @media only screen and (max-width: 767px) {
      flex-direction: column;
      align-items: center;
    }
  }
  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media only screen and (max-width: 767px) {
      flex-direction: column;
      justify-content: center;
    }
  }
  &__col {
    width: 25%;
    padding-right: 15px;
    @media only screen and (max-width: 1023px) {
      width: 33.33%;
      &--2 {
        display: none;
      }
    }
    @media only screen and (max-width: 767px) {
      width: 100%;
      text-align: center;
      padding: 0;
      &--1 {
        margin-bottom: 20px;
      }
      &--3 {
        display: none;
      }
    }
  }
  &__align {
    border-top: 1px solid rgba(123, 126, 136, 0.5);
    padding: 16px 0;
    margin-top: 30px;
  }
  &__title {
    font-weight: 500;
    position: relative;
    color: #fff;
    font-size: 18px;
    padding-bottom: 10px;
    margin-bottom: 15px;
    @media only screen and (max-width: 767px) {
      display: none;
    }
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      border-bottom: 2px solid $red;
      width: 20px;
    }
  }
  &__copy {
    color: #7b7e88;
    font-size: 12px;
    @media only screen and (max-width: 767px) {
      margin-top: 8px;
    }
  }
}

.footer-nav {
  &__list {
    margin: 0;
    list-style: none;
    padding: 0;
  }
  &__item {
    margin-top: 10px;
    &:first-child {
      margin-top: 0;
    }
  }
  &__link {
    color: #fff;
    text-decoration: none;
    @include desktop-hover() {
      &:hover {
        text-decoration: underline;
        color: $red;
      }
    }
  }
}

.footer-info {
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  &__item {
    margin-top: 5px;
    &:first-child {
      margin-top: 0;
    }
  }
  &__row {
    margin-top: 15px;
    &:first-child {
      margin-top: 0;
    }
  }
  &__link {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
  }
  &__title {
    color: #7b7e88;
    font-size: 13px;
    margin-bottom: 8px;
  }
}

.footer-socials {
  display: flex;
  margin-top: 30px;
  @media only screen and (max-width: 767px) {
    justify-content: center;
  }
  &__item {
    display: inline-flex;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    margin-left: 15px;
    background-color: #fff;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease;
    &:first-child {
      margin-left: 0;
    }
    &--facebook {
      @include desktop-hover() {
        &:hover {
          background-color: #4867aa;
          .footer-socials__icon {
            fill: #fff;
          }
        }
      }
    }
    &--youtube {
      @include desktop-hover() {
        &:hover {
          background-color: $red;
          .footer-socials__icon {
            fill: #fff;
          }
        }
      }
    }
  }
  &__icon {
    fill: $black;
    transition: 0.3s ease;
  }
}