.gallery-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -19px;
  margin-top: -19px;
  @media only screen and (max-width: 767px) {
    margin-left: 0;
    justify-content: center;
  }
  &__item {
    margin-left: 19px;
    margin-top: 19px;
    max-width: 368px;
    @media only screen and (max-width: 1279px) {
      max-width: 318px;
      img,
      iframe {
        max-width: 100%;
        height: auto;
      }
    }
    @media only screen and (max-width: 1023px) {
      max-width: 233px;
    }
    @media only screen and (max-width: 767px) {
      max-width: 100%;
      margin-left: 0;
    }
  }
  &__title {
    margin-top: 15px;
    font-weight: bold;
    font-family: $font;
    font-size: 16px;
  }
  &__hidden {
    display: none;
  }
  &__thumb {
    position: relative;
    text-decoration: none;
    color: #fff;
    width: 100%;
    display: block;
    &:focus {
      outline: none;
    }
    &::before {
      content: "";
      left: 0;
      top: 0;
      position: absolute;
      background-image: url(../images/bg-speaker.png);
      background-size: cover;
      width: 100%;
      height: 100%;
    }
  }
  &__info {
    bottom: 0;
    position: absolute;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    font-size: 12px;
  }
  &__quantity {
    display: inline-flex;
    align-items: center;
  }
  &__icon {
    fill: #fff;
    width: 13px;
    height: 11px;
    margin-right: 7px;
  }
}
.gallery-btn {
  font-size: 13px;
  border: 1px solid $gray;
  border-radius: 25px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 154px;
  cursor: pointer;
  background-color: transparent;
  transition: 0.3s ease;
  &__wrap {
    text-align: center;
    margin-top: 55px;
  }
  &__text {
    margin-left: 10px;
    margin-bottom: 2px;
  }
  &__svg {
    fill: $black;
    transition: 0.3s ease;
    display: block;
  }
  @include desktop-hover() {
    &:hover {
      background-color: $red;
      color: #fff;
      border-color: $red;
      .gallery-btn__icon {
        animation: spin 1s infinite linear;
      }
      .gallery-btn__svg {
        fill: #fff;
      }
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
