.header {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 77px;
  display: flex;
  align-items: center;
  transform: translateY(0);
  transition: transform 0.3s ease-in-out;
  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__col {
    display: flex;
    align-items: center;
  }
  &__btn {
    @media only screen and (max-width: 767px) {
      display: none;
    }
  }
  .logo__img--black {
    display: none;
  }
  &--common {
    position: fixed;
    background-color: #fff;
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.1);
    .logo__img--black {
      display: block;
    }
    .logo__img--white {
      display: none;
    }
    .header-nav__item {
      color: $black;
    }
    .search-form__btn {
      .search-btn__icon {
        fill: #fff;
      }
    }
    .search-btn__icon,
    .menu-btn__icon {
      fill: $black;
    }
  }
  &.fixed,
  &.active {
    position: fixed;
    background-color: #fff;
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.1);
    .logo__img--black {
      display: block;
    }
    .logo__img--white {
      display: none;
    }
    .header-nav__item {
      color: $black;
    }
    .search-form__btn {
      .search-btn__icon {
        fill: #fff;
      }
    }
    .search-btn__icon,
    .menu-btn__icon {
      fill: $black;
    }
    .header__btn {
      display: none;
    }
    .header-phone__box {
      display: flex;
      @media only screen and (max-width: 767px) {
        display: none;
      }
    }
  }
  @media only screen and (max-width: 1279px) {
    position: fixed;
    background-color: #fff;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    .logo__img--black {
      display: block;
    }
    .logo__img--white {
      display: none;
    }
    .header-nav__item {
      color: $black;
    }
    .search-form__btn {
      .search-btn__icon {
        fill: #fff;
      }
    }
    .search-btn__icon,
    .menu-btn__icon {
      fill: $black;
    }
  }
  @media only screen and (max-width: 767px) {
    height: 60px;
  }
  &.searching {
    transform: translateY(77px);
  }
}

.header-nav {
  margin-right: 25px;
  @media only screen and (max-width: 1279px) {
    width: 25%;
    border-left: 1px solid #dadada;
    margin-right: 0;
    padding-left: 20px;
    padding-top: 30px;
    display: none;
  }
  &__item {
    text-decoration: none;
    color: #fff;
    margin-left: 30px;
    position: relative;
    padding-bottom: 5px;
    margin-top: -5px;
    @media only screen and (max-width: 1279px) {
      color: $black;
      display: inline-flex;
      margin-left: 0;
      font-size: 16px;
      margin-top: 10px;
    }
    &::after {
      position: absolute;
      content: "";
      left: 0;
      bottom: 0;
      border-bottom: 2px solid $red;
      width: 0;
      transition: width 0.3s ease-in-out;
    }
    &:first-child {
      margin-left: 0;
      @media only screen and (max-width: 1279px) {
        margin-top: 0;
      }
    }
    @include desktop-hover() {
      &:hover {
        &::after {
          width: 100%;
        }
      }
    }
  }
}

.lang {
  text-transform: uppercase;
  margin-left: 25px;
  font-size: 12px;
  &__item {
    text-decoration: none;
    color: $black;
    transition: 0.3s ease;
    @include desktop-hover() {
      &:hover {
        color: $red;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .logo {
    width: 170px;
    img {
      max-width: 100%;
      height: auto;
    }
  }
}

@media only screen and (max-width: 359px) {
  .logo {
    width: 130px;
  }
}

.header-phone {
  margin-right: 25px;
  display: inline-flex;
  align-items: center;
  &__link {
    text-decoration: none;
    color: $black;
    margin-left: 8px;
    font-size: 14px;
  }
  &__box {
    display: none;
    align-items: center;
  }
  &__callback {
    border: 1px solid $red;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: transparent;
    transition: 0.3s ease;
    &:hover {
      background-color: $red;
      .header-phone__icon {
        fill: #fff;
      }
    }
  }
  &__icon {
    fill: $red;
    width: 14px;
    height: 14px;
    transition: 0.3s ease;
  }
  &__picture {
    fill: $black;
    width: 14px;
    height: 14px;
  }
}