.help-section {
  background-size: cover;
  background-position: 50% 50%;
  min-height: 530px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
  @media only screen and (max-width: 1023px) {
    min-height: 350px;
  }
  &__box {
    position: relative;
    color: #fff;
    z-index: 1;
  }
  &::after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(41, 45, 57, 0.7);
  }
}