.info-section {
  background-image: url(../images/bg-info.png);
  background-repeat: no-repeat;
  background-position: 100% 100%;
  padding-bottom: 75px;
  padding-top: 75px;
  @media only screen and (max-width: 1023px) {
    background-position: 50% 50%;
    padding-bottom: 35px;
    padding-top: 35px;
  }
  &__box {
    max-width: 465px;
    @media only screen and (max-width: 1023px) {
      max-width: 100%;
    }
  }
  &__text {
    height: 160px;
    margin-bottom: 30px;
  }
}
