.input {
  width: 100%;
  height: 32px;
  line-height: 32px;
  border: none;
  border-bottom: 1px solid $gray;
  transition: 0.2s ease;
  box-shadow: none;
  border-radius: 0;
  &:focus {
    outline: none;
    border: none;
    border-bottom: 1px solid $black;
    box-shadow: none;
  }
  &__row {
    position: relative;
  }
  &.error {
    border-color: $red;
    &+label {
      color: $red;
    }
  }
  &--transparent {
    background-color: transparent;
    border-color: #545967;
    color: #afb2bd;
    +label {
      color: #afb2bd;
    }
  }
}

.label {
  position: absolute;
  left: 0;
  top: 9px;
  font-size: 12px;
  transition: top 0.2s ease-in-out, font-size 0.2s ease-in-out, color 0.2s ease-in-out;
  color: #a1a1a1;
  &.active {
    font-size: 9px;
    top: -10px;
    color: $black;
  }
}

.wpcf7-form-control-wrap {
  display: block;
}

span.wpcf7-not-valid-tip {
  position: absolute;
  width: 100%;
  bottom: -22px;
  font-size: 12px;
}

@media only screen and (max-width: 767px) {
  .training-form span.wpcf7-not-valid-tip {
    background-color: #fff;
    line-height: 20px;
    padding: 0 27px;
    text-align: center;
    bottom: -88px;
    border-radius: 10px;
  }
}