.main-section {
  height: 100vh;
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  @media only screen and (max-width: 1279px) {
    height: calc(100vh - 77px);
    margin-top: 77px;
  }
  @media only screen and (max-width: 767px) {
    margin-top: 60px;
    height: calc(80vh - 60px);
  }
  &__box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    @media only screen and (max-width: 1023px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  &__title {
    color: #fff;
    font-family: $font;
    font-weight: bold;
    font-size: 45px;
    max-width: 605px;
    @media only screen and (max-width: 1023px) {
      margin-bottom: 30px;
      font-size: 36px;
    }
    @media only screen and (max-width: 767px) {
      font-size: 24px;
    }
    &::after {
      content: "";
      width: 8px;
      height: 8px;
      background-color: $red;
      position: absolute;
      bottom: 9px;
    }
  }
  &::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }
  &__video {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    video {
      width: auto;
      min-width: 100%;
      height: auto;
      min-height: 100vh;
    }
    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.4);
      left: 0;
      top: 0;
      z-index: 1;
    }
  }
}

.main-more {
  display: inline-flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
  max-width: 215px;
  @include desktop-hover() {
    &:hover {
      .main-more__btn {
        background-color: $red;
        &::before {
          background-color: rgba(240, 71, 63, 0.4);
        }
      }
    }
  }
  &__btn {
    display: inline-flex;
    width: 65px;
    height: 65px;
    background-color: $black;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: 0.3s ease;
    @media only screen and (max-width: 1023px) {
      background-color: $red;
      width: 45px;
      height: 45px;
    }
    &::before {
      position: absolute;
      content: "";
      left: -16px;
      top: -16px;
      bottom: -16px;
      right: -16px;
      background-color: rgba(41, 45, 57, 0.4);
      border-radius: 50%;
      transition: 0.3s ease;
      animation: pulse 5s linear 2s infinite alternate;
      @media only screen and (max-width: 1023px) {
        display: none;
      }
    }
  }
  &__icon {
    fill: #fff;
    width: 7px;
    height: 12px;
    position: relative;
  }
  &__text {
    text-transform: uppercase;
    font-size: 10px;
    line-height: 16px;
    max-width: 100px;
    margin-left: 40px;
    @media only screen and (max-width: 1023px) {
      margin-left: 20px;
    }
  }
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }
  50% {
    transform: scale3d(1.15, 1.15, 1.15);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}

.main-contacts {
  @media only screen and (max-width: 767px) {
    display: none;
  }
  &__wrap {
    position: absolute;
    bottom: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }
  &__item {
    color: #fff;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    margin-left: 40px;
    font-size: 12px;
    &:first-child {
      margin-left: 0;
    }
  }
  &__icon {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: $black;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    margin-right: 10px;
  }
  &__svg {
    fill: #fff;
  }
}

.main-socials {
  display: flex;
  &__item {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    border: 1px solid rgba(255, 255, 255, 0.45);
    margin-left: 15px;
    position: relative;
    &:first-child {
      margin-left: 0;
    }
    @include desktop-hover() {
      &:hover {
        .main-circle__icon {
          stroke-dashoffset: 75;
        }
      }
    }
  }
  &__icon {
    fill: #fff;
  }
}

.main-circle {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  &__svg {
    overflow: visible !important;
    width: 30px;
    height: 30px;
  }
  &__icon {
    fill: transparent;
    stroke: #fff;
    stroke-width: 2;
    stroke-dasharray: 75;
    transition: stroke-dashoffset 0.3s;
    stroke-dashoffset: 0;
  }
}