.management-list {
  display: flex;
  flex-wrap: wrap;
  flex: 0 1 auto;
  margin-right: -3px;
  margin-left: -3px;
  &__box {
    width: 50%;
    padding-right: 3px;
    padding-left: 3px;
    margin-top: 6px;
    @media only screen and (max-width: 767px) {
      width: 100%;
    }
  }
  &__item {
    display: inline-flex;
    height: 367px;
    position: relative;
    color: #fff;
    text-decoration: none;
    padding: 25px 30px;
    background-size: cover;
    overflow: hidden;
    @media only screen and (max-width: 767px) {
      padding: 15px;
      height: 280px;
    }
    &::before {
      position: absolute;
      content: "";
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(41, 45, 57, 0.6);
    }
    &::after {
      position: absolute;
      content: "";
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(240, 71, 63, 0.6);
      opacity: 0;
      transform: translateY(100%);
      transition: 0.3s opacity ease-in-out, 0.3s transform ease-in-out;
    }
    @include desktop-hover() {
      &:hover {
        &:after {
          opacity: 1;
          transform: translateY(0);
        }
        .management-list__text {
          color: #fff;
          height: 66px;
        }
      }
    }
  }
  &__title {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 8px;
    font-weight: bold;
    font-family: $font;
    text-transform: uppercase;
  }
  &__text {
    font-size: 14px;
    line-height: 22px;
    overflow: hidden;
    height: 44px;
    color: #d3d5da;
    transition: 0.3s color ease-in-out, 0.3s height ease-in-out;
  }
  &__content {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-right: 70px;
    width: 100%;
    z-index: 1;
  }
  &__btn {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
