.menu {
  position: fixed;
  z-index: 5;
  background-color: #fff;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: translateY(-200%);
  opacity: 0;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  &.active {
    transform: translateY(0);
    opacity: 1;
  }
  &__top {
    border-bottom: 1px solid $gray;
    height: 77px;
    display: flex;
    align-items: center;
    @media only screen and (max-width: 767px) {
      height: 60px;
    }
  }
  &__bottom {
    border-top: 1px solid $gray;
    height: 96px;
    display: flex;
    align-items: center;
    justify-content: center;
    @media only screen and (max-width: 767px) {
      height: 60px;
    }
  }
  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__col {
    display: flex;
    align-items: center;
  }
}

.menu-middle {
  display: flex;
  flex: 1 0 auto;
  @media only screen and (max-width: 1023px) {
    flex-wrap: wrap;
    flex: none;
  }
  @media only screen and (max-width: 767px) {
    height: calc(100vh - 200px);
    padding-right: 0;
  }
  .mCustomScrollBox {
    width: 100%;
  }
  .mCSB_inside>.mCSB_container {
    margin-right: 15px;
  }
  &__col {
    border-left: 1px solid $gray;
    width: 33.33%;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media only screen and (max-width: 1279px) {
      width: 25%;
      justify-content: flex-start;
      padding-top: 30px;
    }
    @media only screen and (max-width: 1023px) {
      width: 50%;
    }
    @media only screen and (max-width: 767px) {
      width: 100%;
      padding-left: 0;
      border-left-color: transparent;
      align-items: center;
      text-align: center;
      padding-top: 15px;
      margin-top: 15px;
      border-top: 1px solid $gray;
    }
    &:first-child {
      border-left-color: transparent;
      padding-left: 0;
      @media only screen and (max-width: 767px) {
        margin-top: 0;
        border-top-color: transparent;
      }
    }
    &--3 {
      @media only screen and (max-width: 1023px) {
        padding-left: 0;
        border-left-color: transparent;
      }
    }
  }
}

.menu-btn {
  cursor: pointer;
  margin-left: 25px;
  &__icon {
    width: 18px;
    height: 12px;
    fill: #fff;
  }
}

.menu-list {
  display: flex;
  flex-direction: column;
  min-height: 318px;
  margin: 0;
  padding: 0;
  list-style: none;
  @media only screen and (max-width: 767px) {
    min-height: 0;
  }
  &__item {
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 25px;
    @media only screen and (max-width: 767px) {
      font-size: 16px;
      margin-top: 15px;
    }
    &:first-child {
      margin-top: 0;
    }
    &--small {
      font-size: 15px;
      text-transform: none;
    }
    &--heading {
      position: relative;
      @media only screen and (max-width: 1023px) {
        padding-left: 0;
        color: $red;
      }
      &::after {
        position: absolute;
        content: "";
        left: -20px;
        border-left: 2px solid $red;
        top: 5px;
        height: 14px;
        @media only screen and (max-width: 1023px) {
          display: none;
        }
      }
    }
  }
  &__link {
    color: $black;
    text-decoration: none;
    transform: translateX(0);
    display: inline-block;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
    position: relative;
    @include desktop-hover() {
      &:hover {
        color: $red;
        transform: translateX(10px);
      }
    }
  }
}