.motto-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
  @media only screen and (max-width: 1023px) {
    padding: 30px 15px;
  }
  &__title {
    position: relative;
    font-size: 18px;
    line-height: 26px;
    max-width: 750px;
    text-align: center;
    padding-top: 30px;
    @media only screen and (max-width: 1023px) {
      font-size: 16px;
      line-height: 22px;
    }
    &::before {
      content: "";
      position: absolute;
      width: 64px;
      top: 0;
      left: 50%;
      border-top: 4px solid $red;
      transform: translateX(-50%);
    }
  }
}
