.news-section {
  &__btn {
    text-align: center;
  }
}

.news-slider {
  margin-bottom: 50px;
  max-width: 1280px;
  .slick-list {
    margin: 0 -19px;
  }
  .slick-slide {
    margin: 0 19px;
  }
  &__item {
    max-width: 400px;
    text-align-last: left;
  }
  &__thumb {
    position: relative;
    margin-bottom: 20px;
    display: block;
    @media only screen and (max-width: 1280px) {
      img {
        width: 100%;
        height: auto;
      }
    }
    &::before {
      position: absolute;
      content: "";
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(240, 71, 63, 0.4);
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
    }
    @include desktop-hover() {
      &:hover {
        &::before {
          opacity: 1;
        }
      }
    }
  }
  &__title {
    text-decoration: none;
    color: $black;
    font-size: 22px;
    font-family: $font;
    font-weight: bold;
    margin-bottom: 10px;
    display: inline-block;
    transition: 0.3s ease;
    @media only screen and (max-width: 767px) {
      font-size: 16px;
    }
    @include desktop-hover() {
      &:hover {
        color: $red;
      }
    }
  }
  &__text {
    font-size: 12px;
    line-height: 20px;
  }
  &__arrow {
    position: absolute;
    top: 110px;
  }
}

.news-pagination {
  margin: 65px 0 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  &--left {
    justify-content: flex-start;
  }
  &__item {
    width: 34px;
    height: 34px;
    margin: 0 5px 10px;
    border: 1px solid $gray;
    border-radius: 50%;
    text-align: center;
    line-height: 34px;
    font-size: 12px;
    overflow: hidden;
    &.active {
      background-color: $red;
      color: #fff;
      border-color: $red;
    }
  }
  &__link {
    text-decoration: none;
    display: block;
    height: 100%;
    width: 100%;
    color: $black;
    transition: 0.3s ease;
    @include desktop-hover() {
      &:hover {
        background-color: $red;
        color: #fff;
        .news-pagination__svg {
          fill: #fff;
        }
      }
    }
  }
  &__svg {
    width: 4px;
    height: 7px;
    fill: $black;
    transition: 0.3s ease;
  }
}

.news-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -24px;
  margin-top: -45px;
  &__item {
    max-width: 365px;
    margin-left: 24px;
    margin-top: 45px;
    @media only screen and (max-width: 1279px) {
      max-width: 315px;
    }
    @media only screen and (max-width: 1023px) {
      max-width: 357px;
    }
    @media only screen and (max-width: 767px) {
      max-width: 100%;
    }
  }
}