.participants {
  &__title {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
  }
}

.participants-box {
  display: flex;
  border-top: 3px solid #f5f6f7;
  padding: 25px 150px 0;
  margin-bottom: 30px;
  @media only screen and (max-width: 1279px) {
    padding: 25px;
  }
  @media only screen and (max-width: 767px) {
    flex-direction: column;
    padding: 15px 0 0;
  }
}

.participants-date {
  font-family: $font;
  text-align: center;
  text-transform: uppercase;
  width: 190px;
  &__month {
    background-color: $red;
    color: #fff;
    border-radius: 10px 10px 0 0;
    line-height: 46px;
  }
  &__days {
    border: 4px solid #caccd3;
    border-radius: 0 0 10px 10px;
    border-top: none;
    padding: 30px 0;
    text-transform: uppercase;
    font-size: 40px;
  }
  &__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 275px;
    margin-right: 100px;
    @media only screen and (max-width: 1023px) {
      margin-right: 30px;
    }
    @media only screen and (max-width: 767px) {
      margin-right: 0;
      flex: none;
      margin-bottom: 20px;
    }
  }
}

.participants-address {
  border-top: 1px solid #f5f6f7;
  margin-top: 20px;
  padding-top: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  &__icon {
    fill: $black;
  }
  &__text {
    font-size: 16px;
    font-style: normal;
    margin-left: 8px;
  }
}

.participants-price {
  &__title {
    font-family: $font;
    font-weight: bold;
    color: $black;
    font-size: 16px;
    margin-bottom: 10px;
    &--bold {
      color: $red;
      display: inline-block;
      text-transform: uppercase;
      font-size: 18px;
    }
  }
  &__icon {
    fill: $red;
    width: 20px;
    height: 20px;
    margin-right: 8px;
  }
  &__additional {
    color: #666;
    display: flex;
    align-items: center;
  }
  &__note {
    font-size: 14px;
    color: #666;
    line-height: 20px;
  }
  &__row {
    margin-top: 15px;
  }
}

.participants-cost {
  flex: 0 0 160px;
  margin-right: 30px;
  &__wrap {
    display: flex;
    align-items: center;
  }
  &__title {
    font-size: 13px;
    color: #666;
    margin-bottom: 5px;
  }
  &__number {
    color: $red;
    font-family: $font;
    font-weight: bold;
    font-size: 32px;
  }
}

.participants-discount {
  background-color: #f5f6f7;
  position: relative;
  padding: 7px 20px;
  &::after {
    position: absolute;
    content: "";
    left: -10px;
    top: 50%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7.5px 10px 7.5px 0;
    border-color: transparent #f5f6f7 transparent transparent;
    transform: translateY(-50%);
  }
  &__row {
    font-size: 14px;
    line-height: 22px;
  }
  &__number {
    color: $red;
    display: inline-block;
    text-transform: uppercase;
    font-size: 18px;
    font-family: $font;
    font-weight: bold;
  }
}

.participants-triggers {
  display: flex;
  justify-content: space-between;
  border-top: 2px solid $red;
  padding-top: 18px;
  padding-bottom: 75px;
  @media only screen and (max-width: 1023px) {
    flex-wrap: wrap;
    align-items: center;
    padding: 18px;
  }
  &__item {
    max-width: 250px;
    display: inline-flex;
    align-items: center;
    @media only screen and (max-width: 1023px) {
      width: 50%;
      max-width: none;
      margin-top: 10px;
    }
    @media only screen and (max-width: 767px) {
      width: 100%;
    }
  }
  &__icon {
    fill: $blue;
    width: 20px;
    height: 20px;
  }
  &__thumb {
    display: inline-flex;
    width: 49px;
    height: 49px;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    border-radius: 50%;
    border: 1px solid $gray;
  }
  &__text {
    font-size: 15px;
  }
}