.partners-section {
  height: 585px;
  background-size: cover;
  background-position: 50% 30%;
  position: relative;
  @media only screen and (max-width: 413px) {
    height: 300px;
  }
  &::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(41, 45, 57, 0.6);
  }
  &__title {
    color: $black;
  }
  @media only screen and (max-width: 767px) {
    .heading {
      padding: 0 15px;
    }
  }
  &__wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }
}

.arrow-bottom {
  display: inline-flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.45);
  justify-content: center;
  align-items: center;
  position: relative;
  transition: 0.3s ease;
  &__icon {
    width: 13px;
    height: 8px;
    fill: rgba(255, 255, 255, 0.45);
    transition: 0.3s ease;
  }
  &__wrap {
    position: relative;
    text-align: center;
    padding-bottom: 30px;
  }
  @include desktop-hover() {
    &:hover {
      border-color: #fff;
      .arrow-bottom__icon {
        fill: #fff;
      }
    }
  }
}

.partners-conditions {
  display: flex;
  align-items: center;
  &__thumb {
    width: 50%;
    @media only screen and (max-width: 1023px) {
      display: none;
    }
  }
  &__content {
    width: 50%;
    position: relative;
    @media only screen and (max-width: 1023px) {
      width: 100%;
    }
  }
  &__insert {
    position: absolute;
    top: -55px;
    left: 50%;
    font-family: $font;
    text-transform: uppercase;
    font-weight: bold;
    color: #f2f2f2;
    font-size: 65px;
    transform: translateX(-50%);
    @media only screen and (max-width: 767px) {
      display: none;
    }
  }
  &__title {
    font-family: $font;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    font-size: 22px;
    padding-left: 22px;
    margin-bottom: 15px;
    &::before {
      content: "";
      left: 0;
      top: 0;
      position: absolute;
      height: 100%;
      border-left: 4px solid $red;
    }
  }
  &__text {
    max-height: 310px;
  }
  &__wrap {
    padding-top: 77px;
    @media only screen and (max-width: 767px) {
      padding-top: 60px;
    }
  }
}