.pharmacy-insert {
  border: 1px solid $gray;
  height: 367px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  @media only screen and (max-width: 767px) {
    padding: 30px 15px;
  }
  &__note {
    padding-top: 40px;
    position: relative;
    margin-bottom: 15px;
    &::after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      border-top: 4px solid $red;
      width: 64px;
    }
  }
  &__title {
    color: $red;
    text-transform: uppercase;
    font-weight: bold;
    font-family: $font;
    font-size: 26px;
    margin-bottom: 45px;
    max-width: 460px;
    @media only screen and (max-width: 767px) {
      font-size: 18px;
    }
  }
}

.pharmacy-quote {
  background-color: $black;
  display: flex;
  justify-content: center;
  height: 230px;
  align-items: center;
  padding: 15px;
  text-align: center;
  @media only screen and (max-width: 767px) {
    display: none;
  }
  &__box {
    max-width: 715px;
  }
  &__text {
    color: #d9dce5;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 22px;
    font-style: italic;
    position: relative;
    &::before {
      content: ' " ';
      color: #4d515d;
      font-size: 90px;
      position: absolute;
      top: -10px;
      left: -30px;
    }
  }
  &__title {
    text-transform: uppercase;
    font-weight: bold;
    font-family: $font;
    font-size: 16px;
    line-height: 22px;
    color: #d9dce5;
    padding: 0 25;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      border-left: 4px solid $blue;
      height: 31px;
      top: 50%;
      transform: translateY(-50%);
    }
    &::after {
      content: "";
      position: absolute;
      right: 0;
      border-left: 4px solid $blue;
      height: 31px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
