.popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  visibility: hidden;
  transition: visibility 0.3s ease;
  &__overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  &__holder {
    background-color: #fff;
    position: relative;
    max-width: 540px;
    margin: 0 auto;
    top: 50%;
    transform: translate3d(0, -250%, 0);
    opacity: 0;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    padding: 55px 100px 54px;
    @media only screen and (max-width: 767px) {
      padding: 30px 20px;
      margin: 0 10px;
    }
    &--cases {
      padding: 54px 40px;
      @media only screen and (max-width: 767px) {
        padding: 40px 15px;
      }
    }
    &--speaker {
      max-width: 1035px;
      padding: 50px 50px 49px;
      @media only screen and (max-width: 1279px) {
        margin: 0 15px;
        padding: 40px 15px;
      }
    }
  }
  &.active {
    visibility: visible;
    .popup__holder {
      transform: translate3d(0, -50%, 0);
      opacity: 1;
    }
  }
  &__close {
    position: absolute;
    right: 15px;
    top: 15px;
  }
}

.popup-form {
  &__title {
    color: $black;
    text-transform: uppercase;
    font-family: $font;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    margin-bottom: 40px;
    @media only screen and (max-width: 767px) {
      font-size: 16px;
      margin-bottom: 15px;
    }
  }
  &__row {
    margin-top: 30px;
    &:first-child {
      margin-top: 0;
    }
    &--center {
      text-align: center;
    }
    &--insert {
      height: 76px;
    }
  }
}

.modal-close {
  display: flex;
  align-items: center;
  color: $black;
  cursor: pointer;
  transition: 0.3s ease;
  &__text {
    font-size: 12px;
    margin-right: 15px;
  }
  &__icon {
    width: 15px;
    height: 15px;
    fill: $black;
    transition: 0.3s ease;
  }
  @include desktop-hover() {
    &:hover {
      color: $red;
      .modal-close__icon {
        fill: $red;
      }
    }
  }
}

.success-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  &__image {
    margin-bottom: 25px;
  }
  &__title {
    text-transform: uppercase;
    font-family: $font;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
  }
  &__note {
    line-height: 22px;
    font-size: 14px;
    width: 100%;
  }
}