.reviews-tabs {
  margin-bottom: 25px;
  display: flex;
  &__link {
    display: inline-flex;
    margin-left: 40px;
    text-decoration: none;
    color: #999;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
    transition: 0.3s ease;
    &:first-child {
      margin-left: 0;
    }
    &.active {
      border-bottom-color: $red;
      color: $red;
    }
  }
}
.solo-reviews {
  &__item {
    display: flex;
    align-items: center;
    padding: 50px 65px;
    border: 1px solid $gray;
    border-top-color: transparent;
    @media only screen and (max-width: 767px) {
      padding: 15px;
      flex-direction: column;
    }
    &:first-child {
      border-top-color: $gray;
    }
  }
  &__thumb {
    border-radius: 50%;
    overflow: hidden;
    background-color: #e9eaea;
    flex: 0 0 165px;
    margin-right: 40px;
    padding: 0 10px;
    height: 165px;
    display: inline-flex;
    align-items: flex-end;
    @media only screen and (max-width: 767px) {
      width: 165px;
      flex: none;
      margin-right: 0;
      margin-bottom: 15px;
    }
  }
  &__image {
    max-width: 100%;
    height: auto;
  }
  &__content {
    flex: 1 1 auto;
  }
  &__title {
    font-family: $font;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 18px;
  }
  &__position {
    color: $red;
    margin-bottom: 15px;
    font-style: italic;
  }
  &__text {
    height: 145px;
  }
}
.company-reviews {
  display: flex;
  border-left: 1px solid $gray;
  flex-wrap: wrap;
  &__item {
    width: 25%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 45px;
    border-right: 1px solid $gray;
    border-bottom: 1px solid $gray;
    border-top: 1px solid transparent;
    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4) {
      border-top-color: $gray;
    }
    &:focus {
      outline: none;
    }
    @media only screen and (max-width: 767px) {
      padding: 15px;
    }
  }
  &__image {
    width: 100%;
    height: auto;
  }
}
