.search-page {
  max-width: 870px;
  min-height: 319px;
  &__info {
    padding-bottom: 15px;
    margin-bottom: 35px;
    border-bottom: 1px solid $gray;
  }
  &__list {
    counter-reset: myCounter;
  }
  &__heading {
    font-family: $font;
    font-weight: bold;
    font-size: 20px;
  }
  &__item {
    padding-bottom: 35px;
    margin-bottom: 35px;
    border-bottom: 1px solid $gray;
  }
  &__title {
    font-family: $font;
    font-weight: bold;
    margin-bottom: 5px;
    &::before {
      counter-increment: myCounter;
      content: counter(myCounter) ".";
      margin-right: 3px;
    }
  }
  &__text {
    font-size: 13px;
    line-height: 22px;
  }
  &__box {
    max-width: 395px;
    margin-bottom: 30px;
    display: none;
  }
}