.search {
  margin-left: 25px;
  position: relative;
  @media only screen and (max-width: 767px) {
    position: static;
  }
  &__box {
    position: fixed;
    width: 100%;
    height: 77px;
    left: 0;
    top: 0;
    z-index: 4;
    transform: translateY(-77px);
    transition: transform 0.3s ease-in-out;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-bottom: 2px solid #dadada;
    &.searching {
      transform: translateY(0);
      .search-form__align::after {
        opacity: 1;
        transform: rotateZ(45deg) translateY(0);
      }
    }
  }
}

.search-btn {
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  &__icon {
    fill: #fff;
    width: 13px;
    height: 14px;
  }
}

.search-form {
  position: relative;
  &__input {
    width: 100%;
    background-color: #fff;
    border-radius: 0;
    height: 46px;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 46px;
    padding: 0 55px 0 0;
    border: none;
    &:focus {
      outline: none;
    }
  }
  &__btn {
    position: absolute;
    background-color: $black;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    right: 0;
    top: 3px;
    padding: 0;
    text-align: center;
    @media only screen and (max-width: 1024px) {
      display: inline-block;
    }
    &:focus {
      outline: none;
    }
  }
  &__align {
    position: relative;
    @media only screen and (max-width: 1679px) {
      padding-right: 45px;
    }
    @media only screen and (max-width: 1365px) {
      padding-right: 80px;
    }
    &::after {
      content: "";
      background-color: #fff;
      border-right: 2px solid #b5bfc8;
      border-bottom: 2px solid #b5bfc8;
      width: 25px;
      height: 25px;
      bottom: -28px;
      right: 53px;
      position: absolute;
      transform: rotateZ(45deg) translateY(-100%);
      opacity: 0;
      transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
      @media only screen and (max-width: 1365px) {
        right: 67px;
      }
    }
  }
}

.search-close {
  position: absolute;
  cursor: pointer;
  right: 50px;
  top: 50%;
  transform: translateY(-50%);
  @media only screen and (max-width: 1365px) {
    right: 15px;
  }
}