.services {
  display: flex;
  flex-wrap: wrap;
  @media only screen and (max-width: 1279px) {
    padding: 0;
  }
  &__item {
    width: 25%;
    padding-top: 25%;
    position: relative;
    @media only screen and (max-width: 1279px) {
      padding-top: 0;
    }
    @media only screen and (max-width: 1023px) {
      width: 50%;
    }
    @media only screen and (max-width: 767px) {
      width: 100%;
    }
    &:nth-child(1) {
      background-color: #1d2633;
    }
    &:nth-child(2) {
      background-color: #303c50;
    }
    &:nth-child(3) {
      background-color: #f0473f;
    }
    &:nth-child(4) {
      background-color: #3a95cb;
    }
  }
  &__top {
    width: 100%;
  }
  &__box {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 125px 50px;
    @media only screen and (max-width: 1679px) {
      padding: 25px 20px;
    }
    @media only screen and (max-width: 1279px) {
      position: relative;
    }
  }
  &__btn {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    width: 205px;
    border: 2px solid transparent;
    font-size: 18px;
    text-align: center;
    line-height: 43px;
    border-radius: 25px;
    transition: 0.3s ease;
    cursor: pointer;
    @media only screen and (max-width: 767px) {
      font-size: 14px;
    }
    @include desktop-hover() {
      &:hover {
        border-color: #fff;
      }
    }
  }
  &__title {
    font-size: 21px;
    font-family: $font;
    font-weight: bold;
    text-align: center;
    line-height: 24px;
    height: 48px;
    margin-bottom: 15px;
    padding: 0 11px;
    @media only screen and (max-width: 767px) {
      height: auto;
      font-size: 16px;
    }
  }
}