.sidebar {
  position: fixed;
  width: 350px;
  background-color: #292d39;
  z-index: 2;
  padding: 50px 30px 30px;
  transform: translateX(-100%);
  opacity: 1;
  transition: 0.3s ease-in-out;
  @media only screen and (max-width: 1279px) {
    display: none;
  }
  &__title {
    color: #fff;
    font-family: $font;
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 20px;
  }
  &.active {
    .sidebar-box {
      opacity: 1;
      transform: translateY(0);
    }
  }
  &.bottom {
    position: absolute;
    top: auto !important;
    bottom: 384px;
  }
  &.fade {
    opacity: 0;
    z-index: -1;
  }
  &.stop {
    position: absolute;
    top: auto !important;
    bottom: 339px;
  }
  &__wrap {
    .btn--full {
      display: block;
      width: 246px;
      margin: 0 auto;
    }
  }
}

.sidebar-box {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background: url(../images/bg-sidebar.jpg) 50% 50%;
  background-size: cover;
  padding: 30px;
  opacity: 0;
  transform: translateY(-100%);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  &::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(41, 45, 57, 0.6);
  }
  &__content {
    position: relative;
    width: 100%;
  }
  &__title {
    color: #fff;
    font-family: $font;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    font-size: 22px;
  }
  .btn--full {
    display: block;
    width: 246px;
    margin: 0 auto;
  }
}

.sidebar-training {
  margin-bottom: 35px;
  margin-top: 40px;
  &__row {
    margin-top: 25px;
    &:first-child {
      margin-top: 0;
    }
  }
  &__info {
    color: #abafb9;
    display: flex;
    align-items: center;
    font-size: 16px;
    margin-top: 8px;
    &:first-child {
      margin-top: 0;
    }
  }
  &__thumb {
    border-radius: 50%;
    background-color: #3a3f4d;
    width: 30px;
    height: 30px;
    margin-right: 12px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  &__icon {
    fill: #fff;
  }
}

.sidebar-calendar {
  display: flex;
  background-color: #3a3f4d;
  border-bottom: 2px solid $red;
  color: #fff;
  padding: 10px;
  &__title {
    font-size: 12px;
    color: $red;
    margin-bottom: 5px;
  }
  &__number {
    font-family: $font;
    font-weight: bold;
    font-size: 20px;
  }
  &__col {
    display: inline-flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

.sidebar-discount {
  padding-top: 25px;
  border-top: 1px solid #3a3f4d;
  &__row {
    color: #abafb9;
    font-size: 13px;
    line-height: 20px;
  }
  &__red {
    color: $red;
    display: inline-block;
  }
}