.speakers-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -14px;
  margin-top: -14px;
  @media only screen and (max-width: 1279px) {
    justify-content: center;
  }
  &__item {
    width: 275px;
    height: 250px;
    position: relative;
    background-color: #e7e5e7;
    padding: 15px 20px;
    overflow: hidden;
    margin-left: 14px;
    margin-top: 14px;
    &::before {
      content: "";
      left: 0;
      top: 0;
      position: absolute;
      background-image: url(../images/bg-speaker.png);
      width: 100%;
      height: 100%;
    }
    @include desktop-hover() {
      &:hover {
        .speakers-list__info {
          top: 0;
          background-color: rgba(1, 138, 189, 0.8);
        }
      }
    }
  }
  &__image {
    width: 100%;
    height: auto;
  }
  &__info {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 177px;
    padding: 15px 20px;
    color: #fff;
    background-color: transparent;
    transition: top 0.3s ease-in-out, background-color 0.3s ease-in-out;
    @media only screen and (max-width: 1279px) {
      top: 117px;
    }
  }
  &__title {
    font-weight: bold;
    font-family: $font;
    font-size: 17px;
    margin-bottom: 10px;
    line-height: 20px;
    height: 20px;
    overflow: hidden;
  }
  &__position {
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 14px;
    height: 14px;
    overflow: hidden;
  }
  &__text {
    margin-bottom: 50px;
    font-size: 12px;
    line-height: 18px;
    height: 54px;
    overflow: hidden;
    @media only screen and (max-width: 1279px) {
      display: none;
    }
  }
  &__more {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    display: inline-block;
    text-align: center;
    line-height: 45px;
    width: 154px;
    border: 1px solid #fff;
    border-radius: 25px;
    background-color: transparent;
    transition: 0.3s ease-in-out;
    display: block;
    margin: 0 auto;
    @include desktop-hover() {
      &:hover {
        background-color: rgba(255, 255, 255, 0.5);
        color: $black;
      }
    }
  }
}

.speaker-information {
  display: flex;
  justify-content: space-between;
  @media only screen and (max-width: 1023px) {
    flex-direction: column;
  }
  &__thumb {
    background-color: #e7e5e7;
    max-width: 470px;
    padding: 0 15px;
    display: inline-flex;
    align-items: flex-end;
    @media only screen and (max-width: 1023px) {
      max-width: 230px;
    }
    @media only screen and (max-width: 767px) {
      max-width: 150px;
      margin-bottom: 10px;
    }
  }
  &__image {
    max-width: 100%;
    height: auto;
  }
  &__content {
    max-width: 417px;
    @media only screen and (max-width: 1023px) {
      max-width: 100%;
    }
  }
  &__title {
    font-family: $font;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 10px;
    @media only screen and (max-width: 767px) {
      font-size: 16px;
    }
  }
  &__position {
    font-size: 12px;
    margin-bottom: 15px;
  }
  &__text {
    max-height: 400px;
    @media only screen and (max-width: 767px) {
      max-height: 200px;
    }
  }
}