.team-slider {
  max-width: 800px;
  margin: 35px auto 0;
  &__item {
    max-width: 256px;
    @media only screen and (max-width: 1023px) {
      max-width: 340px;
    }
  }
  &__thumb {
    background-color: #e7e5e7;
    margin-bottom: 10px;
    border-radius: 6px;
    height: 300px;
    display: inline-flex;
    align-items: flex-end;
    @media only screen and (max-width: 1023px) {
      height: 350px;
    }
  }
  &__image {
    width: 100%;
    height: auto;
  }
  &__title {
    font-family: $font;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
  }
  &__position {
    font-size: 12px;
  }
  &__arrow {
    top: 50%;
    transform: translateY(-50%);
  }
  .slick-slide > div {
    text-align: center;
  }
}

@media only screen and (max-width: 767px) {
  .team-section {
    padding-bottom: 50px;
  }
}
