.text {
  p {
    font-size: 14px;
    line-height: 24px;
    margin: 0 0 20px;
  }
  ul {
    margin: 0 0 20px;
    padding: 0;
    list-style: none;
    line-height: 22px;
    li {
      position: relative;
      padding-left: 20px;
      margin-top: 15px;
      &:first-child {
        margin-top: 0;
      }
      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 8px;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: $red;
      }
    }
  }
  ol {
    counter-reset: myCounter;
    margin: 0 0 20px;
    padding: 0;
    list-style: none;
    line-height: 22px;
    li {
      list-style: none;
      margin-top: 25px;
      position: relative;
      padding-left: 40px;
      &:first-child {
        margin-top: 0;
      }
      &::before {
        counter-increment: myCounter;
        content: counter(myCounter);
        color: #fff;
        position: absolute;
        left: 0;
        top: -2px;
        background-color: $red;
        display: inline-block;
        text-align: center;
        line-height: 25px;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        font-size: 12px;
      }
    }
  }
  iframe {
    max-width: 100%;
    margin: 0 0 12px;
    @media only screen and (max-width: 767px) {
      height: auto;
    }
  }
  img {
    margin-bottom: 12px;
    max-width: 100%;
    height: auto;
  }
}
