.theme-section {
  &__btn {
    text-align: center;
    margin-top: 65px;
    @media only screen and (max-width: 767px) {
      margin-top: 20px;
    }
  }
}

.theme-list {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    border-top: 1px solid #fff;
    top: 0;
    left: 0;
    width: 100%;
  }
  &::after {
    content: "";
    position: absolute;
    border-left: 1px solid #fff;
    top: 0;
    left: 0;
    height: 100%;
  }
  &__item {
    width: 25%;
    display: inline-flex;
    flex-direction: column;
    text-decoration: none;
    align-items: center;
    color: $black;
    border-left: 1px solid $gray;
    border-top: 1px solid $gray;
    padding: 50px 25px;
    background-color: transparent;
    transition: 0.3s ease;
    @media only screen and (max-width: 767px) {
      width: 50%;
      padding: 18px 25px;
    }
    @include desktop-hover() {
      &:hover {
        background-color: $red;
        color: #fff;
      }
    }
  }
  &__picture {
    margin-bottom: 15px;
  }
  &__icon {
    width: 50px;
    height: 50px;
  }
  &__title {
    text-align: center;
  }
}