.heading {
  font-family: $font;
  font-weight: bold;
  font-size: 34px;
  color: $black;
  position: relative;
  margin-bottom: 20px;
  @media only screen and (max-width: 767px) {
    font-size: 24px;
  }
  @media only screen and (max-width: 413px) {
    margin-top: 10px;
  }
  &--white {
    color: #fff;
  }
  &--center {
    text-align: center;
    padding-bottom: 15px;
    &::after {
      position: absolute;
      content: "";
      bottom: 0;
      left: 50%;
      border-bottom: 3px solid $red;
      width: 90px;
      transform: translateX(-50%);
    }
  }
  &--left {
    text-align: left;
    padding-bottom: 15px;
    &::after {
      position: absolute;
      content: "";
      bottom: 0;
      left: 0;
      border-bottom: 3px solid $red;
      width: 90px;
    }
  }
}
.note {
  max-width: 702px;
  margin: 0 auto 25px;
  text-align: center;
  line-height: 22px;
}
.section-title {
  font-family: $font;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 30px;
  padding-top: 30px;
  position: relative;
  @media only screen and (max-width: 767px) {
    font-size: 20px;
  }
  &--center {
    text-align: center;
    text-transform: uppercase;
    &::after {
      display: none;
      padding-top: 0;
    }
  }
  &::after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    border-top: 4px solid $red;
    width: 24px;
  }
}

.heading-size {
  font-size: 22px;
  font-family: $font;
  font-weight: bold;
  @media only screen and (max-width: 767px) {
    font-size: 16px;
  }
}
