.training-list {
  display: flex;
  flex-wrap: wrap;
  @media only screen and (max-width: 767px) {
    border: none;
  }
  &__item {
    width: 25%;
    background-color: #292d39;
    padding-top: 25%;
    position: relative;
    color: #fff;
    text-decoration: none;
    overflow: hidden;
    @media only screen and (max-width: 1279px) {
      padding-top: 0;
    }
    @media only screen and (max-width: 767px) {
      width: 50%;
      background-color: #f6f6f6;
      color: #292d39;
      border: 1px solid $gray;
    }
    &:nth-child(2),
    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(7) {
      background-color: #f6f6f6;
      .training-list__content {
        color: #292d39;
      }
    }
    @include desktop-hover() {
      &:hover {
        .training-list__hover {
          transform: translateY(0);
          opacity: 1;
        }
      }
    }
  }
  &__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 25px;
    @media only screen and (max-width: 1279px) {
      position: relative;
      justify-content: flex-start;
      padding: 15px;
    }
  }
  @media only screen and (max-width: 1279px) {
    &__image {
      width: 100%;
      height: auto;
    }
  }
  &__title {
    text-transform: uppercase;
    font-family: $font;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    width: 100%;
    @media only screen and (max-width: 1279px) {
      text-align: center;
      font-size: 14px;
    }
    @media only screen and (max-width: 360px) {
      font-size: 12px;
      line-height: 15px;
    }
  }
  &__text {
    line-height: 22px;
    margin-top: 20px;
  }
  &__picture {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 0 auto;
    @media only screen and (max-width: 1279px) {
      flex: none;
      width: 100%;
      height: 200px;
      margin-bottom: 10px;
    }
    @media only screen and (max-width: 1023px) {
      height: 150px;
    }
  }
  &__hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $red;
    padding: 20px 25px;
    transform: translateY(-100%);
    opacity: 0;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    @media only screen and (max-width: 1279px) {
      display: none;
    }
  }
}

.training-padding {
  padding: 90px 0;
  @media only screen and (max-width: 767px) {
    padding: 30px 0;
  }
}

.training-box {
  padding-left: 90px;
  position: relative;
  border-bottom: 1px solid $gray;
  @media only screen and (max-width: 767px) {
    padding-left: 0;
  }
  &::before {
    position: absolute;
    content: "trainings";
    left: -159px;
    top: 50%;
    font-size: 65px;
    text-transform: uppercase;
    color: #f2f2f2;
    font-family: $font;
    font-weight: bold;
    transform: translateY(-50%) rotate(-90deg);
    @media only screen and (max-width: 767px) {
      display: none;
    }
  }
}

.training-heading {
  border-left: 4px solid $red;
  padding-left: 17px;
  &__info {
    color: $red;
    margin-bottom: 10px;
  }
  &__title {
    font-family: $font;
    font-weight: bold;
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
}

.speaker-holder {
  display: flex;
  align-items: center;
  @media only screen and (max-width: 767px) {
    flex-direction: column;
  }
  &__thumb {
    background-color: #e7e5e7;
    flex: 0 0 335px;
    margin-right: 40px;
    @media only screen and (max-width: 767px) {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
  &__image {
    max-width: 100%;
    height: auto;
  }
  &__content {
    flex: 1 1 auto;
  }
  &__position {
    color: $red;
    margin-bottom: 5px;
  }
  &__title {
    position: relative;
    font-family: $font;
    font-weight: bold;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-size: 22px;
    &::after {
      position: absolute;
      content: "";
      bottom: 0;
      left: 0;
      border-bottom: 3px solid $red;
      width: 40px;
    }
  }
  &__text {
    overflow: hidden;
    line-height: 22px;
    height: 176px;
    margin-bottom: 30px;
  }
  &__more {
    display: inline-block;
    text-transform: uppercase;
    font-family: $font;
    font-size: 12px;
    color: $red;
    font-weight: bold;
    text-decoration: none;
    @include desktop-hover() {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.reason-holder {
  background-color: #393d49;
  background-image: url(../images/bg-reason.png);
  background-repeat: no-repeat;
  background-position: 90% 50%;
  padding-left: 68px;
  padding-right: 32px;
  margin: 0 -32px 0 -68px;
  &__title {
    text-transform: uppercase;
    color: #fff;
    position: relative;
    border-left: 4px solid $red;
    padding-left: 22px;
    margin-bottom: 30px;
  }
  &__list {
    padding-left: 25px;
    max-width: 750px;
  }
  &__item {
    position: relative;
    padding-left: 20px;
    line-height: 22px;
    color: #afb2bd;
    margin-top: 20px;
    &:first-child {
      margin-top: 0;
    }
    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 8px;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: $red;
    }
  }
}

.tasks-holder {
  counter-reset: myCounter;
  &__title {
    text-transform: uppercase;
    margin-bottom: 25px;
  }
  &__list {
    border-top: 1px solid $red;
  }
  &__item {
    border-top: 1px solid $gray;
    position: relative;
    padding: 20px 0 20px 40px;
    &:first-child {
      border-top-color: transparent;
    }
    &::before {
      counter-increment: myCounter;
      content: counter(myCounter);
      color: #fff;
      position: absolute;
      left: 0;
      top: 16px;
      background-color: $red;
      display: inline-block;
      text-align: center;
      line-height: 25px;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      font-size: 12px;
    }
  }
}

.practicum-holder {
  &__heading {
    text-transform: uppercase;
    position: relative;
    padding-left: 25px;
    border-left: 4px solid $red;
    margin-bottom: 40px;
  }
  &__item {
    border-top: 1px solid $gray;
    padding-top: 40px;
    margin-top: 40px;
    display: flex;
    @media only screen and (max-width: 767px) {
      flex-wrap: wrap;
    }
    &:first-child {
      margin-top: 0;
    }
  }
  &__col {
    flex: 0 0 100px;
    margin-right: 20px;
  }
  &__number {
    color: #fff;
    background-color: $red;
    font-family: $font;
    font-weight: bold;
    font-size: 26px;
    line-height: 45px;
    padding: 0 15px;
    text-align: right;
  }
  &__content {
    flex: 1 1 auto;
    padding-top: 12px;
  }
  &__title {
    font-family: $font;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 20px;
  }
}

.training-form {
  background-color: #393d49;
  padding: 50px 32px 50px 68px;
  margin: 0 -32px 0 -68px;
  &__title {
    color: #fff;
    margin-bottom: 15px;
  }
  &__content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  &__col {
    width: 33.33%;
    padding-left: 10px;
    @media only screen and (max-width: 767px) {
      width: 100%;
      padding-left: 0;
      margin-top: 10px;
    }
    &:first-child {
      padding-left: 0;
    }
  }
  &__input {
    width: 100%;
    height: 100%;
    line-height: 45px;
    height: 45px;
    background-color: #fff;
    border-radius: 25px;
    padding: 0 25px;
    border: 1px solid #393d49;
    font-size: 12px;
    color: #7d8794;
    font-family: "Open Sans", sans-serif;
    &:focus {
      outline: none;
    }
  }
}

.training-event {
  &__title {
    margin-bottom: 30px;
    text-transform: uppercase;
  }
  &__list {
    margin-top: 45px;
  }
  &__item {
    border-top: 1px solid $gray;
    padding: 20px 5px;
    &:first-child {
      border-top-color: transparent;
    }
  }
  &__text {
    position: relative;
    padding-left: 22px;
    max-width: 700px;
    font-weight: 600;
    &::before {
      content: "";
      position: absolute;
      border-left: 4px solid $red;
      left: 0;
      top: 50%;
      height: 35px;
      transform: translateY(-50%);
    }
  }
}

.training-slider {
  max-width: 812px;
  &__arrow {
    top: 50%;
    transform: translateY(-50%);
    &--prev {
      left: -25px;
    }
    &--next {
      right: -25px;
    }
  }
}

.training-slider-small {
  max-width: 822px;
  margin-top: 10px;
  .slick-current {
    .training-slider-small__item {
      opacity: 1;
    }
  }
  &__item {
    opacity: 0.6;
  }
  &__image {
    cursor: pointer;
  }
  @media only screen and (max-width: 1279px) {
    display: none;
  }
}

.training-reviews {
  position: relative;
  @media only screen and (max-width: 767px) {
    padding-bottom: 70px;
  }
  &::before {
    content: "";
    position: absolute;
    height: 275px;
    background-color: #f8f9fa;
    top: 0;
    left: -68px;
    right: -32px;
  }
  &__title {
    position: relative;
    text-transform: uppercase;
    margin-bottom: 35px;
    @media only screen and (max-width: 767px) {
      max-width: 150px;
    }
  }
}

.reviews-slider {
  position: relative;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.32);
  .slick-slide>div {
    height: 250px;
    @media only screen and (max-width: 767px) {
      height: auto;
    }
  }
  &__item {
    display: flex;
    background-color: #fff;
    align-items: center;
    height: 250px;
    @media only screen and (max-width: 767px) {
      flex-direction: column;
      height: auto;
    }
  }
  &__thumb {
    background-color: #e9ebee;
    flex: 0 0 275px;
    padding: 0 15px;
    display: inline-flex;
    align-items: flex-end;
    height: 100%;
    @media only screen and (max-width: 767px) {
      flex: none;
    }
  }
  &__image {
    width: 100%;
    height: auto;
  }
  &__content {
    padding: 28px;
    height: 100%;
  }
  &__title {
    font-size: 18px;
    font-family: $font;
    font-weight: bold;
    margin-bottom: 10px;
    @media only screen and (max-width: 767px) {
      font-size: 16px;
      margin-bottom: 15px;
    }
  }
  &__position {
    position: relative;
    margin-bottom: 10px;
    padding-left: 30px;
    font-style: italic;
    color: #6f6d6d;
    &::before {
      left: 0;
      content: "";
      position: absolute;
      top: 50%;
      border-top: 2px solid $red;
      width: 20px;
    }
  }
  &__text {
    line-height: 22px;
    height: 88px;
    overflow: hidden;
    margin-bottom: 25px;
  }
  &__more {
    font-family: $font;
    font-weight: bold;
    font-size: 12px;
    color: $red;
    text-decoration: none;
    text-transform: uppercase;
    @include desktop-hover() {
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &__arrow {
    top: -72px;
    &--next {
      right: 0;
    }
    &--prev {
      right: 65px;
    }
  }
}

.more-trainings {
  &__title {
    font-size: 26px;
    @media only screen and (max-width: 767px) {
      font-size: 24px;
    }
  }
  &__row {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    @media only screen and (max-width: 767px) {
      flex-wrap: wrap;
      max-width: 350px;
      margin: 30px auto 0;
    }
  }
  &__col {
    flex-basis: 350px;
    margin: 0 10px;
    @media only screen and (max-width: 1024px) {
      text-align: center;
    }
    @media only screen and (max-width: 767px) {
      flex-basis: 100%;
      margin-top: 15px;
    }
  }
}