.trust-section {
  @media only screen and (max-width: 767px) {
    display: none;
  }
  &__box {
    height: 320px;
    background-size: auto 100%;
    display: flex;
    align-items: center;
    background-repeat: repeat-x;
    background-position: 0 0;
    animation: animate 20s linear infinite;
  }
  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    @media only screen and (max-width: 1023px) {
      flex-wrap: wrap;
    }
  }
  &__item {
    max-width: 200px;
    text-align: center;
    margin: 0 70px;
    font-family: $font;
    font-weight: bold;
    @media only screen and (max-width: 1023px) {
      margin: 20px 50px;
    }
  }
  &__number {
    color: $red;
    font-size: 48px;
    margin-bottom: 15px;
  }
}

@keyframes animate {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -100% 0;
  }
}