<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}

<body>
  {% include 'menu.html' %}
  <div class="wrapper">
    {% include 'header-common.html' %}
    <div class="content">
      <div class="error-section align">
        <div class="error-section__thumb">
          <img src="images/bg-404.png" alt="..." width="279" height="319">
        </div>
        <div class="error-section__note">Ошибка! Такая страница не найдена</div>
        <a href="/" class="btn">На главную</a>
      </div>
    </div>
  </div>

  {% include 'popup.html' %} {% include 'js.html' %}
</body>

</html>