<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}

<body>
  {% include 'menu.html' %}
  <div class="wrapper">
    {% include 'header-common.html' %}
    <div class="content">
      <div class="about-section" style="background-image: url(data/about-image-1.jpg);">
        <ul class="breadcrumbs align align--padding breadcrumbs--white">
          <li class="breadcrumbs__item">
            <a href="#" class="breadcrumbs__link">Главная</a>
          </li>
          <li class="breadcrumbs__item">О Business & People</li>
        </ul>
        <div class="about-section__box align align--padding">

          <div class="about-section__list">
            <div class="about-section__item">
              <div class="about-section__number">800+</div>
              <div class="about-section__title">проведенных тренингов</div>
            </div>
            <div class="about-section__item">
              <div class="about-section__number">350+</div>
              <div class="about-section__title">заказчиков</div>
            </div>
            <div class="about-section__item">
              <div class="about-section__number">150+</div>
              <div class="about-section__title">тренеров</div>
            </div>
          </div>
        </div>
      </div>
      <div class="about-content section">
        <div class="heading heading--center">О Business & People</div>
        <div class="text">
          <p>Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности требуют от нас анализа существенных
            финансовых и административных условий. Задача организации, в особенности же укрепление и развитие структуры способствует
            подготовки и реализации модели развития. Разнообразный и богатый опыт начало повседневной работы по формированию
            позиции требуют от нас анализа существенных финансовых и административных условий. С другой стороны сложившаяся
            структура организации позволяет оценить значение существенных финансовых и административных условий. С другой
            стороны постоянный количественный рост и сфера нашей активности способствует подготовки и реализации системы
            обучения кадров, соответствует насущным потребностям. Таким образом новая модель организационной деятельности
            представляет собой интересный эксперимент проверки новых предложений.</p>
          <p>Не следует, однако забывать, что постоянный количественный рост и сфера нашей активности влечет за собой процесс
            внедрения и модернизации форм развития. Значимость этих проблем настолько очевидна, что новая модель организационной
            деятельности позволяет оценить значение существенных финансовых и административных условий c другой стороны сложившаяся
            структура организации позволяет. оценить значение.</p>

          <img src="data/about-image-2.jpg" alt="...">
          <p style="
    font-size: 12px;
    color: #999;
    font-style:  italic;
">Описание к фотографии</p>
          <p>Значимость этих проблем настолько очевидна, что укрепление и развитие структуры влечет за собой процесс внедрения
            и модернизации новых предложений. Повседневная практика показывает, что новая модель организационной деятельности
            обеспечивает широкому кругу (специалистов) участие в формировании соответствующий условий активизации.</p>
          <p>Задача организации, в особенности же укрепление и развитие структуры влечет за собой процесс внедрения и модернизации
            форм развития. Таким образом укрепление и развитие структуры позволяет выполнять важные задания по разработке
            направлений прогрессивного развития. Задача организации, в особенности же новая модель организационной деятельности
            требуют определения и уточнения существенных финансовых и административных условий. Задача организации, в особенности
            же консультация с широким активом играет важную роль в формировании дальнейших направлений развития.</p>
          <iframe width="800" height="415" src="https://www.youtube.com/embed/vPMQdVdR0gw" frameborder="0" allow="autoplay; encrypted-media"
            allowfullscreen></iframe>
          <p style="
            font-size: 12px;
            color: #999;
            font-style:  italic;
        ">Описание к видео</p>
        </div>
      </div>
      <div class="team-section section align">
        <div class="heading heading--center">Наша команда</div>
        <div class="team-slider">
          <div class="team-slider__item">
            <div class="team-slider__thumb">
              <img class="team-slider__image" src="data/team/team-image-1.png" alt="...">
            </div>
            <div class="team-slider__title">Елена Сорокина</div>
            <div class="team-slider__position">Спикер</div>
          </div>
          <div class="team-slider__item">
            <div class="team-slider__thumb">
              <img class="team-slider__image" src="data/team/team-image-2.png" alt="...">
            </div>
            <div class="team-slider__title">Владислава Грабенко</div>
            <div class="team-slider__position">Спикер</div>
          </div>
          <div class="team-slider__item">
            <div class="team-slider__thumb">
              <img class="team-slider__image" src="data/team/team-image-3.png" alt="...">
            </div>
            <div class="team-slider__title">Тимур Демчук</div>
            <div class="team-slider__position">Спикер</div>
          </div>
          <div class="team-slider__item">
            <div class="team-slider__thumb">
              <img class="team-slider__image" src="data/team/team-image-3.png" alt="...">
            </div>
            <div class="team-slider__title">Тимур Демчук</div>
            <div class="team-slider__position">Спикер</div>
          </div>
        </div>
      </div>
      {% include 'trust-section.html' %} {% include 'callback-section.html' %} {% include 'info-section.html' %} {% include 'footer.html'
      %}
    </div>
  </div>

  {% include 'popup.html' %} {% include 'js.html' %}
</body>

</html>