<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}

<body>
  {% include 'menu.html' %}
  <div class="wrapper">
    {% include 'header-common.html' %}
    <div class="content">
      <div class="article-section">
        <div class="article-section__insert" style="background-image: url(data/bg-article.jpg);"></div>
        <ul class="breadcrumbs align align--padding breadcrumbs--white">
          <li class="breadcrumbs__item">
            <a href="#" class="breadcrumbs__link">Главная</a>
          </li>
          <li class="breadcrumbs__item">
            <a href="#" class="breadcrumbs__link">Новости</a>
          </li>
          <li class="breadcrumbs__item">Медийное тело</li>
        </ul>
        <div class="article-section__align align align--padding">
          <div class="article-section__wrap">
            <div class="about-content section">
              <time datetime="25-07-2017" class="article-section__date">25.07.2017</time>
              <div class="article-section__title">Медийное тело</div>
              <div class="text">
                <p>Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности требуют от нас анализа существенных
                  финансовых и административных условий. Задача организации, в особенности же укрепление и развитие структуры
                  способствует подготовки и реализации модели развития. Разнообразный и богатый опыт начало повседневной
                  работы по формированию позиции требуют от нас анализа существенных финансовых и административных условий.
                  С другой стороны сложившаяся структура организации позволяет оценить значение существенных финансовых и
                  административных условий. С другой стороны постоянный количественный рост и сфера нашей активности способствует
                  подготовки и реализации системы обучения кадров, соответствует насущным потребностям. Таким образом новая
                  модель организационной деятельности представляет собой интересный эксперимент проверки новых предложений.</p>
                <p>Не следует, однако забывать, что постоянный количественный рост и сфера нашей активности влечет за собой
                  процесс внедрения и модернизации форм развития. Значимость этих проблем настолько очевидна, что новая модель
                  организационной деятельности позволяет оценить значение существенных финансовых и административных условий
                  c другой стороны сложившаяся структура организации позволяет. оценить значение.</p>
                <img src="data/about-image-2.jpg" alt="...">
                <p style="
            font-size: 12px;
            color: #999;
            font-style:  italic;
        ">Описание к фотографии</p>
                <p>Значимость этих проблем настолько очевидна, что укрепление и развитие структуры влечет за собой процесс внедрения
                  и модернизации новых предложений. Повседневная практика показывает, что новая модель организационной деятельности
                  обеспечивает широкому кругу (специалистов) участие в формировании соответствующий условий активизации.</p>
                <p>Задача организации, в особенности же укрепление и развитие структуры влечет за собой процесс внедрения и
                  модернизации форм развития. Таким образом укрепление и развитие структуры позволяет выполнять важные задания
                  по разработке направлений прогрессивного развития. Задача организации, в особенности же новая модель организационной
                  деятельности требуют определения и уточнения существенных финансовых и административных условий. Задача
                  организации, в особенности же консультация с широким активом играет важную роль в формировании дальнейших
                  направлений развития.</p>
                <iframe width="800" height="415" src="https://www.youtube.com/embed/vPMQdVdR0gw" frameborder="0" allow="autoplay; encrypted-media"
                  allowfullscreen></iframe>
                <p>Значимость этих проблем настолько очевидна, что укрепление и развитие структуры влечет за собой процесс внедрения
                  и модернизации новых предложений. Повседневная практика показывает, что новая модель организационной деятельности
                  обеспечивает широкому кругу (специалистов) участие в формировании соответствующий условий активизации.
                  Задача организации, в особенности же укрепление и развитие структуры влечет за собой процесс внедрения
                  и модернизации форм развития.</p>
              </div>
              <div class="article-slider">
                <a class="article-slider__thumb" href="data/news/news-image-2.jpg" data-fancybox="article-image">
                  <img class="article-slider__image" src="data/news/news-image-2.jpg" alt="..." width="255" height="187">
                </a>
                <a class="article-slider__thumb" href="data/news/news-image-3.jpg" data-fancybox="article-image">
                  <img class="article-slider__image" src="data/news/news-image-3.jpg" alt="..." width="255" height="187">
                </a>

                <a class="article-slider__thumb" href="data/news/news-image-4.jpg" data-fancybox="article-image">
                  <img class="article-slider__image" src="data/news/news-image-4.jpg" alt="..." width="255" height="187">
                </a>
                <a class="article-slider__thumb" href="data/news/news-image-5.jpg" data-fancybox="article-image">
                  <img class="article-slider__image" src="data/news/news-image-5.jpg" alt="..." width="255" height="187">
                </a>
              </div>
              <div class="social-likes__wrap">
                <div class="social-likes__title">Поделиться:</div>
                <div class="social-likes">
                  <div class="social-likes__item twitter" title="Share link on Twitter">
                    <svg class="social-likes__icon" width="11" height="11">
                      <use xlink:href="/images/sprite.svg#twitter" />
                    </svg>
                  </div>
                  <div class="social-likes__item facebook" title="Share link on Facebook">
                    <svg class="social-likes__icon" width="8" height="15">
                      <use xlink:href="/images/sprite.svg#facebook" />
                    </svg>
                  </div>
                  <div class="social-likes__item plusone" title="Share link on Google+">
                    <svg class="social-likes__icon" width="14" height="10">
                      <use xlink:href="/images/sprite.svg#google" />
                    </svg>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section bottom-space align">
        <div class="heading heading--center">Последние новости</div>
        <div class="news-slider">
          <div class="news-slider__item">
            <a href="#" class="news-slider__thumb">
              <img src="data/news/news-image-1.jpg" alt="..." width="400" height="237">
            </a>
            <a href="#" class="news-slider__title">Интеллектуальная вечеринка</a>
            <div class="news-slider__text">Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности требуют от нас анализа</div>
          </div>
          <div class="news-slider__item">
            <a href="#" class="news-slider__thumb">
              <img src="data/news/news-image-2.jpg" alt="..." width="400" height="237">
            </a>
            <a href="#" class="news-slider__title">Интеллектуальная вечеринка</a>
            <div class="news-slider__text">Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности требуют от нас анализа</div>
          </div>
          <div class="news-slider__item">
            <a href="#" class="news-slider__thumb">
              <img src="data/news/news-image-1.jpg" alt="..." width="400" height="237">
            </a>
            <a href="#" class="news-slider__title">Интеллектуальная вечеринка</a>
            <div class="news-slider__text">Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности требуют от нас анализа</div>
          </div>
        </div>
        <div class="news-section__btn">
          <a href="#" class="btn">Другие новости</a>
        </div>
      </div>
      {% include 'footer.html' %}
    </div>
  </div>

  {% include 'popup.html' %} {% include 'js.html' %}
</body>

</html>