<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}

<body>
  {% include 'menu.html' %}
  <div class="wrapper">
    {% include 'header-common.html' %}
    <div class="content">
      <ul class="breadcrumbs align align--padding">
        <li class="breadcrumbs__item">
          <a href="#" class="breadcrumbs__link">Главная</a>
        </li>
        <li class="breadcrumbs__item">Клиенты</li>
      </ul>
      <div class="align align--padding bottom-space">
        <div class="heading">Клиенты</div>
        <div class="clients-list">
          <a href="#" rel="nofollow" target="_blank" class="clients-list__item">
            <img src="data/clients/client-image-1.png" alt="...">
          </a>
          <a href="#" rel="nofollow" target="_blank" class="clients-list__item">
            <img src="data/clients/client-image-2.png" alt="...">
          </a>
          <a href="#" rel="nofollow" target="_blank" class="clients-list__item">
            <img src="data/clients/client-image-3.png" alt="...">
          </a>
          <a href="#" rel="nofollow" target="_blank" class="clients-list__item">
            <img src="data/clients/client-image-4.png" alt="...">
          </a>
          <a href="#" rel="nofollow" target="_blank" class="clients-list__item">
            <img src="data/clients/client-image-5.png" alt="...">
          </a>
          <a href="#" rel="nofollow" target="_blank" class="clients-list__item">
            <img src="data/clients/client-image-6.png" alt="...">
          </a>
          <a href="#" rel="nofollow" target="_blank" class="clients-list__item">
            <img src="data/clients/client-image-7.png" alt="...">
          </a>
          <a href="#" rel="nofollow" target="_blank" class="clients-list__item">
            <img src="data/clients/client-image-8.png" alt="...">
          </a>
          <a href="#" rel="nofollow" target="_blank" class="clients-list__item">
            <img src="data/clients/client-image-9.png" alt="...">
          </a>
          <a href="#" rel="nofollow" target="_blank" class="clients-list__item">
            <img src="data/clients/client-image-10.png" alt="...">
          </a>
          <a href="#" rel="nofollow" target="_blank" class="clients-list__item">
            <img src="data/clients/client-image-11.png" alt="...">
          </a>
          <a href="#" rel="nofollow" target="_blank" class="clients-list__item">
            <img src="data/clients/client-image-12.png" alt="...">
          </a>
          <a href="#" rel="nofollow" target="_blank" class="clients-list__item">
            <img src="data/clients/client-image-13.png" alt="...">
          </a>
          <a href="#" rel="nofollow" target="_blank" class="clients-list__item">
            <img src="data/clients/client-image-14.png" alt="...">
          </a>
          <a href="#" rel="nofollow" target="_blank" class="clients-list__item">
            <img src="data/clients/client-image-15.png" alt="...">
          </a>
          <a href="#" rel="nofollow" target="_blank" class="clients-list__item">
            <img src="data/clients/client-image-16.png" alt="...">
          </a>
          <a href="#" rel="nofollow" target="_blank" class="clients-list__item">
            <img src="data/clients/client-image-17.png" alt="...">
          </a>
          <a href="#" rel="nofollow" target="_blank" class="clients-list__item">
            <img src="data/clients/client-image-18.png" alt="...">
          </a>
          <a href="#" rel="nofollow" target="_blank" class="clients-list__item">
            <img src="data/clients/client-image-19.png" alt="...">
          </a>
          <a href="#" rel="nofollow" target="_blank" class="clients-list__item">
            <img src="data/clients/client-image-20.png" alt="...">
          </a>
        </div>
        <div class="section cases-section">
          <div class="heading heading--center">Кейсы реализованных проектов</div>
          <div class="cases-slider">
            <div class="cases-slider__item">
              <div class="cases-slider__title">Газпром</div>
              <div class="cases-slider__text">За годы плодотворного сотрудничества с рынком медицины и фармацевтики нами накоплен опыт работы и уникальные
                авторские программы по самым разным направлениям:За годы плодотворного сотрудничества с рынком медицины и
                фармацевтики нами накоплен опыт работы и уникальные авторские программы по самым разным направлениям:</div>
              <div class="cases-slider__more">
                узнать больше
              </div>
            </div>
            <div class="cases-slider__item">
              <div class="cases-slider__title">Cisco</div>
              <div class="cases-slider__text">За годы плодотворного сотрудничества с рынком медицины и фармацевтики нами накоплен опыт работы и уникальные
                авторские программы по самым разным направлениям:За годы плодотворного сотрудничества с рынком медицины и
                фармацевтики нами накоплен опыт работы и уникальные авторские программы по самым разным направлениям:</div>
              <div class="cases-slider__more">
                узнать больше
              </div>
            </div>
            <div class="cases-slider__item">
              <div class="cases-slider__title">Альфа - банк</div>
              <div class="cases-slider__text">За годы плодотворного сотрудничества с рынком медицины и фармацевтики нами накоплен опыт работы и уникальные
                авторские программы по самым разным направлениям:За годы плодотворного сотрудничества с рынком медицины и
                фармацевтики нами накоплен опыт работы и уникальные авторские программы по самым разным направлениям:</div>
              <div class="cases-slider__more">
                узнать больше
              </div>
            </div>
            <div class="cases-slider__item">
              <div class="cases-slider__title">Тестовый кейс</div>
              <div class="cases-slider__text">За годы плодотворного сотрудничества с рынком медицины и фармацевтики нами накоплен опыт работы и уникальные
                авторские программы по самым разным направлениям:За годы плодотворного сотрудничества с рынком медицины и
                фармацевтики нами накоплен опыт работы и уникальные авторские программы по самым разным направлениям: За
                годы плодотворного сотрудничества с рынком медицины и фармацевтики нами накоплен опыт работы и уникальные
                авторские программы по самым разным направлениям:За годы плодотворного сотрудничества с рынком медицины и
                фармацевтики нами накоплен опыт работы и уникальные авторские программы по самым разным направлениям: За
                годы плодотворного сотрудничества с рынком медицины и фармацевтики нами накоплен опыт работы и уникальные
                авторские программы по самым разным направлениям:За годы плодотворного сотрудничества с рынком медицины и
                фармацевтики нами накоплен опыт работы и уникальные авторские программы по самым разным направлениям: За
                годы плодотворного сотрудничества с рынком медицины и фармацевтики нами накоплен опыт работы и уникальные
                авторские программы по самым разным направлениям:За годы плодотворного сотрудничества с рынком медицины и
                фармацевтики нами накоплен опыт работы и уникальные авторские программы по самым разным направлениям: За
                годы плодотворного сотрудничества с рынком медицины и фармацевтики нами накоплен опыт работы и уникальные
                авторские программы по самым разным направлениям:За годы плодотворного сотрудничества с рынком медицины и
                фармацевтики нами накоплен опыт работы и уникальные авторские программы по самым разным направлениям: За
                годы плодотворного сотрудничества с рынком медицины и фармацевтики нами накоплен опыт работы и уникальные
                авторские программы по самым разным направлениям:За годы плодотворного сотрудничества с рынком медицины и
                фармацевтики нами накоплен опыт работы и уникальные авторские программы по самым разным направлениям:</div>
              <div class="cases-slider__more">
                узнать больше
              </div>
            </div>
          </div>
        </div>
      </div>
      {% include 'footer.html' %}
    </div>
  </div>
  <div class="popup popup--cases">
    <div class="popup__overlay popup-close"></div>
    <div class="popup__holder popup__holder--cases">
      <div class="modal-close popup__close popup-close">
        <div class="modal-close__text">Закрыть</div>
        <svg class="modal-close__icon">
          <use xlink:href="/images/sprite.svg#close" />
        </svg>
      </div>
      <div class="cases-box">
        <div class="cases-box__title"></div>
        <div class="cases-box__scroll custom-scroll">
          <div class="cases-box__text"></div>
        </div>
      </div>
    </div>
  </div>
  {% include 'popup.html' %} {% include 'js.html' %}
</body>

</html>