<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}

<body>
  {% include 'menu.html' %}
  <div class="wrapper">
    {% include 'header-common.html' %} {% include 'sidebar.html' %}
    <div class="content">
      <div class="consulting-section first-section" style="background-image: url(data/consulting-image-1.jpg);">
        <div class="consulting-section__wrapper">
          <ul class="breadcrumbs align align--padding breadcrumbs--white">
            <li class="breadcrumbs__item">
              <a href="#" class="breadcrumbs__link">Главная</a>
            </li>
            <li class="breadcrumbs__item">Консалтинг</li>
          </ul>
          <div class="consulting-section__info align align--padding">
            <div class="consulting-section__box">
              <div class="consulting-section__title">Консалинг</div>
              <div class="consulting-section__text">Консалтинг - это профессиональная помощь со стороны внешних консультантов в анализе и решении проблем функционирования
                и развития компании. Как правило, данная помощь реализуется в виде консалтинговых проектов.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="align align--padding">
        <div class="content__sidebar">
          <div class="consulting-box__wrap">
            <div class="consulting-box">
              <div class="consulting-box__title">Когда нужен консалтинг?</div>
              <div class="consulting-box__text text">
                <ul>
                  <li>Вроде все хорошо, Компания достаточно эффективно работает. Однако есть ощущение, что бизнес топчется на
                    месте. Вы никак не можете сделать качественный рывок и выйти на принципиально новый уровень.</li>
                  <li>Вы динамично растете и столкнулись с кризисом роста. Какие-то функции дублируются, а каких-то выпадают.
                    Простое маштабирование бизнес-процесов не работает, и вашему бизнесу нужена кардинальная реструктуризация.</li>
                  <li>
                    <strong>Компания</strong> также достаточно успешна, следует принятой стратегии и тактике развития. Вы видите
                    впечатляющие обороты. А вот прибыль оставляет желать лучшего.</li>
                  <li>Бизнес находится в состоянии кризиса. Который может быть вызван как внешними причинами – политическими,
                    экономическими, коньюктурными, так и внутренними – отсутствие опыта, ошибки в управлении, подвели специалисты
                    или партнеры по бизнесу и т. д.</li>
                </ul>
              </div>
            </div>
            <div class="consulting-box consulting-box--right">
              <div class="consulting-box__note">Виды консалтинговых услуг от</div>
              <div class="consulting-box__heading">BUSINESS & PEOPLE</div>
              <div class="consulting-triggers">
                <div class="consulting-triggers__item">
                  <div class="consulting-triggers__icon">
                    <svg class="consulting-triggers__svg">
                      <use xlink:href="/images/sprite.svg#consulting-triggers-1" />
                    </svg>
                  </div>
                  <div class="consulting-triggers__title">Стратегический консалтинг</div>
                </div>
                <div class="consulting-triggers__item">
                  <div class="consulting-triggers__icon">
                    <svg class="consulting-triggers__svg">
                      <use xlink:href="/images/sprite.svg#consulting-triggers-2" />
                    </svg>
                  </div>
                  <div class="consulting-triggers__title">Аудит и оптимизация транспортной/складской логистики</div>
                </div>
                <div class="consulting-triggers__item">
                  <div class="consulting-triggers__icon">
                    <svg class="consulting-triggers__svg">
                      <use xlink:href="/images/sprite.svg#consulting-triggers-3" />
                    </svg>
                  </div>
                  <div class="consulting-triggers__title">Аудит/оптимизация/внедрение бизнес-процессов
                  </div>
                </div>
                <div class="consulting-triggers__item">
                  <div class="consulting-triggers__icon">
                    <svg class="consulting-triggers__svg">
                      <use xlink:href="/images/sprite.svg#consulting-triggers-4" />
                    </svg>
                  </div>
                  <div class="consulting-triggers__title">Повышение финансовой эффективности бизнеса </div>
                </div>
                <div class="consulting-triggers__item">
                  <div class="consulting-triggers__icon">
                    <svg class="consulting-triggers__svg">
                      <use xlink:href="/images/sprite.svg#consulting-triggers-5" />
                    </svg>
                  </div>
                  <div class="consulting-triggers__title">HR-консалтинг</div>
                </div>
                <div class="consulting-triggers__item">
                  <div class="consulting-triggers__icon">
                    <svg class="consulting-triggers__svg">
                      <use xlink:href="/images/sprite.svg#consulting-triggers-6" />
                    </svg>
                  </div>
                  <div class="consulting-triggers__title">Управленческий консалтинг</div>
                </div>
              </div>
            </div>
            <div class="consulting-box">
              <div class="consulting-box__title">Преимущества консалтинга для бизнеса</div>
              <div class="consulting-box__text text">
                <ol>
                  <li>Вроде все хорошо, Компания достаточно эффективно работает. Однако есть ощущение, что бизнес топчется на
                    месте. Вы никак не можете сделать качественный рывок и выйти на принципиально новый уровень.</li>
                  <li>Вы динамично растете и столкнулись с кризисом роста. Какие-то функции дублируются, а каких-то выпадают.
                    Простое маштабирование бизнес-процесов не работает, и вашему бизнесу нужена кардинальная реструктуризация.</li>
                  <li>Компания также достаточно успешна, следует принятой стратегии и тактике развития. Вы видите впечатляющие
                    обороты. А вот прибыль оставляет желать лучшего.</li>
                  <li>Бизнес находится в состоянии кризиса. Который может быть вызван как внешними причинами – политическими,
                    экономическими, коньюктурными, так и внутренними – отсутствие опыта, ошибки в управлении, подвели специалисты
                    или партнеры по бизнесу и т. д.</li>
                </ol>
              </div>
            </div>
          </div>
          <div class="consulting-bottom">
            <div class="consulting-bottom__quote">
              <p>В нашей команде консультантов нет раскрученных медийных брендов.</p>
              <p>Специалисты компании
                <strong>BUSINESS & PEOPLE</strong>
              </p>
              <p>Умелые практики и отраслевые эксперты.</p>
            </div>
            <div class="consulting-bottom__box">
              <div class="consulting-bottom__col">
                <a href="#" class="btn btn--full">Индивидуальные консультации</a>
              </div>
              <div class="consulting-bottom__col">
                <a href="#" class="btn btn--full">Стратегические сессии
                </a>
              </div>
              <div class="consulting-bottom__col">
                <a href="#" class="btn btn--full">График открытых консультаций
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% include 'footer.html' %}
    </div>
  </div>

  {% include 'popup.html' %} {% include 'js.html' %}
</body>

</html>