<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}

<body>
  {% include 'menu.html' %}
  <div class="wrapper">
    {% include 'header-common.html' %}
    <div class="content">
      <ul class="breadcrumbs align align--padding">
        <li class="breadcrumbs__item">
          <a href="#" class="breadcrumbs__link">Главная</a>
        </li>
        <li class="breadcrumbs__item">Контакты</li>
      </ul>
      <div class="align align--padding bottom-space">
        <div class="heading heading--left">Контакты</div>
        <div class="contacts">
          <div id="map-canvas"></div>
          <div class="contacts__col">
            <div class="contacts__row">
              <div class="contacts__icon">
                <svg class="contacts__svg" width="28" height="39">
                  <use xlink:href="/images/sprite.svg#pin" />
                </svg>
              </div>
              <div class="contacts__info">
                <div class="contacts__heading">Адрес:</div>
                <address class="contacts__value"> г. Киев, ул. Пшеничная, 9, оф. 401.</address>
              </div>
            </div>
            <div class="contacts__row">
              <div class="contacts__icon">
                <svg class="contacts__svg" width="28" height="39">
                  <use xlink:href="/images/sprite.svg#pin" />
                </svg>
              </div>
              <div class="contacts__info">
                <div class="contacts__heading">Адреса конференц-залов открытых мероприятий:</div>
                <address class="contacts__value contacts__value--underground">Вокзальная, ул. Василия Липковского, 3</address>
                <address class="contacts__value contacts__value--underground">Шулявка, ул, Вадима Гетьмана 1в, 3-й этаж</address>
                <address class="contacts__value contacts__value--underground">Нивки, пр-т Победы, 84.</address>
              </div>
            </div>
            <div class="contacts__row">
              <div class="contacts__icon">
                <svg class="contacts__svg" width="23" height="24">
                  <use xlink:href="/images/sprite.svg#tel" />
                </svg>
              </div>
              <div class="contacts__info">
                <div class="contacts__heading">Телефоны:</div>
                <div>
                  <a href="tel:+380676385074" class="contacts__value">+380 (67) 638 5074</a>
                </div>
                <div>
                  <a href="tel:+380676385074" class="contacts__value">+380 (67) 900 4422</a>
                </div>
              </div>
            </div>
            <div class="contacts__row">
              <div class="contacts__icon">
                <svg class="contacts__svg" width="29" height="20">
                  <use xlink:href="/images/sprite.svg#letter" />
                </svg>
              </div>
              <div class="contacts__info">
                <div class="contacts__heading">Email:</div>
                <a href="mailto:business@victoria-berezina.com." class="contacts__value"> business@victoria-berezina.com.</a>
              </div>
            </div>
          </div>
        </div>
        <div class="contacts-callback">
          <div class="contacts-callback__wrap">
            <div class="heading heading--center heading--white">Свяжитесь с нами</div>
            <div class="contacts-callback__note">Индивидуальный подход и понимание потребностий каждого клиента</div>
            <button class="callback-btn btn">Написать нам</button>
          </div>
        </div>
      </div>
      {% include 'footer.html' %}
    </div>
  </div>

  {% include 'popup.html' %}
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBQCNAS6HpP54sv6doTUAKXZqt2O25OOTI"></script>
  <script>
    var locations = [
      ['г. Киев, ул. Пшеничная, 9, оф. 401.', 50.424872, 30.404709, 1],
      ['Вокзальная, ул. Василия Липковского, 3', 50.435456, 30.489067, 2],
      ['Шулявка, ул, Вадима Гетьмана 1в, 3-й этаж', 50.452819, 30.447091, 3],
      ['Нивки, пр-т Победы, 84.', 50.459308, 30.410193, 4]
    ];
  </script>
  {% include 'js.html' %}
</body>

</html>