<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}

<body>
  {% include 'menu.html' %}
  <div class="wrapper">
    {% include 'header-common.html' %}
    <div class="content">
      <ul class="breadcrumbs align align--padding">
        <li class="breadcrumbs__item">
          <a href="#" class="breadcrumbs__link">Главная</a>
        </li>
        <li class="breadcrumbs__item">Корпоративное обучение</li>
      </ul>
      <div class="align align--padding bottom-space">
        <div class="heading">Корпоративное обучение</div>
        <div class="education-list section">
          <div class="education-list__row">
            <div class="education-list__thumb">
              <img class="education-list__image" src="data/education/education-image-1.jpg" alt="...">
            </div>
            <div class="education-list__content">
              <div class="education-list__note">Business & People</div>
              <div class="education-list__title heading-size">Обучение в корпоративном формате</div>
              <div class="education-list__text text">
                <p>
                  <strong>Обучение в корпоративном формате</strong> — идеальный инструмент для повышения профессионального уровня
                  персонала и его развития. Корпоративный тренинг позволяет учитывать всю специфику деятельности компании,
                  уровень компетенции сотрудников и адаптировать программу обучения под потребности именно Вашей компании.</p>
              </div>
            </div>
          </div>
          <div class="education-list__row">
            <div class="education-list__thumb">
              <img class="education-list__image" src="data/education/education-image-2.jpg" alt="...">
            </div>
            <div class="education-list__content">
              <div class="education-list__note">Business & People</div>
              <div class="education-list__title heading-size">Курсы обучения, корпоративные тренинги в компании</div>
              <div class="education-list__text text">
                <p>Обучение в корпоративном формате — идеальный инструмент для повышения профессионального уровня персонала
                  и его развития. Корпоративный тренинг позволяет учитывать всю специфику деятельности компании, уровень
                  компетенции сотрудников и адаптировать программу обучения под потребности именно Вашей компании.</p>
              </div>
            </div>
          </div>
          <div class="education-list__row">
            <div class="education-list__thumb">
              <img class="education-list__image" src="data/education/education-image-3.jpg" alt="...">
            </div>
            <div class="education-list__content">
              <div class="education-list__note">Business & People</div>
              <div class="education-list__title heading-size">Обучение в корпоративном формате</div>
              <div class="education-list__text text">
                <p>Заказ корпоративного тренинга — это инвестиция. Причем именно та, которая, как показала практика ведения
                  бизнеса в сложных экономических условиях, окупается многократно, позволяя Вашему бизнесу быть на гребне
                  волны даже в самых сложных обстоятельствах.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="education-stages section">
          <div class="heading heading--center">Как заказать корпоративный тренинг</div>
          <div class="education-stages__list">
            <div class="education-stages__item">
              <div class="education-stages__thumb">
                <svg class="education-stages__svg">
                  <use xlink:href="/images/sprite.svg#stage-1" />
                </svg>
                <div class="education-divider">
                  <div class="education-divider__arrow">
                    <svg class="education-divider__svg">
                      <use xlink:href="/images/sprite.svg#stage-arrow" />
                    </svg>
                  </div>
                  <div class="education-divider__number">01</div>
                </div>
              </div>
              <div class="education-stages__title">Заполните заявку на сайте</div>
            </div>
            <div class="education-stages__item">
              <div class="education-stages__thumb">
                <svg class="education-stages__svg">
                  <use xlink:href="/images/sprite.svg#stage-2" />
                </svg>
                <div class="education-divider">
                  <div class="education-divider__arrow">
                    <svg class="education-divider__svg">
                      <use xlink:href="/images/sprite.svg#stage-arrow" />
                    </svg>
                  </div>
                  <div class="education-divider__number">02</div>
                </div>
              </div>
              <div class="education-stages__title">Наш менеджер уточнит у Вас детали...</div>
            </div>
            <div class="education-stages__item">
              <div class="education-stages__thumb">
                <svg class="education-stages__svg">
                  <use xlink:href="/images/sprite.svg#stage-3" />
                </svg>
                <div class="education-divider">
                  <div class="education-divider__arrow">
                    <svg class="education-divider__svg">
                      <use xlink:href="/images/sprite.svg#stage-arrow" />
                    </svg>
                  </div>
                  <div class="education-divider__number">03</div>
                </div>
              </div>
              <div class="education-stages__title">После личной встречи с тренером...</div>
            </div>
            <div class="education-stages__item">
              <div class="education-stages__thumb">
                <svg class="education-stages__svg">
                  <use xlink:href="/images/sprite.svg#stage-4" />
                </svg>
                <div class="education-divider">
                  <div class="education-divider__arrow">
                    <svg class="education-divider__svg">
                      <use xlink:href="/images/sprite.svg#stage-arrow" />
                    </svg>
                  </div>
                  <div class="education-divider__number">04</div>
                </div>
              </div>
              <div class="education-stages__title">... и отправит Вам предварительную программу</div>
            </div>
            <div class="education-stages__item">
              <div class="education-stages__thumb">
                <svg class="education-stages__svg">
                  <use xlink:href="/images/sprite.svg#stage-5" />
                </svg>
              </div>
              <div class="education-stages__title">...Вы получите адаптированный проект обучения</div>
            </div>
          </div>
        </div>
      </div>
      {% include 'training-section.html' %} {% include 'theme-section.html' %}
      <div class="motto-section align">
        <div class="motto-section__title">Если вы не нашли какую либо тему, это значит что она лежит за пределами наших возможностей. Все корпоративные проекты
          разрабатываються с учетом особенностей товара и специфики бизнеса заказчика.</div>
      </div>
      <div class="application-section align">
        <div class="application-section__col">
          <div class="application-section__box">
            <div class="application-section__title heading-size">Не смогли найти программу?</div>
            <div class="application-section__note">Наши менеджеры помогут Вам подобрать самый оптимальный вариант</div>
            <div class="application-section__btn">
              <button class="callback-btn btn btn--full">заказать консультацию</button>
            </div>
          </div>
        </div>
        <div class="application-section__col">
          <div class="application-section__box">
            <div class="application-section__title heading-size">Закажите разработку</div>
            <div class="application-section__note">Индивидуальная программа для вашего бизнеса</div>
            <div class="application-section__btn">
              <a href="#" class="btn btn--full btn--black">Перейти</a>
            </div>
          </div>
        </div>
      </div>
      {% include 'footer.html' %}
    </div>
  </div>

  {% include 'popup.html' %} {% include 'js.html' %}
</body>

</html>