<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}

<body>
  {% include 'menu.html' %}
  <div class="wrapper">
    {% include 'header-common.html' %}
    <div class="content">
      <ul class="breadcrumbs align align--padding">
        <li class="breadcrumbs__item">
          <a href="#" class="breadcrumbs__link">Главная</a>
        </li>
        <li class="breadcrumbs__item">Календарь мероприятий</li>
      </ul>
      <div class="heading heading--center">Календарь мероприятий</div>
      <div class="events align align--padding">
        <div class="events-heading">
          <div class="events-heading__content">
            <div class="events-heading__col">
              <div class="events-heading__title">Тематика:</div>
              <div class="events-filter touch-thing">
                <div class="events-filter__title">Все тематики</div>
                <div class="events-filter__list">
                  <a href="#" class="events-filter__item">Все тематики</a>
                  <a href="#" class="events-filter__item">Tематика 1</a>
                  <a href="#" class="events-filter__item">Tематика 2</a>
                  <a href="#" class="events-filter__item">Tематика 3</a>
                </div>
              </div>
            </div>
            <div class="events-heading__col">
              <div class="events-heading__title">Тренер:</div>
              <div class="events-filter touch-thing">
                <div class="events-filter__title">Все тренеры</div>
                <div class="events-filter__list">
                  <a href="#" class="events-filter__item">Все тематики</a>
                  <a href="#" class="events-filter__item">Tематика 1</a>
                  <a href="#" class="events-filter__item">Tематика 2</a>
                  <a href="#" class="events-filter__item">Tематика 3</a>
                </div>
              </div>
            </div>
            <div class="events-heading__col">
              <div class="events-heading__title">Дата:</div>
              <div class="events-filter touch-thing">
                <div class="events-filter__title">Все месяцы</div>
                <div class="events-filter__list">
                  <a href="#" class="events-filter__item">Все тематики</a>
                  <a href="#" class="events-filter__item">Tематика 1</a>
                  <a href="#" class="events-filter__item">Tематика 2</a>
                  <a href="#" class="events-filter__item">Tематика 3</a>
                </div>
              </div>
            </div>
          </div>
          <div class="events-heading__btns">
            <a download href="data/about-image-1.jpg" class="events-heading__icon">
              <svg class="events-heading__svg">
                <use xlink:href="/images/sprite.svg#download" />
              </svg>
            </a>
            <div class="events-heading__icon events-heading__icon--dots active">
              <svg class="events-heading__svg">
                <use xlink:href="/images/sprite.svg#dots" />
              </svg>
            </div>
            <div class="events-heading__icon events-heading__icon--bars">
              <svg class="events-heading__svg">
                <use xlink:href="/images/sprite.svg#bars" />
              </svg>
            </div>
          </div>
        </div>
        <div class="events-content">
          <div class="events-content__row">
            <div class="events-content__title">Ноябрь 2017</div>
            <div class="events-content__list active">
              <div class="events-box">
                <a href="#" class="events-box__thumb">
                  <img class="events-box__image" src="data/events/event-1.jpg" alt="..." width="275" height="275">
                </a>
                <div class="events-box__content">
                  <div class="events-box__top">
                    <div class="events-box__date">

                      <div class="events-box__icon">
                        <svg width="11" height="12">
                          <use xlink:href="/images/sprite.svg#calendar" />
                        </svg>
                      </div>

                      20-21 ноября</div>
                    <div class="events-box__place">
                      <div class="events-box__icon">
                        <svg width="9" height="12">
                          <use xlink:href="/images/sprite.svg#pin1" />
                        </svg>
                      </div>
                      Киев</div>
                  </div>
                  <div class="events-box__heading">
                    <div class="events-box__mentor">Виктория Березина</div>
                    <a href="#" class="events-box__title">Лидерство и управление командой</a>
                  </div>
                  <div class="events-box__info">
                    <div class="events-box__cost">
                      <div class="events-box__description">Тренинг, 2 дня</div>
                      <div class="events-box__price">4 800 грн</div>
                    </div>
                    <div class="events-box__more">
                      <a href="#" class="events-box__link">
                        <div class="events-box__text">Подробнее</div>
                        <svg class="events-box__svg">
                          <use xlink:href="/images/sprite.svg#arrow-next" />
                        </svg>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="events-box">
                <a href="#" class="events-box__thumb">
                  <img class="events-box__image" src="data/events/event-2.jpg" alt="..." width="275" height="275">
                </a>
                <div class="events-box__content">
                  <div class="events-box__top">
                    <div class="events-box__date">20-21 ноября</div>
                    <div class="events-box__place">Киев</div>
                  </div>
                  <div class="events-box__heading">
                    <div class="events-box__mentor">Виктория Березина</div>
                    <a href="#" class="events-box__title">Тестовое</a>
                  </div>
                  <div class="events-box__info">
                    <div class="events-box__cost">
                      <div class="events-box__description">Тренинг, 2 дня</div>
                      <div class="events-box__price">4 800 грн</div>
                    </div>
                    <div class="events-box__more">
                      <a href="#" class="events-box__link">
                        <div class="events-box__text">Подробнее</div>
                        <svg class="events-box__svg">
                          <use xlink:href="/images/sprite.svg#arrow-next" />
                        </svg>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="events-box">
                <a href="#" class="events-box__thumb">
                  <img class="events-box__image" src="data/events/event-3.jpg" alt="..." width="275" height="275">
                </a>
                <div class="events-box__content">
                  <div class="events-box__top">
                    <div class="events-box__date">20-21 ноября</div>
                    <div class="events-box__place">Киев</div>
                  </div>
                  <div class="events-box__heading">
                    <div class="events-box__mentor">Виктория Березина</div>
                    <a href="#" class="events-box__title">Тестовое</a>
                  </div>
                  <div class="events-box__info">
                    <div class="events-box__cost">
                      <div class="events-box__description">Тренинг, 2 дня</div>
                      <div class="events-box__price">4 800 грн</div>
                    </div>
                    <div class="events-box__more">
                      <a href="#" class="events-box__link">
                        <div class="events-box__text">Подробнее</div>
                        <svg class="events-box__svg">
                          <use xlink:href="/images/sprite.svg#arrow-next" />
                        </svg>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="events-box">
                <a href="#" class="events-box__thumb">
                  <img class="events-box__image" src="data/events/event-2.jpg" alt="..." width="275" height="275">
                </a>
                <div class="events-box__content">
                  <div class="events-box__top">
                    <div class="events-box__date">20-21 ноября</div>
                    <div class="events-box__place">Киев</div>
                  </div>
                  <div class="events-box__heading">
                    <div class="events-box__mentor">Виктория Березина</div>
                    <a href="#" class="events-box__title">Тестовое</a>
                  </div>
                  <div class="events-box__info">
                    <div class="events-box__cost">
                      <div class="events-box__description">Тренинг, 2 дня</div>
                      <div class="events-box__price">4 800 грн</div>
                    </div>
                    <div class="events-box__more">
                      <a href="#" class="events-box__link">
                        <div class="events-box__text">Подробнее</div>
                        <svg class="events-box__svg">
                          <use xlink:href="/images/sprite.svg#arrow-next" />
                        </svg>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="events-box">
                <a href="#" class="events-box__thumb">
                  <img class="events-box__image" src="data/events/event-3.jpg" alt="..." width="275" height="275">
                </a>
                <div class="events-box__content">
                  <div class="events-box__top">
                    <div class="events-box__date">20-21 ноября</div>
                    <div class="events-box__place">Киев</div>
                  </div>
                  <div class="events-box__heading">
                    <div class="events-box__mentor">Виктория Березина</div>
                    <a href="#" class="events-box__title">Тестовое</a>
                  </div>
                  <div class="events-box__info">
                    <div class="events-box__cost">
                      <div class="events-box__description">Тренинг, 2 дня</div>
                      <div class="events-box__price">4 800 грн</div>
                    </div>
                    <div class="events-box__more">
                      <a href="#" class="events-box__link">
                        <div class="events-box__text">Подробнее</div>
                        <svg class="events-box__svg">
                          <use xlink:href="/images/sprite.svg#arrow-next" />
                        </svg>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="events-insert">
                <div class="events-insert__title">Не нашли нужный тренинг?</div>
                <button class="callback-btn btn">Заказать тренинг</button>
              </div>
            </div>
          </div>
          <div class="events-content__row">
            <div class="events-content__title">Декабрь 2017</div>
            <div class="events-content__list active">
              <div class="events-box">
                <a href="#" class="events-box__thumb">
                  <img class="events-box__image" src="data/events/event-1.jpg" alt="..." width="275" height="275">
                </a>
                <div class="events-box__content">
                  <div class="events-box__top">
                    <div class="events-box__date">
                      <div class="events-box__icon">
                        <svg width="11" height="12">
                          <use xlink:href="/images/sprite.svg#calendar" />
                        </svg>
                      </div>
                      20-21 ноября</div>
                    <div class="events-box__place">
                      <div class="events-box__icon">
                        <svg width="9" height="12">
                          <use xlink:href="/images/sprite.svg#pin1" />
                        </svg>
                      </div>
                      Киев</div>
                  </div>
                  <div class="events-box__heading">
                    <div class="events-box__mentor">Виктория Березина</div>
                    <a href="#" class="events-box__title">Лидерство и управление командой</a>
                  </div>
                  <div class="events-box__info">
                    <div class="events-box__cost">
                      <div class="events-box__description">Тренинг, 2 дня</div>
                      <div class="events-box__price">4 800 грн</div>
                    </div>
                    <div class="events-box__more">
                      <a href="#" class="events-box__link">
                        <div class="events-box__text">Подробнее</div>
                        <svg class="events-box__svg">
                          <use xlink:href="/images/sprite.svg#arrow-next" />
                        </svg>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="events-box">
                <a href="#" class="events-box__thumb">
                  <img class="events-box__image" src="data/events/event-2.jpg" alt="..." width="275" height="275">
                </a>
                <div class="events-box__content">
                  <div class="events-box__top">
                    <div class="events-box__date">20-21 ноября</div>
                    <div class="events-box__place">Киев</div>
                  </div>
                  <div class="events-box__heading">
                    <div class="events-box__mentor">Виктория Березина</div>
                    <a href="#" class="events-box__title">Тестовое</a>
                  </div>
                  <div class="events-box__info">
                    <div class="events-box__cost">
                      <div class="events-box__description">Тренинг, 2 дня</div>
                      <div class="events-box__price">4 800 грн</div>
                    </div>
                    <div class="events-box__more">
                      <a href="#" class="events-box__link">
                        <div class="events-box__text">Подробнее</div>
                        <svg class="events-box__svg">
                          <use xlink:href="/images/sprite.svg#arrow-next" />
                        </svg>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="events-insert">
                <div class="events-insert__title">Не нашли нужный тренинг?</div>
                <button class="callback-btn btn">Заказать тренинг</button>
              </div>
            </div>
          </div>
          <div class="events-content__row">
            <div class="events-content__title">Январь 2018</div>
            <div class="events-content__list active">
              <div class="events-box">
                <a href="#" class="events-box__thumb">
                  <img class="events-box__image" src="data/events/event-1.jpg" alt="..." width="275" height="275">
                </a>
                <div class="events-box__content">
                  <div class="events-box__top">
                    <div class="events-box__date">
                      <div class="events-box__icon">
                        <svg width="11" height="12">
                          <use xlink:href="/images/sprite.svg#calendar" />
                        </svg>
                      </div>
                      20-21 ноября</div>
                    <div class="events-box__place">
                      <div class="events-box__icon">
                        <svg width="9" height="12">
                          <use xlink:href="/images/sprite.svg#pin1" />
                        </svg>
                      </div>
                      Киев</div>
                  </div>
                  <div class="events-box__heading">
                    <div class="events-box__mentor">Виктория Березина</div>
                    <a href="#" class="events-box__title">Лидерство и управление командой</a>
                  </div>
                  <div class="events-box__info">
                    <div class="events-box__cost">
                      <div class="events-box__description">Тренинг, 2 дня</div>
                      <div class="events-box__price">4 800 грн</div>
                    </div>
                    <div class="events-box__more">
                      <a href="#" class="events-box__link">
                        <div class="events-box__text">Подробнее</div>
                        <svg class="events-box__svg">
                          <use xlink:href="/images/sprite.svg#arrow-next" />
                        </svg>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="events-insert">
                <div class="events-insert__title">Не нашли нужный тренинг?</div>
                <button class="callback-btn btn">Заказать тренинг</button>
              </div>
            </div>
          </div>
        </div>
        <ul class="news-pagination">
          <li class="news-pagination__item">
            <a href="#" class="news-pagination__link">
              <svg class="news-pagination__svg">
                <use xlink:href="/images/sprite.svg#arrow-prev" />
              </svg>
            </a>
          </li>
          <li class="news-pagination__item">
            <a href="#" class="news-pagination__link">1</a>
          </li>
          <li class="news-pagination__item active">2
          </li>
          <li class="news-pagination__item">
            <a href="#" class="news-pagination__link">3</a>
          </li>
          <li class="news-pagination__item">
            <a href="#" class="news-pagination__link">4</a>
          </li>
          <li class="news-pagination__item">...
          </li>
          <li class="news-pagination__item">
            <a href="#" class="news-pagination__link">9</a>
          </li>
          <li class="news-pagination__item">
            <a href="#" class="news-pagination__link">
              <svg class="news-pagination__svg">
                <use xlink:href="/images/sprite.svg#arrow-next" />
              </svg>
            </a>
          </li>
        </ul>
        <div class="consulting-bottom__box">
          <div class="consulting-bottom__col">
            <button class="btn btn--full">Связаться с нами</button>
          </div>
          <div class="consulting-bottom__col">
            <button class="btn btn--full order-btn">Стратегические сессии</button>
          </div>
          <div class="consulting-bottom__col">
            <a href="#" class="btn btn--full">График открытых консультаций
            </a>
          </div>
        </div>
      </div>
      {% include 'info-section.html' %} {% include 'footer.html' %}
    </div>
  </div>

  {% include 'popup.html' %} {% include 'js.html' %}
</body>

</html>