<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}

<body>
  {% include 'menu.html' %}
  <div class="wrapper">
    {% include 'header-common.html' %}
    <div class="content">
      <ul class="breadcrumbs align align--padding">
        <li class="breadcrumbs__item">
          <a href="#" class="breadcrumbs__link">Главная</a>
        </li>
        <li class="breadcrumbs__item">Галерея</li>
      </ul>
      <div class="align align--padding bottom-space">
        <div class="heading heading--left">Галерея</div>
        <div class="gallery-list">
          <div class="gallery-list__item">
            <a href="data/about-image-1.jpg" data-fancybox="album-1" class="gallery-list__thumb">
              <img class="gallery-list__image" src="data/about-image-1.jpg" alt="" width="368" height="205">
              <div class="gallery-list__info">
                <div class="gallery-list__date">04.10.2017</div>
                <div class="gallery-list__quantity">
                  <svg class="gallery-list__icon">
                    <use xlink:href="/images/sprite.svg#album" />
                  </svg>
                  32 фотографии</div>
              </div>
            </a>
            <div class="gallery-list__hidden">
              <a href="data/about-image-1.jpg" data-fancybox="album-1">
                <img class="gallery-list__image" src="data/about-image-2.jpg" alt="">
              </a>
              <a href="data/about-image-1.jpg" data-fancybox="album-1">
                <img class="gallery-list__image" src="data/about-image-1.jpg" alt="">
              </a>
              <a href="data/about-image-1.jpg" data-fancybox="album-1">
                <img class="gallery-list__image" src="data/about-image-1.jpg" alt="">
              </a>
            </div>
            <div class="gallery-list__title">Интеллектуальная вечеринка</div>
          </div>
          <div class="gallery-list__item">
            <a href="data/about-image-1.jpg" data-fancybox="album-2" class="gallery-list__thumb">
              <img class="gallery-list__image" src="data/about-image-2.jpg" alt="" width="368" height="205">
              <div class="gallery-list__info">
                <div class="gallery-list__date">04.10.2017</div>
                <div class="gallery-list__quantity">
                  <svg class="gallery-list__icon">
                    <use xlink:href="/images/sprite.svg#album" />
                  </svg>
                  32 фотографии</div>
              </div>
            </a>
            <div class="gallery-list__hidden">
              <a href="data/about-image-1.jpg" data-fancybox="album-2">
                <img class="gallery-list__image" src="data/about-image-2.jpg" alt="">
              </a>
              <a href="data/about-image-1.jpg" data-fancybox="album-2">
                <img class="gallery-list__image" src="data/about-image-1.jpg" alt="">
              </a>
              <a href="data/about-image-1.jpg" data-fancybox="album-2">
                <img class="gallery-list__image" src="data/about-image-1.jpg" alt="">
              </a>
            </div>
            <div class="gallery-list__title">Интеллектуальная вечеринка</div>
          </div>
          <div class="gallery-list__item">
            <a href="data/about-image-1.jpg" class="gallery-list__thumb" data-fancybox="album-3">
              <img class="gallery-list__image" src="data/about-image-1.jpg" alt="" width="368" height="205">
              <div class="gallery-list__info">
                <div class="gallery-list__date">04.10.2017</div>
                <div class="gallery-list__quantity">
                  <svg class="gallery-list__icon">
                    <use xlink:href="/images/sprite.svg#album" />
                  </svg>
                  32 фотографии</div>
              </div>
            </a>
            <div class="gallery-list__hidden">
              <a href="data/about-image-1.jpg" data-fancybox="album-3">
                <img class="gallery-list__image" src="data/about-image-2.jpg" alt="">
              </a>
              <a href="data/about-image-1.jpg" data-fancybox="album-3">
                <img class="gallery-list__image" src="data/about-image-1.jpg" alt="">
              </a>
              <a href="data/about-image-1.jpg" data-fancybox="album-3">
                <img class="gallery-list__image" src="data/about-image-1.jpg" alt="">
              </a>
            </div>
            <div class="gallery-list__title">Интеллектуальная вечеринка</div>
          </div>
          <div class="gallery-list__item">
            <a href="data/about-image-1.jpg" data-fancybox="album-4" class="gallery-list__thumb">
              <img class="gallery-list__image" src="data/about-image-1.jpg" alt="" width="368" height="205">
              <div class="gallery-list__info">
                <div class="gallery-list__date">04.10.2017</div>
                <div class="gallery-list__quantity">
                  <svg class="gallery-list__icon">
                    <use xlink:href="/images/sprite.svg#album" />
                  </svg>
                  32 фотографии</div>
              </div>
            </a>
            <div class="gallery-list__hidden">
              <a href="data/about-image-1.jpg" data-fancybox="album-4">
                <img class="gallery-list__image" src="data/about-image-2.jpg" alt="">
              </a>
              <a href="data/about-image-1.jpg" data-fancybox="album-4">
                <img class="gallery-list__image" src="data/about-image-1.jpg" alt="">
              </a>
              <a href="data/about-image-1.jpg" data-fancybox="album-4">
                <img class="gallery-list__image" src="data/about-image-1.jpg" alt="">
              </a>
            </div>
            <div class="gallery-list__title">Интеллектуальная вечеринка</div>
          </div>
        </div>
        <ul class="news-pagination">
          <li class="news-pagination__item">
            <a href="#" class="news-pagination__link">
              <svg class="news-pagination__svg">
                <use xlink:href="/images/sprite.svg#arrow-prev" />
              </svg>
            </a>
          </li>
          <li class="news-pagination__item">
            <a href="#" class="news-pagination__link">1</a>
          </li>
          <li class="news-pagination__item active">2
          </li>
          <li class="news-pagination__item">
            <a href="#" class="news-pagination__link">3</a>
          </li>
          <li class="news-pagination__item">
            <a href="#" class="news-pagination__link">4</a>
          </li>
          <li class="news-pagination__item">...
          </li>
          <li class="news-pagination__item">
            <a href="#" class="news-pagination__link">9</a>
          </li>
          <li class="news-pagination__item">
            <a href="#" class="news-pagination__link">
              <svg class="news-pagination__svg">
                <use xlink:href="/images/sprite.svg#arrow-next" />
              </svg>
            </a>
          </li>
        </ul>
      </div>
      {% include 'footer.html' %}
    </div>
  </div>

  {% include 'popup.html' %} {% include 'js.html' %}
</body>

</html>