<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}

<body>
  {% include 'menu.html' %}
  <div class="wrapper">
    {% include 'header.html' %}
    <div class="main-section first-section" style="background-image: url(data/bg-main.jpg);">
      <div class="main-section__box align align--padding">
        <div class="main-section__title">Бизнес развивают люди Мы развиваем людей</div>
        <a href="#" class="main-more">
          <div class="main-more__btn">
            <svg class="main-more__icon">
              <use xlink:href="/images/sprite.svg#arrow-right" />
            </svg>
          </div>
          <div class="main-more__text">Узнать больше о business & people</div>
        </a>
      </div>
      <div class="align main-contacts__wrap">
        <div class="main-contacts">
          <a href="mailto:manager@victoria-berezina.com" class="main-contacts__item">
            <div class="main-contacts__icon">
              <svg class="main-contacts__svg" width="14" height="10">
                <use xlink:href="/images/sprite.svg#mail" />
              </svg>
            </div>
            <div class="main-contacts__text">manager@victoria-berezina.com</div>
          </a>
          <a href="tel:+380679004422" class="main-contacts__item">
            <div class="main-contacts__icon">
              <svg class="main-contacts__svg" width="10" height="10">
                <use xlink:href="/images/sprite.svg#phone" />
              </svg>
            </div>
            <div class="main-contacts__text">+380 (67) 900-44-22</div>
          </a>
        </div>
        <div class="main-socials">
          <a href="#" rel="nofollow" target="_blank" class="main-socials__item">
            <svg class="main-socials__icon" width="8" height="15">
              <use xlink:href="/images/sprite.svg#facebook" />
            </svg>
            <div class="main-circle">
              <svg class="main-circle__svg">
                <circle class="main-circle__icon" cx="15" cy="15" r="15"></circle>
              </svg>
            </div>
          </a>
          <a href="#" rel="nofollow" target="_blank" class="main-socials__item">
            <svg class="main-socials__icon" width="15" height="10">
              <use xlink:href="/images/sprite.svg#youtube" />
            </svg>
            <div class="main-circle">
              <svg class="main-circle__svg">
                <circle class="main-circle__icon" cx="15" cy="15" r="15"></circle>
              </svg>
            </div>
          </a>
        </div>
      </div>
      <div class="main-section__video">
        <video loop="" autoplay="" muted>
          <source src="data/video.mp4" type="video/mp4">
        </video>
      </div>
    </div>
    <div class="calendar-section section">
      <div class="calendar-section__insert">Business trainings in Ukraine</div>
      <div class="heading heading--center">Календарь тренингов</div>
      <div class="note">Открытые бизнес-тренинги и семинары в Киеве и по всей Украине, на которые можете прийти вы, ваш сотрудник или вся команда,
        чтобы развить свои навыки и обновить знания в одной из 12 бизнес-дисциплин. Кликните на тренинг, чтобы ознакомиться
        с программой.</div>
      {% include 'calendar-slider.html' %}
      <div class="news-section__btn">
        <a href="#" class="btn">Посмотреть весь график</a>
      </div>
    </div>
    <div class="education-section section align">
      <div class="education-section__picture">
        <img src="data/education-image.jpg" alt="..." width="430" height="561">
      </div>
      <div class="education-section__content">
        <div class="section-title">Корпоративное обучение</div>
        <div class="education-section__text text">
          <p>Мы проведем тренинг или целый курс специально для вашей команды . Подберем тренера, тему и методики, которые помогут
            решить вашу текущую задачу – от повышения мотивации сотрудников до оптимизации управленческого учета.</p>
          <ol>
            <li>Пред-тренинговая диагностика</li>
            <li>Адаптация программы</li>
            <li>Пост-тренинговое сопровождение</li>
          </ol>
        </div>
        <a href="#" class="btn">Выбрать тренинг</a>
      </div>
    </div>
    {% include 'training-section.html' %} {% include 'theme-section.html' %}
    <div class="section">
      <div class="section help-section" style="background-image: url(data/help-image.jpg);">
        <div class="help-section__box">
          <div class="heading heading--white heading--center">Комплексная помощь бизнесу</div>
          <div class="note">Подходим комплексно к развитию бизнеса наших клиентов. Тренеры-практики от Business & People помогут решить необычную
            бизнес-задачу, определить курс развития компании и станут вдохновляющим спикером на корпоративной конференции.</div>
        </div>
      </div>
      <div class="services">
        <div class="services__item">
          <div class="services__box">
            <div class="services__top">
              <div class="services__title">Консалтинг</div>
              <div class="note">Профессиональная помощь со стороны внешних консультантов в анализе и решении проблем функционирования и развития
                компании
              </div>
            </div>
            <a href="#" class="services__btn">Подробнее</a>
          </div>
        </div>
        <div class="services__item">
          <div class="services__box">
            <div class="services__top">
              <div class="services__title">Индивидуальные консультации
              </div>
              <div class="note">Решите вашу бизнес-задачу вместе с тренером-экспертом или коучем в индивидуальном порядке
              </div>
            </div>
            <a href="#" class="services__btn">Подробнее</a>
          </div>
        </div>
        <div class="services__item">
          <div class="services__box">
            <div class="services__top">
              <div class="services__title">Стратегические сессии
              </div>
              <div class="note">Сформируйте видение будущего и список конкретных шагов по развитию бизнеса с нашим тренером-модератором.
              </div>
            </div>
            <a href="#" class="services__btn">Подробнее</a>
          </div>
        </div>
        <div class="services__item">
          <div class="services__box">
            <div class="services__top">
              <div class="services__title">Спикеры для конференция</div>
              <div class="note">Подберем харизматичного спикера с опытом в Вашей сфере и поможем организовать мероприятие.
              </div>
            </div>
            <a href="#" class="services__btn">Подробнее</a>
          </div>
        </div>
      </div>
    </div>
    <div class="section news-section align">
      <div class="heading heading--center">Новости</div>
      <div class="news-slider">
        <div class="news-slider__item">
          <a href="#" class="news-slider__thumb">
            <img src="data/news/news-image-1.jpg" alt="..." width="400" height="237">
          </a>
          <a href="#" class="news-slider__title">Интеллектуальная вечеринка</a>
          <div class="news-slider__text">Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности требуют от нас анализа</div>
        </div>
        <div class="news-slider__item">
          <a href="#" class="news-slider__thumb">
            <img src="data/news/news-image-2.jpg" alt="..." width="400" height="237">
          </a>
          <a href="#" class="news-slider__title">Интеллектуальная вечеринка</a>
          <div class="news-slider__text">Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности требуют от нас анализа</div>
        </div>
        <div class="news-slider__item">
          <a href="#" class="news-slider__thumb">
            <img src="data/news/news-image-1.jpg" alt="..." width="400" height="237">
          </a>
          <a href="#" class="news-slider__title">Интеллектуальная вечеринка</a>
          <div class="news-slider__text">Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности требуют от нас анализа</div>
        </div>
        <div class="news-slider__item">
          <a href="#" class="news-slider__thumb">
            <img src="data/news/news-image-1.jpg" alt="..." width="400" height="237">
          </a>
          <a href="#" class="news-slider__title">Интеллектуальная вечеринка</a>
          <div class="news-slider__text">Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности требуют от нас анализа</div>
        </div>
        <div class="news-slider__item">
          <a href="#" class="news-slider__thumb">
            <img src="data/news/news-image-1.jpg" alt="..." width="400" height="237">
          </a>
          <a href="#" class="news-slider__title">Интеллектуальная вечеринка</a>
          <div class="news-slider__text">Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности требуют от нас анализа</div>
        </div>
      </div>
      <div class="news-section__btn">
        <a href="#" class="btn">Другие новости</a>
      </div>
    </div>
    {% include 'trust-section.html' %} {% include 'callback-section.html' %} {% include 'info-section.html' %} {% include 'footer.html'
    %}
  </div>

  {% include 'popup.html' %} {% include 'js.html' %}
</body>

</html>