<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}

<body>
  {% include 'menu.html' %}
  <div class="wrapper">
    {% include 'header-common.html' %}
    <div class="content">
      <div class="partners-section" style="background-image: url(data/bg-management.jpg);">
        <div class="partners-section__wrapper">
          <ul class="breadcrumbs align align--padding breadcrumbs--white">
            <li class="breadcrumbs__item">
              <a href="#" class="breadcrumbs__link">Главная</a>
            </li>
            <li class="breadcrumbs__item">
              <a href="#" class="breadcrumbs__link">Корпоравивное обучение</a>
            </li>
            <li class="breadcrumbs__item">Менеджмент. Лидерство</li>
          </ul>
          <div class="heading heading--white">Менеджмент. Лидерство</div>
          <div class="arrow-bottom__wrap">
            <a href="#partners-conditions" class="arrow-bottom smooth-scroll">
              <svg class="arrow-bottom__icon">
                <use xlink:href="/images/sprite.svg#arrow-bottom" />
              </svg>
            </a>
          </div>
        </div>
      </div>
      <div id="partners-conditions" class="partners-conditions__wrap">
        <div class="partners-conditions align section">
          <div class="partners-conditions__thumb">
            <img src="data/management-image.jpg" alt="..." width="592">
          </div>
          <div class="partners-conditions__content">
            <div class="partners-conditions__insert">management</div>
            <div class="partners-conditions__title">Менеджмент</div>
            <div class="partners-conditions__text text custom-scroll">
              <p>Мы проведем тренинг или целый курс специально для вашей команды . Подберем тренера, тему и методики, которые
                помогут решить вашу текущую задачу – от повышения мотивации сотрудников до оптимизации управленческого учета.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="section align">
        <div class="management-list">
          <div class="management-list__box">
            <a href="#" class="management-list__item" style="background-image: url(data/management/management-1.jpg);">
              <div class="management-list__content">
                <div class="management-list__title">Менеджмент в стиле коучинг</div>
                <div class="management-list__text">Мы проведем тренинг или целый курс специально для вашей команды . Подберем тренера, тему и методики, которые
                  помогут решить вашу... текущую задачу – от повышения мотивации сотрудников до оптимизации управленческого
                  учета.
                </div>
                <div class="events-box__link management-list__btn">
                  <div class="events-box__text">Подробнее</div>
                  <svg class="events-box__svg">
                    <use xlink:href="/images/sprite.svg#arrow-next" />
                  </svg>
                </div>
              </div>
            </a>
          </div>
          <div class="management-list__box">
            <a href="#" class="management-list__item" style="background-image: url(data/management/management-2.jpg);">
              <div class="management-list__content">
                <div class="management-list__title">Искусство управления: оперативный и тактический менеджмент</div>
                <div class="management-list__text">Мы проведем тренинг или целый курс специально для вашей команды . Подберем тренера, тему и методики, которые
                  помогут решить вашу... текущую задачу – от повышения мотивации сотрудников до оптимизации управленческого
                  учета.
                </div>
                <div class="events-box__link management-list__btn">
                  <div class="events-box__text">Подробнее</div>
                  <svg class="events-box__svg">
                    <use xlink:href="/images/sprite.svg#arrow-next" />
                  </svg>
                </div>
              </div>
            </a>
          </div>
          <div class="management-list__box">
            <a href="#" class="management-list__item" style="background-image: url(data/management/management-3.jpg);">
              <div class="management-list__content">
                <div class="management-list__title">Менеджмент в стиле коучинг</div>
                <div class="management-list__text">Мы проведем тренинг или целый курс специально для вашей команды . Подберем тренера, тему и методики, которые
                  помогут решить вашу... текущую задачу – от повышения мотивации сотрудников до оптимизации управленческого
                  учета.
                </div>
                <div class="events-box__link management-list__btn">
                  <div class="events-box__text">Подробнее</div>
                  <svg class="events-box__svg">
                    <use xlink:href="/images/sprite.svg#arrow-next" />
                  </svg>
                </div>
              </div>
            </a>
          </div>
          <div class="management-list__box">
            <a href="#" class="management-list__item" style="background-image: url(data/management/management-4.jpg);">
              <div class="management-list__content">
                <div class="management-list__title">Менеджмент в стиле коучинг</div>
                <div class="management-list__text">Мы проведем тренинг или целый курс специально для вашей команды . Подберем тренера, тему и методики, которые
                  помогут решить вашу... текущую задачу – от повышения мотивации сотрудников до оптимизации управленческого
                  учета.
                </div>
                <div class="events-box__link management-list__btn">
                  <div class="events-box__text">Подробнее</div>
                  <svg class="events-box__svg">
                    <use xlink:href="/images/sprite.svg#arrow-next" />
                  </svg>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="motto-section align">
        <div class="motto-section__title">Если вы не нашли какую либо тему, это значит что она лежит за пределами наших возможностей. Все корпоративные проекты
          разрабатываються с учетом особенностей товара и специфики бизнеса заказчика.</div>
      </div>
      <div class="application-section align">
        <div class="application-section__col">
          <div class="application-section__box">
            <div class="application-section__title heading-size">Не смогли найти программу?</div>
            <div class="application-section__note">Наши менеджеры помогут Вам подобрать самый оптимальный вариант</div>
            <div class="application-section__btn">
              <button class="callback-btn btn btn--full">заказать консультацию</button>
            </div>
          </div>
        </div>
        <div class="application-section__col">
          <div class="application-section__box">
            <div class="application-section__title heading-size">Закажите разработку</div>
            <div class="application-section__note">Индивидуальная программа для вашего бизнеса</div>
            <div class="application-section__btn">
              <a href="#" class="btn btn--full btn--black">Перейти</a>
            </div>
          </div>
        </div>
      </div>
      {% include 'footer.html' %}
    </div>
  </div>

  {% include 'popup.html' %} {% include 'js.html' %}
</body>

</html>