<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}

<body>
  {% include 'menu.html' %}
  <div class="wrapper">
    {% include 'header-common.html' %}
    <div class="content">
      <ul class="breadcrumbs align align--padding">
        <li class="breadcrumbs__item">
          <a href="#" class="breadcrumbs__link">Главная</a>
        </li>
        <li class="breadcrumbs__item">Новости</li>
      </ul>
      <div class="align align--padding bottom-space">
        <div class="heading heading--left">Новости</div>
        <div class="news-list">
          <div class="news-list__item">
            <a href="#" class="news-slider__thumb">
              <img src="data/news/news-image-1.jpg" alt="..." width="365" height="180">
            </a>
            <a href="#" class="news-slider__title">Интеллектуальная вечеринка</a>
            <div class="news-slider__text">Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности требуют от нас анализа</div>
          </div>
          <div class="news-list__item">
            <a href="#" class="news-slider__thumb">
              <img src="data/news/news-image-2.jpg" alt="..." width="365" height="180">
            </a>
            <a href="#" class="news-slider__title">Интеллектуальная вечеринка</a>
            <div class="news-slider__text">Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности требуют от нас анализа</div>
          </div>
          <div class="news-list__item">
            <a href="#" class="news-slider__thumb">
              <img src="data/news/news-image-1.jpg" alt="..." width="365" height="180">
            </a>
            <a href="#" class="news-slider__title">Интеллектуальная вечеринка</a>
            <div class="news-slider__text">Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности требуют от нас анализа</div>
          </div>
          <div class="news-list__item">
            <a href="#" class="news-slider__thumb">
              <img src="data/news/news-image-1.jpg" alt="..." width="365" height="180">
            </a>
            <a href="#" class="news-slider__title">Интеллектуальная вечеринка</a>
            <div class="news-slider__text">Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности требуют от нас анализа</div>
          </div>
          <div class="news-list__item">
            <a href="#" class="news-slider__thumb">
              <img src="data/news/news-image-1.jpg" alt="..." width="365" height="180">
            </a>
            <a href="#" class="news-slider__title">Интеллектуальная вечеринка</a>
            <div class="news-slider__text">Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности требуют от нас анализа</div>
          </div>
          <div class="news-list__item">
            <a href="#" class="news-slider__thumb">
              <img src="data/news/news-image-1.jpg" alt="..." width="365" height="180">
            </a>
            <a href="#" class="news-slider__title">Интеллектуальная вечеринка</a>
            <div class="news-slider__text">Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности требуют от нас анализа</div>
          </div>
          <div class="news-list__item">
            <a href="#" class="news-slider__thumb">
              <img src="data/news/news-image-2.jpg" alt="..." width="365" height="180">
            </a>
            <a href="#" class="news-slider__title">Интеллектуальная вечеринка</a>
            <div class="news-slider__text">Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности требуют от нас анализа</div>
          </div>
          <div class="news-list__item">
            <a href="#" class="news-slider__thumb">
              <img src="data/news/news-image-1.jpg" alt="..." width="365" height="180">
            </a>
            <a href="#" class="news-slider__title">Интеллектуальная вечеринка</a>
            <div class="news-slider__text">Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности требуют от нас анализа</div>
          </div>
          <div class="news-list__item">
            <a href="#" class="news-slider__thumb">
              <img src="data/news/news-image-1.jpg" alt="..." width="365" height="180">
            </a>
            <a href="#" class="news-slider__title">Интеллектуальная вечеринка</a>
            <div class="news-slider__text">Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности требуют от нас анализа</div>
          </div>
        </div>
        <ul class="news-pagination">
          <li class="news-pagination__item">
            <a href="#" class="news-pagination__link">
              <svg class="news-pagination__svg">
                <use xlink:href="/images/sprite.svg#arrow-prev" />
              </svg>
            </a>
          </li>
          <li class="news-pagination__item">
            <a href="#" class="news-pagination__link">1</a>
          </li>
          <li class="news-pagination__item active">2
          </li>
          <li class="news-pagination__item">
            <a href="#" class="news-pagination__link">3</a>
          </li>
          <li class="news-pagination__item">
            <a href="#" class="news-pagination__link">4</a>
          </li>
          <li class="news-pagination__item">...
          </li>
          <li class="news-pagination__item">
            <a href="#" class="news-pagination__link">9</a>
          </li>
          <li class="news-pagination__item">
            <a href="#" class="news-pagination__link">
              <svg class="news-pagination__svg">
                <use xlink:href="/images/sprite.svg#arrow-next" />
              </svg>
            </a>
          </li>
        </ul>
      </div>
      {% include 'footer.html' %}
    </div>
  </div>

  {% include 'popup.html' %} {% include 'js.html' %}
</body>

</html>