<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}

<body>
  {% include 'menu.html' %}
  <div class="wrapper">
    {% include 'header-common.html' %}
    <div class="sidebar sidebar--training">
      <div class="sidebar__wrap">
        <div class="sidebar__title">
          Лидерство и управление командой
        </div>
        <div class="sidebar-training">
          <div class="sidebar-training__row">
            <div class="sidebar-calendar">
              <div class="sidebar-calendar__col">
                <div class="sidebar-calendar__title">Дата:</div>
                <div class="sidebar-calendar__number">20-21</div>
                <div class="sidebar-calendar__value">февраля</div>
              </div>
              <div class="sidebar-calendar__col">
                <div class="sidebar-calendar__title">Цена:</div>
                <div class="sidebar-calendar__number">5 300</div>
                <div class="sidebar-calendar__value">гривен</div>
              </div>
            </div>
          </div>
          <div class="sidebar-training__row">
            <div class="sidebar-training__info">
              <div class="sidebar-training__thumb">
                <svg class="sidebar-training__icon" width="13" height="13">
                  <use xlink:href="/images/sprite.svg#clock" />
                </svg>
              </div>
              <div class="sidebar-training__text">
                18:00 - 22:00</div>
            </div>
            <div class="sidebar-training__info">
              <div class="sidebar-training__thumb">
                <svg class="sidebar-training__icon" width="9" height="12">
                  <use xlink:href="/images/sprite.svg#pin1" />
                </svg>
              </div>
              <div class="sidebar-training__text">г. Харьков, пр. Науки, 64</div>
            </div>
          </div>
          <div class="sidebar-training__row">
            <div class="sidebar-discount">
              <div class="sidebar-discount__row">
                <div class="sidebar-discount__red">-5%</div> за второго участника</div>
              <div class="sidebar-discount__row">
                <div class="sidebar-discount__red">-7%</div> за третьего участника</div>
            </div>
          </div>
        </div>
        <button class="order-btn btn btn--full">Записаться на тренинг</button>
      </div>
    </div>
    <div class="content">
      <div class="consulting-section first-section" style="background-image: url(data/training-image-1.jpg);">
        <div class="consulting-section__wrapper">
          <ul class="breadcrumbs align align--padding breadcrumbs--white">
            <li class="breadcrumbs__item">
              <a href="#" class="breadcrumbs__link">Главная</a>
            </li>
            <li class="breadcrumbs__item">Открытый тренинг</li>
          </ul>
          <div class="consulting-section__info align align--padding">
            <div class="consulting-section__box">
              <div class="consulting-section__title">Лидерство и управление командой</div>
              <div class="consulting-section__text">Тренинг 2 дня</div>
            </div>
          </div>
        </div>
      </div>
      <div class="align align--padding">
        <div class="content__sidebar">
          <div class="training-box training-padding">
            <div class="training-heading">
              <div class="training-heading__info">Тренинг 2 дня</div>
              <div class="training-heading__title">Лидерство и управление командой</div>
            </div>
            <div class="training-box__text text">
              <p>Драма третьего тысячелетия заключается в том, что человек скованный ленью, страхами и привычками использует
                10% своего потенциала. А думает, что все 110%. Все самомотивированные уже сидят в таких же креслах как мы
                и ждут талантливых сотрудников. Думаете, дождутся?</p>
              <p>Должен ли руководитель быть лидером, вдохновляющим свою команду? Или достаточно располагать официальным правом
                поощрения и наказания участников совместной деятельности? На эти и другие вопросы мы найдем ответы на тренинге
                «ЛИДЕРСТВО и УПРАВЛЕНИЕ командой».</p>
            </div>
          </div>
          <div class="speaker-holder training-padding">
            <div class="speaker-holder__thumb">
              <img class="speaker-holder__image" src="data/speakers/speaker-7.png" alt="...">
            </div>
            <div class="speaker-holder__content">
              <div class="speaker-holder__position">Спикер</div>
              <div class="speaker-holder__title">Сергей Назарович</div>
              <div class="speaker-holder__text custom-scroll">
                Идейные соображения высшего порядка, а также новая модель организационной деятельности позволяет оценить значение соответствующий
                условий активизации. Таким образом дальнейшее развитие различных форм деятельности позволяет оценить значение
                новых предложений. Таким образом постоянное информационно-пропагандистское обеспечение нашей деятельности
                позволяет выполнять важные задания по разработке существенных финансовых и административных условий. Разнообразный
                и богатый опыт начало повседневной работы по формированию позиции представляет собой интересный эксперимент
                проверки форм развития. Разнообразный и богатый опыт новая модель организационной деятельности способствует
                подготовки и реализации существенных финансовых и административных условий. Товарищи! новая модель организационной
                деятельности играет важную роль в формировании направлений прогрессивного развития. Равным образом постоянное
                информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение дальнейших направлений
                развития. Задача организации, в особенности же постоянное информационно-пропагандистское обеспечение нашей
                деятельности представляет собой интересный эксперимент проверки форм развития. С другой стороны новая модель
                организационной деятельности способствует подготовки и реализации существенных финансовых и административных
                условий. информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение дальнейших
                направлений развития. Задача организации, в особенности же постоянное информационно-пропагандистское обеспечение
                нашей деятельности представляет собой интересный эксперимент проверки форм развития. С другой стороны новая
                модель организационной деятельности способствует подготовки и реализации существенных финансовых и административных
                условий. информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение дальнейших
                направлений развития. Задача организации, в особенности же постоянное информационно-пропагандистское обеспечение
                нашей деятельности представляет собой интересный эксперимент проверки форм развития. С другой стороны новая
                модель организационной деятельности способствует подготовки и реализации существенных финансовых и административных
                условий.
              </div>
            </div>
          </div>
          <div class="reason-holder training-padding">
            <div class="reason-holder__title heading-size">Для кого этот тренинг</div>
            <div class="reason-holder__list">
              <div class="reason-holder__item">Дать участникам комплексное представление о лидерстве и его месте в системе управления.</div>
              <div class="reason-holder__item">Оценить свой лидерский потенциал, наметить индивидуальный план развития.</div>
              <div class="reason-holder__item">Получить инструменты управления и развития сотрудников.</div>
            </div>
          </div>
          <div class="tasks-holder training-padding">
            <div class="tasks-holder__title heading-size">Цели и задачи программы</div>
            <div class="tasks-holder__list">
              <div class="tasks-holder__item">Дать участникам комплексное представление о лидерстве и его месте в системе управления.</div>
              <div class="tasks-holder__item">Оценить свой лидерский потенциал, наметить индивидуальный план развития.</div>
              <div class="tasks-holder__item">Получить инструменты управления и развития сотрудников.</div>
              <div class="tasks-holder__item">Научиться вдохновлять сотрудников на достижение амбициозных целей.</div>
              <div class="tasks-holder__item">Выработать разные стратегии поведения в различных ситуациях.</div>
              <div class="tasks-holder__item">Отработать данные навыки в рамках проведения деловых игр и командных упражнений.</div>
            </div>
          </div>
          <div class="practicum-holder training-padding">
            <div class="practicum-holder__heading heading-size">Программа тренинг-практикума</div>
            <div class="practicum-holder__list">
              <div class="practicum-holder__item">
                <div class="practicum-holder__col">
                  <div class="practicum-holder__number">01</div>
                </div>
                <div class="practicum-holder__content">
                  <div class="practicum-holder__title">Природа Лидера</div>
                  <div class="practicum-holder__text text">
                    <ul>
                      <li>Понятие лидерства и катализаторы реализации внутреннего потенциала;</li>
                      <li>Лидерство — фундамент успешноц дестельности. Кто такой лидер?</li>
                      <li>Лидер-мужчина и Лидер-женщина: общее и различия;</li>
                      <li>Формальное и неформальное лидерство;</li>
                      <li>Картина мира и система ценностей Лидера;</li>
                      <li>На чем растет Лидер? Точка роста;</li>
                      <li>IQ и EQ Лидера;</li>
                      <li>Харизма Лидера.</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="practicum-holder__item">
                <div class="practicum-holder__col">
                  <div class="practicum-holder__number">02</div>
                </div>
                <div class="practicum-holder__content">
                  <div class="practicum-holder__title">Лидерство и управленческое влияние руководителя</div>
                  <div class="practicum-holder__text text">
                    <ul>
                      <li>Личные качества и установки, необходимые для успешного управления, психологическая готовность к этой
                        деятельности;
                      </li>
                      <li>Роли Лидера (по отношению к бизнесу, по отношению к людям);</li>
                      <li>Виды управленческого влияния;</li>
                      <li>Поведение, ориентированное на достижение результата;</li>
                      <li>Поведение, ориентированние на формирование отношений;</li>
                      <li>Стили Лидерства и стили Управления;</li>
                      <li>Определение и корректировка своего стиля Лидера;</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="training-form">
            <div class="training-form__title heading-size">Получить программу в PDF</div>
            <form action="#" class="training-form__content">
              <div class="training-form__col">
                <input class="training-form__input" type="tel" placeholder="Телефон">
              </div>
              <div class="training-form__col">
                <input class="training-form__input" type="email" placeholder="Email">
              </div>
              <div class="training-form__col">
                <button class="btn">Отправить</button>
              </div>
            </form>
          </div>
          <div class="training-event training-padding">
            <div class="training-event__title heading-size">Как проходит тренинг</div>
            <div class="training-slider">
              <a href="data/trainings/slider-image-1.jpg" data-fancybox="training" class="training-slider__item">
                <img src="data/trainings/slider-image-1.jpg" alt="..." width="812" height="489">
              </a>
              <a href="data/trainings/slider-image-1.jpg" data-fancybox="training" class="training-slider__item">
                <img src="data/trainings/slider-image-1.jpg" alt="..." width="812" height="489">
              </a>
              <a href="data/trainings/slider-image-1.jpg" data-fancybox="training" class="training-slider__item">
                <img src="data/trainings/slider-image-1.jpg" alt="..." width="812" height="489">
              </a>
              <a href="data/trainings/slider-image-1.jpg" data-fancybox="training" class="training-slider__item">
                <img src="data/trainings/slider-image-1.jpg" alt="..." width="812" height="489">
              </a>
              <a href="data/trainings/slider-image-1.jpg" data-fancybox="training" class="training-slider__item">
                <img src="data/trainings/slider-image-1.jpg" alt="..." width="812" height="489">
              </a>
              <a href="data/trainings/slider-image-1.jpg" data-fancybox="training" class="training-slider__item">
                <img src="data/trainings/slider-image-1.jpg" alt="..." width="812" height="489">
              </a>
              <a href="data/trainings/slider-image-1.jpg" data-fancybox="training" class="training-slider__item">
                <img src="data/trainings/slider-image-1.jpg" alt="..." width="812" height="489">
              </a>
              <a href="data/trainings/slider-image-1.jpg" data-fancybox="training" class="training-slider__item">
                <img src="data/trainings/slider-image-1.jpg" alt="..." width="812" height="489">
              </a>
              <a href="data/trainings/slider-image-1.jpg" data-fancybox="training" class="training-slider__item">
                <img src="data/trainings/slider-image-1.jpg" alt="..." width="812" height="489">
              </a>
              <a href="data/trainings/slider-image-1.jpg" data-fancybox="training" class="training-slider__item">
                <img src="data/trainings/slider-image-1.jpg" alt="..." width="812" height="489">
              </a>
            </div>
            <div class="training-slider-small">
              <div class="training-slider-small__item">
                <img class="training-slider-small__image" src="data/trainings/slider-image-1.jpg" alt="..." width="90" height="54">
              </div>
              <div class="training-slider-small__item">
                <img class="training-slider-small__image" src="data/trainings/slider-image-1.jpg" alt="..." width="90" height="54">
              </div>
              <div class="training-slider-small__item">
                <img class="training-slider-small__image" src="data/trainings/slider-image-1.jpg" alt="..." width="90" height="54">
              </div>
              <div class="training-slider-small__item">
                <img class="training-slider-small__image" src="data/trainings/slider-image-1.jpg" alt="..." width="90" height="54">
              </div>
              <div class="training-slider-small__item">
                <img class="training-slider-small__image" src="data/trainings/slider-image-1.jpg" alt="..." width="90" height="54">
              </div>
              <div class="training-slider-small__item">
                <img class="training-slider-small__image" src="data/trainings/slider-image-1.jpg" alt="..." width="90" height="54">
              </div>
              <div class="training-slider-small__item">
                <img class="training-slider-small__image" src="data/trainings/slider-image-1.jpg" alt="..." width="90" height="54">
              </div>
              <div class="training-slider-small__item">
                <img class="training-slider-small__image" src="data/trainings/slider-image-1.jpg" alt="..." width="90" height="54">
              </div>
              <div class="training-slider-small__item">
                <img class="training-slider-small__image" src="data/trainings/slider-image-1.jpg" alt="..." width="90" height="54">
              </div>
              <div class="training-slider-small__item">
                <img class="training-slider-small__image" src="data/trainings/slider-image-1.jpg" alt="..." width="90" height="54">
              </div>
            </div>
            <div class="training-event__list">
              <div class="training-event__item">
                <div class="training-event__text">Тренинг организован в смешанной форме: информационные блоки чередуются с практическими упражнениями (40/60).</div>
              </div>
              <div class="training-event__item">
                <div class="training-event__text">Методы, используемые в тренинге: деловые игры, «мозговой штурм», кейсы, индивидуальные задания.</div>
              </div>
              <div class="training-event__item">
                <div class="training-event__text">Участники тренинга активно взаимодействуют как друг с другом, так и с тренером.</div>
              </div>
              <div class="training-event__item">
                <div class="training-event__text">Тренер демонстрирует инструменты и технологии с примерами из собственного опыта, отвечает на вопросы участников
                  и помогает решать специфические рабочие ситуации.</div>
              </div>
              <div class="training-event__item">
                <div class="training-event__text">Тренинг максимально адаптирован к реалиям рынка, все кейсы и задания взяты из реальных ситуаций украинских
                  компаний.
                </div>
              </div>

            </div>
          </div>
          <div class="training-reviews training-padding">
            <div class="training-reviews__title heading-size">Отзывы участников</div>
            <div class="reviews-slider">
              <div class="reviews-slide">
                <div class="reviews-slider__item">
                  <div class="reviews-slider__thumb">
                    <img src="data/speakers/speaker-1.png" alt="..." class="reviews-slider__image">
                  </div>
                  <div class="reviews-slider__content">
                    <div class="reviews-slider__title">Юрченко Сергей Белоцерковский</div>
                    <div class="reviews-slider__position">Молочный комбинат</div>
                    <div class="reviews-slider__text">Задача стояла перед нами такая: необходим был зрелый, харизматичный тренер, понимающий систему работы
                      с дистрибьюторам и могущий сделать достойный практикум по переговорам. В итоге тренинга с Викторией
                      Березиной... получили...
                    </div>
                    <a href="#" class="reviews-slider__more">Читать полностью</a>
                  </div>
                </div>
              </div>
              <div class="reviews-slide">
                <div class="reviews-slider__item">
                  <div class="reviews-slider__thumb">
                    <img src="data/speakers/speaker-1.png" alt="..." class="reviews-slider__image">
                  </div>
                  <div class="reviews-slider__content">
                    <div class="reviews-slider__title">Юрченко Сергей Белоцерковский</div>
                    <div class="reviews-slider__position">Молочный комбинат</div>
                    <div class="reviews-slider__text">Задача стояла перед нами такая: необходим был зрелый, харизматичный тренер, понимающий систему работы
                      с дистрибьюторам и могущий сделать достойный практикум по переговорам. В итоге тренинга с Викторией
                      Березиной... получили...
                    </div>
                    <a href="#" class="reviews-slider__more">Читать полностью</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="participants">
          <div class="participants__title heading-size">Условия участия</div>
          <div class="participants-box">
            <div class="participants-date__wrap">
              <div class="participants-date heading-size">
                <div class="participants-date__month">ФЕВРАЛЬ</div>
                <div class="participants-date__days">20-21</div>
              </div>
              <div class="participants-address">
                <svg class="participants-address__icon" width="15" height="20">
                  <use xlink:href="/images/sprite.svg#pin1" />
                </svg>
                <address class="participants-address__text">г. Харьков, пр. Науки, 64</address>
              </div>
            </div>
            <div class="participants-price">
              <div class="participants-cost__wrap">
                <div class="participants-cost">
                  <div class="participants-cost__title">Стоимость участия:</div>
                  <div class="participants-cost__number">5 300 грн.</div>
                </div>
                <div class="participants-discount">
                  <div class="participants-discount__row">
                    <div class="participants-discount__number">-5%</div> за второго участника</div>
                  <div class="participants-discount__row">
                    <div class="participants-discount__number">-7%</div> за третьего участника</div>
                </div>
              </div>
              <div class="participants-price__row">
                <div class="participants-price__title">Продолжительность программы обучения</div>
                <div class="participants-price__additional">
                  <svg class="participants-price__icon">
                    <use xlink:href="/images/sprite.svg#clock" />
                  </svg>2 дня = 18 академических часов (+ синемалогия)</div>
              </div>
              <div class="participants-price__row">
                <div class="participants-price__title">В стоимость программы
                  <div class="participants-price__title--bold">входит:</div>
                </div>
                <div class="participants-price__note">Обучение, методический материал, канцелярские принадлежности, технические средства обучения, кофе-брейки,
                  обеды, сертификаты.
                </div>
              </div>
            </div>
          </div>
          <div class="participants-triggers">
            <div class="participants-triggers__item">
              <div class="participants-triggers__thumb">
                <svg class="participants-triggers__icon">
                  <use xlink:href="/images/sprite.svg#participant-1" />
                </svg>
              </div>
              <div class="participants-triggers__text">Гарантия лучшей цены</div>
            </div>
            <div class="participants-triggers__item">
              <div class="participants-triggers__thumb">
                <svg class="participants-triggers__icon">
                  <use xlink:href="/images/sprite.svg#participant-2" />
                </svg>
              </div>
              <div class="participants-triggers__text">100% возврат при отказе</div>
            </div>
            <div class="participants-triggers__item">
              <div class="participants-triggers__thumb">
                <svg class="participants-triggers__icon">
                  <use xlink:href="/images/sprite.svg#participant-3" />
                </svg>
              </div>
              <div class="participants-triggers__text">Удобный способ оплаты</div>
            </div>
            <div class="participants-triggers__item">
              <div class="participants-triggers__thumb">
                <svg class="participants-triggers__icon">
                  <use xlink:href="/images/sprite.svg#participant-4" />
                </svg>
              </div>
              <div class="participants-triggers__text">Групповые скидки</div>
            </div>
          </div>
        </div>
      </div>
      <div class="section align">
        <div class="application-section">
          <div class="application-section__col">
            <div class="application-section__box">
              <div class="application-section__title heading-size">Остались вопросы?</div>
              <div class="application-section__note">Оставьте свои контакты и наш менеджер свяжется с Вами и предоставит всю необходимую информацию</div>
              <div class="application-section__btn">
                <button class="callback-btn btn btn--full">Заказать обратный звонок</button>
              </div>
            </div>
          </div>
          <div class="application-section__col">
            <div class="application-section__box">
              <div class="application-section__title heading-size">Принять участие</div>
              <div class="application-section__note">Вы можете зарегистрировать участников через сайт</div>
              <div class="application-section__btn">
                <button class="btn btn--full btn--black">Регистрация</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section align align--padding more-trainings">
        <div class="heading heading--left more-trainings__title">Вам также могут быть интересны</div>
        <div class="events-content__list">
          <div class="events-box">
            <a href="#" class="events-box__thumb">
              <img class="events-box__image" src="data/events/event-1.jpg" alt="...">
            </a>
            <div class="events-box__content">
              <div class="events-box__top">
                <div class="events-box__date">

                  <div class="events-box__icon">
                    <svg width="11" height="12">
                      <use xlink:href="/images/sprite.svg#calendar" />
                    </svg>
                  </div>

                  20-21 ноября</div>
                <div class="events-box__place">
                  <div class="events-box__icon">
                    <svg width="9" height="12">
                      <use xlink:href="/images/sprite.svg#pin1" />
                    </svg>
                  </div>
                  Киев</div>
              </div>
              <div class="events-box__heading">
                <div class="events-box__mentor">Виктория Березина</div>
              </div>
              <div class="events-box__info">
                <div class="events-box__cost">
                  <div class="events-box__description">Тренинг, 2 дня</div>
                  <div class="events-box__price">4 800 грн</div>
                </div>
                <div class="events-box__more">
                  <a href="#" class="events-box__link">
                    <div class="events-box__text">Подробнее</div>
                    <svg class="events-box__svg">
                      <use xlink:href="/images/sprite.svg#arrow-next" />
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="events-box">
            <a href="#" class="events-box__thumb">
              <img class="events-box__image" src="data/events/event-2.jpg" alt="..." width="275" height="275">
            </a>
            <div class="events-box__content">
              <div class="events-box__top">
                <div class="events-box__date">20-21 ноября</div>
                <div class="events-box__place">Киев</div>
              </div>
              <div class="events-box__heading">
                <div class="events-box__mentor">Виктория Березина</div>
              </div>
              <div class="events-box__info">
                <div class="events-box__cost">
                  <div class="events-box__description">Тренинг, 2 дня</div>
                  <div class="events-box__price">4 800 грн</div>
                </div>
                <div class="events-box__more">
                  <a href="#" class="events-box__link">
                    <div class="events-box__text">Подробнее</div>
                    <svg class="events-box__svg">
                      <use xlink:href="/images/sprite.svg#arrow-next" />
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="events-box">
            <a href="#" class="events-box__thumb">
              <img class="events-box__image" src="data/events/event-3.jpg" alt="..." width="275" height="275">
            </a>
            <div class="events-box__content">
              <div class="events-box__top">
                <div class="events-box__date">20-21 ноября</div>
                <div class="events-box__place">Киев</div>
              </div>
              <div class="events-box__heading">
                <div class="events-box__mentor">Виктория Березина</div>
              </div>
              <div class="events-box__info">
                <div class="events-box__cost">
                  <div class="events-box__description">Тренинг, 2 дня</div>
                  <div class="events-box__price">4 800 грн</div>
                </div>
                <div class="events-box__more">
                  <a href="#" class="events-box__link">
                    <div class="events-box__text">Подробнее</div>
                    <svg class="events-box__svg">
                      <use xlink:href="/images/sprite.svg#arrow-next" />
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="events-box">
            <a href="#" class="events-box__thumb">
              <img class="events-box__image" src="data/events/event-2.jpg" alt="..." width="275" height="275">
            </a>
            <div class="events-box__content">
              <div class="events-box__top">
                <div class="events-box__date">20-21 ноября</div>
                <div class="events-box__place">Киев</div>
              </div>
              <div class="events-box__heading">
                <div class="events-box__mentor">Виктория Березина</div>
              </div>
              <div class="events-box__info">
                <div class="events-box__cost">
                  <div class="events-box__description">Тренинг, 2 дня</div>
                  <div class="events-box__price">4 800 грн</div>
                </div>
                <div class="events-box__more">
                  <a href="#" class="events-box__link">
                    <div class="events-box__text">Подробнее</div>
                    <svg class="events-box__svg">
                      <use xlink:href="/images/sprite.svg#arrow-next" />
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="more-trainings__row">
          <div class="more-trainings__col">
            <a href="#" class="btn btn--full">все открытые тренинги</a>
          </div>
          <div class="more-trainings__col">
            <a href="#" class="btn btn--full btn--invert">все корпоративные тренинги</a>
          </div>
        </div>
      </div>
      {% include 'footer.html' %}
    </div>
  </div>

  {% include 'popup.html' %} {% include 'js.html' %}
</body>

</html>