<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}

<body>
  {% include 'menu.html' %}
  <div class="wrapper">
    {% include 'header-common.html' %}
    <div class="content">
      <div class="partners-section" style="background-image: url(data/bg-partners.jpg);">
        <div class="partners-section__wrapper">
          <ul class="breadcrumbs align align--padding breadcrumbs--white">
            <li class="breadcrumbs__item">
              <a href="#" class="breadcrumbs__link">Главная</a>
            </li>
            <li class="breadcrumbs__item">Как стать партнером?</li>
          </ul>
          <div class="heading heading--white">Как стать партнером?</div>
          <div class="arrow-bottom__wrap">
            <a href="#partners-conditions" class="arrow-bottom smooth-scroll">
              <svg class="arrow-bottom__icon">
                <use xlink:href="/images/sprite.svg#arrow-bottom" />
              </svg>
            </a>
          </div>
        </div>
      </div>
      <div id="partners-conditions" class="partners-conditions__wrap">
        <div class="partners-conditions align section">
          <div class="partners-conditions__thumb">
            <img src="data/partners-image.jpg" alt="..." width="592">
          </div>
          <div class="partners-conditions__content">
            <div class="partners-conditions__insert">partners</div>
            <div class="partners-conditions__title">Условия партнерства</div>
            <div class="partners-conditions__text text custom-scroll">
              <p>2.1 Размещение на коммерческом хостинге: посещаемость от 500 уникальных посетителей в сутки для тематических
                сайтов, посещаемость от 1000 уникальных посетителей в сутки для развлекательных сайтов. Размещение на бесплатном
                хостинге: стабильная посещаемость составляет более 1000 уникальных посетителей в сутки для всех типов сайтов.
                Подробную информацию смотрите в п. 9 настоящих условий сотрудничества.</p>
              <p>2.2 Русский язык. Размещение контекстных объявлений на страницах с контентом на других языках не допускается.</p>
              <p>2.3 Соответствие контента законодательству РФ. В частности, ЗАПРЕЩЕН показ контекстных объявлений сервиса «Бегун»
                на веб-ресурсах, в содержании которых </p>
            </div>
          </div>
        </div>
      </div>
      <div class="section">
        <div class="callback-section__form callback-section__form--partners">
          <div class="popup-form__row popup-form__row--center">
            <div class="heading callback-section__title">Стать партнером</div>
          </div>
          <form action="popup-form">
            <div class="popup-form__row input__row">
              <input id="callback-name1" type="text" class="input">
              <label class="label" for="callback-name1">ФИО*</label>
            </div>
            <div class="popup-form__row input__row">
              <input id="callback-phone1" type="tel" class="input error">
              <label class="label" for="callback-phone1">Телефон*</label>
            </div>
            <div class="popup-form__row input__row">
              <input id="callback-email1" type="email" class="input">
              <label class="label" for="callback-email1">Email</label>
            </div>
            <div class="popup-form__row input__row">
              <input id="callback-company1" type="text" class="input">
              <label class="label" for="callback-company1">Компания</label>
            </div>
            <div class="popup-form__row input__row">
              <input id="callback-comment1" type="text" class="input">
              <label class="label" for="callback-comment1">Добавить комментарий</label>
            </div>
            <div class="popup-form__row popup-form__row--center">
              <button class="btn">Отправить</button>
            </div>
          </form>
        </div>
      </div>
      {% include 'footer.html' %}
    </div>
  </div>

  {% include 'popup.html' %} {% include 'js.html' %}
</body>

</html>