<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}

<body>
  {% include 'menu.html' %}
  <div class="wrapper">
    {% include 'header-common.html' %}
    <div class="content">
      <div class="partners-section" style="background-image: url(data/bg-pharmacy.jpg);">
        <div class="partners-section__wrapper">
          <ul class="breadcrumbs align align--padding breadcrumbs--white">
            <li class="breadcrumbs__item">
              <a href="#" class="breadcrumbs__link">Главная</a>
            </li>
            <li class="breadcrumbs__item">
              <a href="#" class="breadcrumbs__link">Корпоравивное обучение</a>
            </li>
            <li class="breadcrumbs__item">Для фармбизнеса</li>
          </ul>
          <div class="heading heading--white">Тренинги для фармацевтического рынка</div>
          <div class="arrow-bottom__wrap">
            <a href="#partners-conditions" class="arrow-bottom smooth-scroll">
              <svg class="arrow-bottom__icon">
                <use xlink:href="/images/sprite.svg#arrow-bottom" />
              </svg>
            </a>
          </div>
        </div>
      </div>
      <div id="partners-conditions" class="partners-conditions__wrap">
        <div class="partners-conditions align section">
          <div class="partners-conditions__thumb">
            <img src="data/pharmacy-image.jpg" alt="..." width="592">
          </div>
          <div class="partners-conditions__content">
            <div class="partners-conditions__insert">pharmacy</div>
            <div class="partners-conditions__title">Фармацевтический рынок</div>
            <div class="partners-conditions__text text custom-scroll">
              <p>За годы плодотворного сотрудничества с рынком медицины и фармацевтики нами накоплен опыт работы и уникальные
                авторские программы по самым разным направлениям:</p>
              <ul>
                <li>Тренинги для фармацевтических компаний</li>
                <li>Тренинги для аптечной розницы</li>
                <li>Тренинги для медицинских клиник</li>
                <li>Тренинги для опинион лидеров</li>
                <li>Тренинги для производителей и дистрибьюторов БАДов, медицинской техники, изделий медназначений, косметики
                  и других игроков фармрынка.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="pharmacy-quote">
        <div class="pharmacy-quote__box">
          <div class="pharmacy-quote__text">С каждым годом экспертность в этой области накапливается, а список тренинговых программ пополняются новинками и
            самыми актуальными технологиями
          </div>
          <div class="pharmacy-quote__title">Все программы разработаны с учетом тонкостей фармацевтического бизнеса и всегда адаптируются под специфику продуктов
            заказчика.
          </div>
        </div>
      </div>
      <div class="section align">
        <div class="section-title section-title--center">НАМ ДОВЕРЯЮТ</div>
        <div class="clients-list">
          <a href="#" rel="nofollow" target="_blank" class="clients-list__item">
            <img src="data/clients/client-image-1.png" alt="...">
          </a>
          <a href="#" rel="nofollow" target="_blank" class="clients-list__item">
            <img src="data/clients/client-image-2.png" alt="...">
          </a>
          <a href="#" rel="nofollow" target="_blank" class="clients-list__item">
            <img src="data/clients/client-image-3.png" alt="...">
          </a>
          <a href="#" rel="nofollow" target="_blank" class="clients-list__item">
            <img src="data/clients/client-image-4.png" alt="...">
          </a>
          <a href="#" rel="nofollow" target="_blank" class="clients-list__item">
            <img src="data/clients/client-image-5.png" alt="...">
          </a>
          <a href="#" rel="nofollow" target="_blank" class="clients-list__item">
            <img src="data/clients/client-image-6.png" alt="...">
          </a>
          <a href="#" rel="nofollow" target="_blank" class="clients-list__item">
            <img src="data/clients/client-image-7.png" alt="...">
          </a>
          <a href="#" rel="nofollow" target="_blank" class="clients-list__item">
            <img src="data/clients/client-image-8.png" alt="...">
          </a>
          <a href="#" rel="nofollow" target="_blank" class="clients-list__item">
            <img src="data/clients/client-image-9.png" alt="...">
          </a>
          <a href="#" rel="nofollow" target="_blank" class="clients-list__item">
            <img src="data/clients/client-image-10.png" alt="...">
          </a>
          <a href="#" rel="nofollow" target="_blank" class="clients-list__item">
            <img src="data/clients/client-image-11.png" alt="...">
          </a>
          <a href="#" rel="nofollow" target="_blank" class="clients-list__item">
            <img src="data/clients/client-image-12.png" alt="...">
          </a>
          <a href="#" rel="nofollow" target="_blank" class="clients-list__item">
            <img src="data/clients/client-image-13.png" alt="...">
          </a>
          <a href="#" rel="nofollow" target="_blank" class="clients-list__item">
            <img src="data/clients/client-image-14.png" alt="...">
          </a>
          <a href="#" rel="nofollow" target="_blank" class="clients-list__item">
            <img src="data/clients/client-image-15.png" alt="...">
          </a>
          <a href="#" rel="nofollow" target="_blank" class="clients-list__item">
            <img src="data/clients/client-image-16.png" alt="...">
          </a>
          <a href="#" rel="nofollow" target="_blank" class="clients-list__item">
            <img src="data/clients/client-image-17.png" alt="...">
          </a>
          <a href="#" rel="nofollow" target="_blank" class="clients-list__item">
            <img src="data/clients/client-image-18.png" alt="...">
          </a>
          <a href="#" rel="nofollow" target="_blank" class="clients-list__item">
            <img src="data/clients/client-image-19.png" alt="...">
          </a>
          <a href="#" rel="nofollow" target="_blank" class="clients-list__item">
            <img src="data/clients/client-image-20.png" alt="...">
          </a>
        </div>
      </div>
      <div class="section align">
        <div class="management-list">
          <div class="management-list__box">
            <a href="#" class="management-list__item" style="background-image: url(data/management/management-1.jpg);">
              <div class="management-list__content">
                <div class="management-list__title">Менеджмент в стиле коучинг</div>
                <div class="management-list__text">Мы проведем тренинг или целый курс специально для вашей команды . Подберем тренера, тему и методики, которые
                  помогут решить вашу... текущую задачу – от повышения мотивации сотрудников до оптимизации управленческого
                  учета.
                </div>
                <div class="events-box__link management-list__btn">
                  <div class="events-box__text">Подробнее</div>
                  <svg class="events-box__svg">
                    <use xlink:href="/images/sprite.svg#arrow-next" />
                  </svg>
                </div>
              </div>
            </a>
          </div>
          <div class="management-list__box">
            <a href="#" class="management-list__item" style="background-image: url(data/management/management-2.jpg);">
              <div class="management-list__content">
                <div class="management-list__title">Искусство управления: оперативный и тактический менеджмент</div>
                <div class="management-list__text">Мы проведем тренинг или целый курс специально для вашей команды . Подберем тренера, тему и методики, которые
                  помогут решить вашу... текущую задачу – от повышения мотивации сотрудников до оптимизации управленческого
                  учета.
                </div>
                <div class="events-box__link management-list__btn">
                  <div class="events-box__text">Подробнее</div>
                  <svg class="events-box__svg">
                    <use xlink:href="/images/sprite.svg#arrow-next" />
                  </svg>
                </div>
              </div>
            </a>
          </div>
          <div class="management-list__box">
            <a href="#" class="management-list__item" style="background-image: url(data/management/management-3.jpg);">
              <div class="management-list__content">
                <div class="management-list__title">Менеджмент в стиле коучинг</div>
                <div class="management-list__text">Мы проведем тренинг или целый курс специально для вашей команды . Подберем тренера, тему и методики, которые
                  помогут решить вашу... текущую задачу – от повышения мотивации сотрудников до оптимизации управленческого
                  учета.
                </div>
                <div class="events-box__link management-list__btn">
                  <div class="events-box__text">Подробнее</div>
                  <svg class="events-box__svg">
                    <use xlink:href="/images/sprite.svg#arrow-next" />
                  </svg>
                </div>
              </div>
            </a>
          </div>
          <div class="management-list__box">
            <div class="pharmacy-insert">
              <div class="pharmacy-insert__note heading-size">Закажите разработку</div>
              <div class="pharmacy-insert__title">индивидуальной программы Для вашего бизнеса</div>
              <div class="pharmacy-insert__btn">
                <button class="callback-btn btn">Оставить заявку</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section cases-section align align--padding bottom-space">
        <div class="section-title section-title--center">Кейсы реализованных проектов</div>
        <div class="cases-slider">
          <div class="cases-slider__item">
            <div class="cases-slider__title">Газпром</div>
            <div class="cases-slider__text">За годы плодотворного сотрудничества с рынком медицины и фармацевтики нами накоплен опыт работы и уникальные
              авторские программы по самым разным направлениям:За годы плодотворного сотрудничества с рынком медицины и фармацевтики
              нами накоплен опыт работы и уникальные авторские программы по самым разным направлениям:</div>
            <div class="cases-slider__more">
              узнать больше
            </div>
          </div>
          <div class="cases-slider__item">
            <div class="cases-slider__title">Cisco</div>
            <div class="cases-slider__text">За годы плодотворного сотрудничества с рынком медицины и фармацевтики нами накоплен опыт работы и уникальные
              авторские программы по самым разным направлениям:За годы плодотворного сотрудничества с рынком медицины и фармацевтики
              нами накоплен опыт работы и уникальные авторские программы по самым разным направлениям:</div>
            <div class="cases-slider__more">
              узнать больше
            </div>
          </div>
          <div class="cases-slider__item">
            <div class="cases-slider__title">Альфа - банк</div>
            <div class="cases-slider__text">За годы плодотворного сотрудничества с рынком медицины и фармацевтики нами накоплен опыт работы и уникальные
              авторские программы по самым разным направлениям:За годы плодотворного сотрудничества с рынком медицины и фармацевтики
              нами накоплен опыт работы и уникальные авторские программы по самым разным направлениям:</div>
            <div class="cases-slider__more">
              узнать больше
            </div>
          </div>
          <div class="cases-slider__item">
            <div class="cases-slider__title">Тестовый кейс</div>
            <div class="cases-slider__text">За годы плодотворного сотрудничества с рынком медицины и фармацевтики нами накоплен опыт работы и уникальные
              авторские программы по самым разным направлениям:За годы плодотворного сотрудничества с рынком медицины и фармацевтики
              нами накоплен опыт работы и уникальные авторские программы по самым разным направлениям: За годы плодотворного
              сотрудничества с рынком медицины и фармацевтики нами накоплен опыт работы и уникальные авторские программы
              по самым разным направлениям:За годы плодотворного сотрудничества с рынком медицины и фармацевтики нами накоплен
              опыт работы и уникальные авторские программы по самым разным направлениям: За годы плодотворного сотрудничества
              с рынком медицины и фармацевтики нами накоплен опыт работы и уникальные авторские программы по самым разным
              направлениям:За годы плодотворного сотрудничества с рынком медицины и фармацевтики нами накоплен опыт работы
              и уникальные авторские программы по самым разным направлениям: За годы плодотворного сотрудничества с рынком
              медицины и фармацевтики нами накоплен опыт работы и уникальные авторские программы по самым разным направлениям:За
              годы плодотворного сотрудничества с рынком медицины и фармацевтики нами накоплен опыт работы и уникальные авторские
              программы по самым разным направлениям: За годы плодотворного сотрудничества с рынком медицины и фармацевтики
              нами накоплен опыт работы и уникальные авторские программы по самым разным направлениям:За годы плодотворного
              сотрудничества с рынком медицины и фармацевтики нами накоплен опыт работы и уникальные авторские программы
              по самым разным направлениям: За годы плодотворного сотрудничества с рынком медицины и фармацевтики нами накоплен
              опыт работы и уникальные авторские программы по самым разным направлениям:За годы плодотворного сотрудничества
              с рынком медицины и фармацевтики нами накоплен опыт работы и уникальные авторские программы по самым разным
              направлениям:
            </div>
            <div class="cases-slider__more">
              узнать больше
            </div>
          </div>
        </div>
      </div>
      <div class="application-section align">
        <div class="application-section__col">
          <div class="application-section__box">
            <div class="application-section__title heading-size">Не смогли найти программу?</div>
            <div class="application-section__note">Наши менеджеры помогут Вам подобрать самый оптимальный вариант</div>
            <div class="application-section__btn">
              <button class="callback-btn btn btn--full">заказать консультацию</button>
            </div>
          </div>
        </div>
        <div class="application-section__col">
          <div class="application-section__box">
            <div class="application-section__title heading-size">Закажите разработку</div>
            <div class="application-section__note">Индивидуальная программа для вашего бизнеса</div>
            <div class="application-section__btn">
              <a href="#" class="btn btn--full btn--black">Перейти</a>
            </div>
          </div>
        </div>
      </div>
      {% include 'footer.html' %}
    </div>
  </div>
  <div class="popup popup--cases">
    <div class="popup__overlay popup-close"></div>
    <div class="popup__holder popup__holder--cases">
      <div class="modal-close popup__close popup-close">
        <div class="modal-close__text">Закрыть</div>
        <svg class="modal-close__icon">
          <use xlink:href="/images/sprite.svg#close" />
        </svg>
      </div>
      <div class="cases-box">
        <div class="cases-box__title"></div>
        <div class="cases-box__scroll custom-scroll">
          <div class="cases-box__text"></div>
        </div>
      </div>
    </div>
  </div>
  {% include 'popup.html' %} {% include 'js.html' %}
</body>

</html>