<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}

<body>
  {% include 'menu.html' %}
  <div class="wrapper">
    {% include 'header-common.html' %}
    <div class="sidebar sidebar--pharm">
      <div class="sidebar__wrap">
        <div class="sidebar__title">Расчитать стоимость корпоративного тренинга</div>
        <form action="popup-form">
          <div class="popup-form__row input__row">
            <input id="callback-name1" type="text" class="input input--transparent">
            <label class="label" for="callback-name1">Имя</label>
          </div>
          <div class="popup-form__row input__row">
            <input id="callback-surname1" type="text" class="input input--transparent">
            <label class="label" for="callback-surname1">Фамилия</label>
          </div>
          <div class="popup-form__row input__row">
            <input id="callback-phone1" type="tel" class="input input--transparent">
            <label class="label" for="callback-phone1">Телефон</label>
          </div>
          <div class="popup-form__row input__row">
            <input id="callback-email1" type="email" class="input input--transparent">
            <label class="label" for="callback-email1">Email</label>
          </div>
          <div class="popup-form__row input__row">
            <input id="callback-company1" type="text" class="input input--transparent">
            <label class="label" for="callback-company1">Компания</label>
          </div>
          <div class="popup-form__row input__row">
            <input id="callback-city1" type="text" class="input input--transparent">
            <label class="label" for="callback-city1">Город</label>
          </div>
          <div class="popup-form__row input__row">
            <input id="callback-part1" type="text" class="input input--transparent">
            <label class="label" for="callback-part1">Кол-во участников</label>
          </div>
          <div class="popup-form__row">
            <button class="btn btn--full">Узнать стоимость</button>
          </div>
        </form>
      </div>
      <div class="sidebar-box">
        <div class="sidebar-box__content">
          <div class="sidebar-box__title">Комплексное бизнес консультирование</div>
          <button class="btn btn--full scroll-top">Получить консультацию</button>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="consulting-section first-section" style="background-image: url(data/training-image-2.jpg);">
        <div class="consulting-section__wrapper">
          <ul class="breadcrumbs align align--padding breadcrumbs--white">
            <li class="breadcrumbs__item">
              <a href="#" class="breadcrumbs__link">Главная</a>
            </li>
            <li class="breadcrumbs__item">
              <a href="#" class="breadcrumbs__link">Открытые тренинги</a>
            </li>
            <li class="breadcrumbs__item">Фарм-мастер</li>
          </ul>
          <div class="consulting-section__info align align--padding">
            <div class="consulting-section__box">
              <div class="consulting-section__title">Фарм-мастер</div>
              <div class="consulting-section__text">Технологии проведения результативных медицинских визитов</div>
            </div>
          </div>
        </div>
      </div>
      <div class="align align--padding">
        <div class="content__sidebar">
          <div class="training-box training-padding">
            <div class="training-heading">
              <div class="training-heading__info">Тренинг 2 дня</div>
              <div class="training-heading__title">Фарм-мастер</div>
            </div>
            <div class="training-box__text text">
              <p>Драма третьего тысячелетия заключается в том, что человек скованный ленью, страхами и привычками использует
                10% своего потенциала. А думает, что все 110%. Все самомотивированные уже сидят в таких же креслах как мы
                и ждут талантливых сотрудников. Думаете, дождутся?</p>
              <p>Должен ли руководитель быть лидером, вдохновляющим свою команду? Или достаточно располагать официальным правом
                поощрения и наказания участников совместной деятельности? На эти и другие вопросы мы найдем ответы на тренинге
                «ЛИДЕРСТВО и УПРАВЛЕНИЕ командой».</p>
            </div>
          </div>
          <div class="reason-holder training-padding">
            <div class="reason-holder__title heading-size">Для кого этот тренинг</div>
            <div class="reason-holder__list">
              <div class="reason-holder__item">Опытные медицинские представители</div>
              <div class="reason-holder__item">Региональный менеджер</div>
              <div class="reason-holder__item">Филфорс-менеджеры</div>
              <div class="reason-holder__item">Как мы</div>
            </div>
          </div>
          <div class="tasks-holder training-padding">
            <div class="tasks-holder__title heading-size">Цели и задачи программы</div>
            <div class="tasks-holder__list">
              <div class="tasks-holder__item">Мобилизация дополнительных русурсов команды для достижения стратегических задач компании</div>
              <div class="tasks-holder__item">Проанализировать существующие модели взаимодействия с клиентами.Оценить их эффективность. Определить проблемы
                в коммуникации и научиться их устранять</div>
              <div class="tasks-holder__item">Выявлять и развивать у клиентов неудовлетворенность в существующих препаратах, создавая потребность в новых
                решениях и новых эффективных продуктах</div>
              <div class="tasks-holder__item">Развивать навыки стимулирования у клиентов согласия на сотрудничество, фиксации договоренностей и контроля
                обязательств.
              </div>
            </div>
          </div>
          <div class="practicum-holder training-padding">
            <div class="practicum-holder__heading heading-size">Программа тренинг-практикума</div>
            <div class="practicum-holder__list">
              <div class="practicum-holder__item">
                <div class="practicum-holder__col">
                  <div class="practicum-holder__number">01</div>
                </div>
                <div class="practicum-holder__content">
                  <div class="practicum-holder__title">Факторы, предопределяющие результаты</div>
                  <div class="practicum-holder__text text">
                    <ul>
                      <li>Влияние внутренних и внешних факторов на эффективность деятельности;</li>
                      <li>Осознаваемый (20%) и неосозноваемый (80%) потенциал человека;</li>
                      <li>Ценности человека, как основные его параметры;</li>
                      <li>Комплексы, стереотипы и привычки — как ограничивающие факторы;</li>
                      <li>Функциональные и не функциональные привычки и стереотипы;</li>
                      <li>Технологии формирования «Полезных» привычек и установок;</li>
                      <li>Уровни зрелости — влияние на результат и формула роста;</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="practicum-holder__item">
                <div class="practicum-holder__col">
                  <div class="practicum-holder__number">02</div>
                </div>
                <div class="practicum-holder__content">
                  <div class="practicum-holder__title">Бизнес третьего тысячелетия</div>
                  <div class="practicum-holder__text text">
                    <ul>
                      <li>Функции внешней службы в структуре фармацевтической компании;</li>
                      <li>«Продажа» и «информирование» клиента;</li>
                      <li>Добавочная стоимость — кого предпочитают клиенты;</li>
                      <li>Четыре вида заработка: Информация, Эмоции, Здоровье, Финансы;</li>
                      <li>Законы денег — привлечение и потери финансовых потоков;</li>
                      <li>Долгосрочное и краткосрочное планирование на основании Ценностей Компании; (год, квартал, месяц, неделя,
                        день);
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="practicum-holder__item">
                <div class="practicum-holder__col">
                  <div class="practicum-holder__number">03</div>
                </div>
                <div class="practicum-holder__content">
                  <div class="practicum-holder__title">Управление переговорами с клиентами-прескрайберами</div>
                  <div class="practicum-holder__text text">
                    <ul>
                      <li>Влияние внутренних и внешних факторов на эффективность деятельности;</li>
                      <li>Осознаваемый (20%) и неосозноваемый (80%) потенциал человека;</li>
                      <li>Ценности человека, как основные его параметры;</li>
                      <li>Комплексы, стереотипы и привычки — как ограничивающие факторы;</li>
                      <li>Функциональные и не функциональные привычки и стереотипы;</li>
                      <li>Технологии формирования «Полезных» привычек и установок;</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="practicum-holder__item">
                <div class="practicum-holder__col">
                  <div class="practicum-holder__number">04</div>
                </div>
                <div class="practicum-holder__content">
                  <div class="practicum-holder__title">Создание у клиента-прескрайбера потребности в изменениях</div>
                  <div class="practicum-holder__text text">
                    <ul>
                      <li>Функции внешней службы в структуре фармацевтической компании;</li>
                      <li>«Продажа» и «информирование» клиента;</li>
                      <li>Добавочная стоимость — кого предпочитают клиенты;</li>
                      <li>Четыре вида заработка: Информация, Эмоции, Здоровье, Финансы;</li>
                      <li>Законы денег — привлечение и потери финансовых потоков;</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="practicum-holder__item">
                <div class="practicum-holder__col">
                  <div class="practicum-holder__number">05</div>
                </div>
                <div class="practicum-holder__content">
                  <div class="practicum-holder__title">Ведение деловых фарм-переговоров с сотрудниками 1-го стола</div>
                  <div class="practicum-holder__text text">
                    <ul>
                      <li>Влияние внутренних и внешних факторов на эффективность деятельности;</li>
                      <li>Осознаваемый (20%) и неосозноваемый (80%) потенциал человека;</li>
                      <li>Ценности человека, как основные его параметры;</li>
                      <li>Комплексы, стереотипы и привычки — как ограничивающие факторы;</li>
                      <li>Функциональные и не функциональные привычки и стереотипы;</li>
                      <li>Технологии формирования «Полезных» привычек и установок;</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="practicum-holder__item">
                <div class="practicum-holder__col">
                  <div class="practicum-holder__number">05</div>
                </div>
                <div class="practicum-holder__content">
                  <div class="practicum-holder__title">Заключение договоренностей с сотрудниками 1-го стола</div>
                  <div class="practicum-holder__text text">
                    <ul>
                      <li>Функции внешней службы в структуре фармацевтической компании;</li>
                      <li>«Продажа» и «информирование» клиента;</li>
                      <li>Добавочная стоимость — кого предпочитают клиенты;</li>
                      <li>Четыре вида заработка: Информация, Эмоции, Здоровье, Финансы;</li>
                      <li>Законы денег — привлечение и потери финансовых потоков;</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="training-form">
            <div class="training-form__title heading-size">Получить программу в PDF</div>
            <form action="#" class="training-form__content">
              <div class="training-form__col">
                <input class="training-form__input" type="tel" placeholder="Телефон">
              </div>
              <div class="training-form__col">
                <input class="training-form__input" type="email" placeholder="Email">
              </div>
              <div class="training-form__col">
                <button class="btn">Отправить</button>
              </div>
            </form>
          </div>
          <div class="training-event training-padding">
            <div class="training-event__title heading-size">Методики обучения и преимущества программы</div>
            <div class="training-event__list">
              <div class="training-event__item">
                <div class="training-event__text">Тренинг организован в смешанной форме: информационные блоки чередуются с практическими упражнениями (40/60).</div>
              </div>
              <div class="training-event__item">
                <div class="training-event__text">Методы, используемые в тренинге: деловые игры, «мозговой штурм», кейсы, индивидуальные задания.</div>
              </div>
              <div class="training-event__item">
                <div class="training-event__text">Участники тренинга активно взаимодействуют как друг с другом, так и с тренером.</div>
              </div>
              <div class="training-event__item">
                <div class="training-event__text">Тренер демонстрирует инструменты и технологии с примерами из собственного опыта, отвечает на вопросы участников
                  и помогает решать специфические рабочие ситуации.</div>
              </div>
              <div class="training-event__item">
                <div class="training-event__text">Тренинг максимально адаптирован к реалиям рынка, все кейсы и задания взяты из реальных ситуаций украинских
                  компаний.
                </div>
              </div>
              <div class="training-event__item">
                <div class="training-event__text">Интеллектуальные продукты, разработанные в данной программе, переходят в собственность компании заказчика
                  и лягут в основу стратегических изменений для достижения значительных улучшений на рынке
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% include 'footer.html' %}
    </div>
  </div>

  {% include 'popup.html' %} {% include 'js.html' %}
</body>

</html>