<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}

<body>
  {% include 'menu.html' %}
  <div class="wrapper">
    {% include 'header-common.html' %}
    <div class="content">
      <ul class="breadcrumbs align align--padding">
        <li class="breadcrumbs__item">
          <a href="#" class="breadcrumbs__link">Главная</a>
        </li>
        <li class="breadcrumbs__item">Отзывы</li>
      </ul>
      <div class="align align--padding bottom-space">
        <div class="heading">Отзывы</div>
        <div class="reviews-tabs tabs-list">
          <a class="reviews-tabs__link" href="#tab-1">Отзывы участников</a>
          <a class="reviews-tabs__link" href="#tab-2">Отзывы компаний</a>
        </div>
        <div class="tabs-content">
          <div id="tab-1" class="tab">
            <div class="solo-reviews">
              <div class="solo-reviews__item">
                <div class="solo-reviews__thumb">
                  <img class="speakers-list__image" src="data/speakers/speaker-1.png" alt="...">
                </div>
                <div class="solo-reviews__content">
                  <div class="solo-reviews__title">Андрей Петрович Гурьянов</div>
                  <div class="solo-reviews__position">Начальник отдела продаж ЖК “ Европейське місто”</div>
                  <div class="solo-reviews__text text custom-scroll">
                    <p>Касательно личности самой Виктории, как человека и профессионала – в ней есть особая харизма, умение
                      держать публику (личная симпатия) Больше было именно практических, результативных «фишек», чем теории.
                      Теория, по сути, стара как мир и что-то новое здесь придумать сложно. В той или иной степени об этих
                      методиках знали все наши сотрудники, но Вике удалось многие моменты преподнести с несколько другой
                      стороны, что позволило взглянуть и, соответственно, использовать их по другому.</p>
                    <p>Понравилась методика планирования, как профессиональных, так и личных моментов. Помогает сделать выводы,
                      которые хочется применить на практике. Виктория смогла убедить ребят, что это действительно стоит пробовать.
                      Время занятий пробежало незаметно. Все проходить динамично, интересно, мотивирует на дальнейшую практику.</p>
                  </div>
                </div>
              </div>
              <div class="solo-reviews__item">
                <div class="solo-reviews__thumb">
                  <img class="speakers-list__image" src="data/speakers/speaker-2.png" alt="...">
                </div>
                <div class="solo-reviews__content">
                  <div class="solo-reviews__title">Андрей Петрович Гурьянов</div>
                  <div class="solo-reviews__position">Начальник отдела продаж ЖК “ Европейське місто”</div>
                  <div class="solo-reviews__text text custom-scroll">
                    <p>Касательно личности самой Виктории, как человека и профессионала – в ней есть особая харизма, умение
                      держать публику (личная симпатия) Больше было именно практических, результативных «фишек», чем теории.
                      Теория, по сути, стара как мир и что-то новое здесь придумать сложно. В той или иной степени об этих
                      методиках знали все наши сотрудники, но Вике удалось многие моменты преподнести с несколько другой
                      стороны, что позволило взглянуть и, соответственно, использовать их по другому.</p>
                    <p>Понравилась методика планирования, как профессиональных, так и личных моментов. Помогает сделать выводы,
                      которые хочется применить на практике. Виктория смогла убедить ребят, что это действительно стоит пробовать.
                      Время занятий пробежало незаметно. Все проходить динамично, интересно, мотивирует на дальнейшую практику.</p>
                  </div>
                </div>
              </div>
              <div class="solo-reviews__item">
                <div class="solo-reviews__thumb">
                  <img class="speakers-list__image" src="data/speakers/speaker-3.png" alt="...">
                </div>
                <div class="solo-reviews__content">
                  <div class="solo-reviews__title">Андрей Петрович Гурьянов</div>
                  <div class="solo-reviews__position">Начальник отдела продаж ЖК “ Европейське місто”</div>
                  <div class="solo-reviews__text text custom-scroll">
                    <p>Касательно личности самой Виктории, как человека и профессионала – в ней есть особая харизма, умение
                      держать публику (личная симпатия) Больше было именно практических, результативных «фишек», чем теории.
                      Теория, по сути, стара как мир и что-то новое здесь придумать сложно. В той или иной степени об этих
                      методиках знали все наши сотрудники, но Вике удалось многие моменты преподнести с несколько другой
                      стороны, что позволило взглянуть и, соответственно, использовать их по другому.</p>
                    <p>Понравилась методика планирования, как профессиональных, так и личных моментов. Помогает сделать выводы,
                      которые хочется применить на практике. Виктория смогла убедить ребят, что это действительно стоит пробовать.
                      Время занятий пробежало незаметно. Все проходить динамично, интересно, мотивирует на дальнейшую практику.</p>
                  </div>
                </div>
              </div>
              <div class="solo-reviews__item">
                <div class="solo-reviews__thumb">
                  <img class="speakers-list__image" src="data/speakers/speaker-4.png" alt="...">
                </div>
                <div class="solo-reviews__content">
                  <div class="solo-reviews__title">Андрей Петрович Гурьянов</div>
                  <div class="solo-reviews__position">Начальник отдела продаж ЖК “ Европейське місто”</div>
                  <div class="solo-reviews__text text custom-scroll">
                    <p>Касательно личности самой Виктории, как человека и профессионала – в ней есть особая харизма, умение
                      держать публику (личная симпатия) Больше было именно практических, результативных «фишек», чем теории.
                      Теория, по сути, стара как мир и что-то новое здесь придумать сложно. В той или иной степени об этих
                      методиках знали все наши сотрудники, но Вике удалось многие моменты преподнести с несколько другой
                      стороны, что позволило взглянуть и, соответственно, использовать их по другому.</p>
                    <p>Понравилась методика планирования, как профессиональных, так и личных моментов. Помогает сделать выводы,
                      которые хочется применить на практике. Виктория смогла убедить ребят, что это действительно стоит пробовать.
                      Время занятий пробежало незаметно. Все проходить динамично, интересно, мотивирует на дальнейшую практику.</p>
                  </div>
                </div>
              </div>
              <div class="solo-reviews__item">
                <div class="solo-reviews__thumb">
                  <img class="speakers-list__image" src="data/speakers/speaker-5.png" alt="...">
                </div>
                <div class="solo-reviews__content">
                  <div class="solo-reviews__title">Андрей Петрович Гурьянов</div>
                  <div class="solo-reviews__position">Начальник отдела продаж ЖК “ Европейське місто”</div>
                  <div class="solo-reviews__text text custom-scroll">
                    <p>Касательно личности самой Виктории, как человека и профессионала – в ней есть особая харизма, умение
                      держать публику (личная симпатия) Больше было именно практических, результативных «фишек», чем теории.
                      Теория, по сути, стара как мир и что-то новое здесь придумать сложно. В той или иной степени об этих
                      методиках знали все наши сотрудники, но Вике удалось многие моменты преподнести с несколько другой
                      стороны, что позволило взглянуть и, соответственно, использовать их по другому.</p>
                    <p>Понравилась методика планирования, как профессиональных, так и личных моментов. Помогает сделать выводы,
                      которые хочется применить на практике. Виктория смогла убедить ребят, что это действительно стоит пробовать.
                      Время занятий пробежало незаметно. Все проходить динамично, интересно, мотивирует на дальнейшую практику.</p>
                  </div>
                </div>
              </div>
            </div>
            <ul class="news-pagination">
              <li class="news-pagination__item">
                <a href="#" class="news-pagination__link">
                  <svg class="news-pagination__svg">
                    <use xlink:href="/images/sprite.svg#arrow-prev" />
                  </svg>
                </a>
              </li>
              <li class="news-pagination__item">
                <a href="#" class="news-pagination__link">1</a>
              </li>
              <li class="news-pagination__item active">2
              </li>
              <li class="news-pagination__item">
                <a href="#" class="news-pagination__link">3</a>
              </li>
              <li class="news-pagination__item">
                <a href="#" class="news-pagination__link">4</a>
              </li>
              <li class="news-pagination__item">...
              </li>
              <li class="news-pagination__item">
                <a href="#" class="news-pagination__link">9</a>
              </li>
              <li class="news-pagination__item">
                <a href="#" class="news-pagination__link">
                  <svg class="news-pagination__svg">
                    <use xlink:href="/images/sprite.svg#arrow-next" />
                  </svg>
                </a>
              </li>
            </ul>
          </div>
          <div id="tab-2" class="tab">
            <div class="company-reviews">
              <a href="/data/pdf/blockstudio.pdf" class="company-reviews__item" data-fancybox="reviews">
                <img class="company-reviews__image" src="data/reviews/review-image-1.png" alt="...">
              </a>
              <a href="data/reviews/review-image-2.png" class="company-reviews__item" data-fancybox="reviews">
                <img class="company-reviews__image" src="data/reviews/review-image-2.png" alt="...">
              </a>
              <a href="/data/pdf/blockstudio.pdf" class="company-reviews__item" data-fancybox="reviews">
                <img class="company-reviews__image" src="data/reviews/review-image-1.png" alt="...">
              </a>
              <a href="data/reviews/review-image-2.png" class="company-reviews__item" data-fancybox="reviews">
                <img class="company-reviews__image" src="data/reviews/review-image-2.png" alt="...">
              </a>
              <a href="/data/pdf/blockstudio.pdf" class="company-reviews__item" data-fancybox="reviews">
                <img class="company-reviews__image" src="data/reviews/review-image-1.png" alt="...">
              </a>
              <a href="data/reviews/review-image-2.png" class="company-reviews__item" data-fancybox="reviews">
                <img class="company-reviews__image" src="data/reviews/review-image-2.png" alt="...">
              </a>
              <a href="/data/pdf/blockstudio.pdf" class="company-reviews__item" data-fancybox="reviews">
                <img class="company-reviews__image" src="data/reviews/review-image-1.png" alt="...">
              </a>
              <a href="data/reviews/review-image-2.png" class="company-reviews__item" data-fancybox="reviews">
                <img class="company-reviews__image" src="data/reviews/review-image-2.png" alt="...">
              </a>
            </div>
            <ul class="news-pagination">
              <li class="news-pagination__item">
                <a href="#" class="news-pagination__link">
                  <svg class="news-pagination__svg">
                    <use xlink:href="/images/sprite.svg#arrow-prev" />
                  </svg>
                </a>
              </li>
              <li class="news-pagination__item">
                <a href="#" class="news-pagination__link">1</a>
              </li>
              <li class="news-pagination__item active">2
              </li>
              <li class="news-pagination__item">
                <a href="#" class="news-pagination__link">3</a>
              </li>
              <li class="news-pagination__item">
                <a href="#" class="news-pagination__link">4</a>
              </li>
              <li class="news-pagination__item">...
              </li>
              <li class="news-pagination__item">
                <a href="#" class="news-pagination__link">9</a>
              </li>
              <li class="news-pagination__item">
                <a href="#" class="news-pagination__link">
                  <svg class="news-pagination__svg">
                    <use xlink:href="/images/sprite.svg#arrow-next" />
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      {% include 'footer.html' %}
    </div>
  </div>

  {% include 'popup.html' %} {% include 'js.html' %}
</body>

</html>