<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}

<body>
  {% include 'menu.html' %}
  <div class="wrapper">
    {% include 'header-common.html' %}
    <div class="content">
      <ul class="breadcrumbs align align--padding">
        <li class="breadcrumbs__item">
          <a href="#" class="breadcrumbs__link">Главная</a>
        </li>
        <li class="breadcrumbs__item">Поиск</li>
      </ul>
      <div class="align align--padding bottom-space">
        <div class="heading">Поиск</div>
        <div class="search-page">
          <div class="search-page__box">
            <form action="#" class="search-form">
              <input type="text" class="search-form__input" placeholder="Поиск..." value="Лидерство и управление">
              <button class="search-form__btn">
                <svg class="search-btn__icon">
                  <use xlink:href="/images/sprite.svg#search" />
                </svg>
              </button>
            </form>
          </div>
          <div class="search-page__info">
            <div class="search-page__heading">Результаты поиска</div>
            <p>По запросу:
              <strong>“Лидерство и управление”</strong>
            </p>
            <p>Всего найдено:
              <strong>52 Записи</strong>
            </p>
          </div>
          <!-- при отсутсвии результатов  убрать весь блок search-page__list и добавить             
            <p>Всего найдено:
              <strong>Ничего не найдено</strong>
            </p>-->
          <div class="search-page__list">
            <div class="search-page__item">
              <div class="search-page__title">Лидерство и управление командой</div>
              <div class="search-page__text">Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности требуют от нас анализа существенных
                финансовых и административных условий. Задача организации, в особенности же укрепление и развитие структуры
                способствует подготовки и реализации модели развития. Разнообразный и богатый опыт начало повседневной работы...</div>
            </div>
            <div class="search-page__item">
              <div class="search-page__title">Лидерство и управление командой</div>
              <div class="search-page__text">Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности требуют от нас анализа существенных
                финансовых и административных условий. Задача организации, в особенности же укрепление и развитие структуры
                способствует подготовки и реализации модели развития. Разнообразный и богатый опыт начало повседневной работы...</div>
            </div>
            <div class="search-page__item">
              <div class="search-page__title">Лидерство и управление командой</div>
              <div class="search-page__text">Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности требуют от нас анализа существенных
                финансовых и административных условий. Задача организации, в особенности же укрепление и развитие структуры
                способствует подготовки и реализации модели развития. Разнообразный и богатый опыт начало повседневной работы...</div>
            </div>
            <div class="search-page__item">
              <div class="search-page__title">Лидерство и управление командой</div>
              <div class="search-page__text">Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности требуют от нас анализа существенных
                финансовых и административных условий. Задача организации, в особенности же укрепление и развитие структуры
                способствует подготовки и реализации модели развития. Разнообразный и богатый опыт начало повседневной работы...</div>
            </div>
          </div>
        </div>
        <ul class="news-pagination news-pagination--left">
          <li class="news-pagination__item">
            <a href="#" class="news-pagination__link">
              <svg class="news-pagination__svg">
                <use xlink:href="/images/sprite.svg#arrow-prev" />
              </svg>
            </a>
          </li>
          <li class="news-pagination__item">
            <a href="#" class="news-pagination__link">1</a>
          </li>
          <li class="news-pagination__item active">2
          </li>
          <li class="news-pagination__item">
            <a href="#" class="news-pagination__link">3</a>
          </li>
          <li class="news-pagination__item">
            <a href="#" class="news-pagination__link">4</a>
          </li>
          <li class="news-pagination__item">...
          </li>
          <li class="news-pagination__item">
            <a href="#" class="news-pagination__link">9</a>
          </li>
          <li class="news-pagination__item">
            <a href="#" class="news-pagination__link">
              <svg class="news-pagination__svg">
                <use xlink:href="/images/sprite.svg#arrow-next" />
              </svg>
            </a>
          </li>
        </ul>
      </div>
      {% include 'footer.html' %}
    </div>
  </div>

  {% include 'popup.html' %} {% include 'js.html' %}
</body>

</html>