<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}

<body>
  {% include 'menu.html' %}
  <div class="wrapper">
    {% include 'header-common.html' %}
    <div class="content">
      <ul class="breadcrumbs align align--padding">
        <li class="breadcrumbs__item">
          <a href="#" class="breadcrumbs__link">Главная</a>
        </li>
        <li class="breadcrumbs__item">Тренеры и спикеры</li>
      </ul>
      <div class="align align--padding bottom-space">
        <div class="heading heading--left">Тренеры и спикеры</div>
        <div class="speakers-list">
          <div class="speakers-list__item">
            <img class="speakers-list__image" src="data/speakers/speaker-1.png" alt="...">
            <div class="speakers-list__info">
              <div class="speakers-list__title">Виктория Березина</div>
              <div class="speakers-list__position">Спикер</div>
              <div class="speakers-list__text text">
                <p>Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности требуют от нас анализа существенных
                  финансовых и административных условий. Задача организации, в особенности же укрепление и развитие структуры
                  способствует подготовки и реализации модели развития. Разнообразный и богатый опыт начало повседневной
                  работы по формированию позиции требуют от нас анализа существенных финансовых и административных условий.</p>
                <h2>Предстоящие тренинги:</h2>
                <ul>
                  <li>Лидерство и управление компандой (20.07.2017 - 21.07.2017</li>
                  <li>Тренинг-практикум для отдела закупок (24.10.2017)</li>
                  <li>Эффективная продажа недвижимости (30.11.2017)</li>
                </ul>
              </div>
              <a href="#" class="speakers-list__more">Подробнее</a>
            </div>
          </div>
          <div class="speakers-list__item">
            <img class="speakers-list__image" src="data/speakers/speaker-2.png" alt="...">
            <div class="speakers-list__info">
              <div class="speakers-list__title">Виктория Березина</div>
              <div class="speakers-list__position">Спикер</div>
              <div class="speakers-list__text text">
                <p>Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности требуют от нас анализа существенных
                  финансовых и административных условий. Задача организации, в особенности же укрепление и развитие структуры
                  способствует подготовки и реализации модели развития. Разнообразный и богатый опыт начало повседневной
                  работы по формированию позиции требуют от нас анализа существенных финансовых и административных условий.</p>
                <h2>Предстоящие тренинги:</h2>
                <ul>
                  <li>Лидерство и управление компандой (20.07.2017 - 21.07.2017</li>
                  <li>Тренинг-практикум для отдела закупок (24.10.2017)</li>
                  <li>Эффективная продажа недвижимости (30.11.2017)</li>
                </ul>
              </div>
              <a href="#" class="speakers-list__more">Подробнее</a>
            </div>
          </div>
          <div class="speakers-list__item">
            <img class="speakers-list__image" src="data/speakers/speaker-3.png" alt="...">
            <div class="speakers-list__info">
              <div class="speakers-list__title">Виктория Березина</div>
              <div class="speakers-list__position">Спикер</div>
              <div class="speakers-list__text text">
                <p>Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности требуют от нас анализа существенных
                  финансовых и административных условий. Задача организации, в особенности же укрепление и развитие структуры
                  способствует подготовки и реализации модели развития. Разнообразный и богатый опыт начало повседневной
                  работы по формированию позиции требуют от нас анализа существенных финансовых и административных условий.</p>
                <h2>Предстоящие тренинги:</h2>
                <ul>
                  <li>Лидерство и управление компандой (20.07.2017 - 21.07.2017</li>
                  <li>Тренинг-практикум для отдела закупок (24.10.2017)</li>
                  <li>Эффективная продажа недвижимости (30.11.2017)</li>
                </ul>
                <ul>
                  <li>Лидерство и управление компандой (20.07.2017 - 21.07.2017</li>
                  <li>Тренинг-практикум для отдела закупок (24.10.2017)</li>
                  <li>Эффективная продажа недвижимости (30.11.2017)</li>
                </ul>
                <ul>
                  <li>Лидерство и управление компандой (20.07.2017 - 21.07.2017</li>
                  <li>Тренинг-практикум для отдела закупок (24.10.2017)</li>
                  <li>Эффективная продажа недвижимости (30.11.2017)</li>
                </ul>
                <ul>
                  <li>Лидерство и управление компандой (20.07.2017 - 21.07.2017</li>
                  <li>Тренинг-практикум для отдела закупок (24.10.2017)</li>
                  <li>Эффективная продажа недвижимости (30.11.2017)</li>
                </ul>
              </div>
              <a href="#" class="speakers-list__more">Подробнее</a>
            </div>
          </div>

        </div>
        <ul class="news-pagination">
          <li class="news-pagination__item">
            <a href="#" class="news-pagination__link">
              <svg class="news-pagination__svg">
                <use xlink:href="/images/sprite.svg#arrow-prev" />
              </svg>
            </a>
          </li>
          <li class="news-pagination__item">
            <a href="#" class="news-pagination__link">1</a>
          </li>
          <li class="news-pagination__item active">2
          </li>
          <li class="news-pagination__item">
            <a href="#" class="news-pagination__link">3</a>
          </li>
          <li class="news-pagination__item">
            <a href="#" class="news-pagination__link">4</a>
          </li>
          <li class="news-pagination__item">...
          </li>
          <li class="news-pagination__item">
            <a href="#" class="news-pagination__link">9</a>
          </li>
          <li class="news-pagination__item">
            <a href="#" class="news-pagination__link">
              <svg class="news-pagination__svg">
                <use xlink:href="/images/sprite.svg#arrow-next" />
              </svg>
            </a>
          </li>
        </ul>
      </div>
      {% include 'footer.html' %}
    </div>
  </div>

  {% include 'popup.html' %}
  <div class="popup popup--speaker">
    <div class="popup__overlay popup-close speaker-clear"></div>
    <div class="popup__holder popup__holder--speaker">
      <div class="modal-close popup__close popup-close speaker-clear">
        <div class="modal-close__text">Закрыть</div>
        <svg class="modal-close__icon">
          <use xlink:href="/images/sprite.svg#close" />
        </svg>
      </div>
      <div class="speaker-information">
        <div class="speaker-information__thumb">
          <img class="speaker-information__image" src="" alt="">
        </div>
        <div class="speaker-information__content">
          <div class="speaker-information__title"></div>
          <div class="speaker-information__position"></div>
          <div class="speaker-information__text text"></div>
        </div>
      </div>
    </div>
  </div> {% include 'js.html' %}
</body>

</html>