<!DOCTYPE html>
<html lang="en">
{% include 'head.html' %}

<body>
  {% include 'menu.html' %}
  <div class="wrapper">
    {% include 'header-common.html' %}
    <div class="content">
      <ul class="breadcrumbs align align--padding">
        <li class="breadcrumbs__item">
          <a href="#" class="breadcrumbs__link">Главная</a>
        </li>
        <li class="breadcrumbs__item">Галерея видео</li>
      </ul>
      <div class="align align--padding bottom-space">
        <div class="heading heading--left">Галерея видео</div>
        <div class="gallery-list">
          <div class="gallery-list__item">
            <iframe class="gallery-list__iframe" width="368" height="200" src="https://www.youtube.com/embed/vPMQdVdR0gw" frameborder="0"
              allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <div class="gallery-list__title">Интеллектуальная вечеринка</div>
          </div>
          <div class="gallery-list__item">
            <iframe class="gallery-list__iframe" width="368" height="200" src="https://www.youtube.com/embed/vPMQdVdR0gw" frameborder="0"
              allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <div class="gallery-list__title">Интеллектуальная вечеринка</div>
          </div>
          <div class="gallery-list__item">
            <iframe class="gallery-list__iframe" width="368" height="200" src="https://www.youtube.com/embed/vPMQdVdR0gw" frameborder="0"
              allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <div class="gallery-list__title">Интеллектуальная вечеринка</div>
          </div>
          <div class="gallery-list__item">
            <iframe class="gallery-list__iframe" width="368" height="200" src="https://www.youtube.com/embed/vPMQdVdR0gw" frameborder="0"
              allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <div class="gallery-list__title">Интеллектуальная вечеринка</div>
          </div>
          <div class="gallery-list__item">
            <iframe class="gallery-list__iframe" width="368" height="200" src="https://www.youtube.com/embed/vPMQdVdR0gw" frameborder="0"
              allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <div class="gallery-list__title">Интеллектуальная вечеринка</div>
          </div>
          <div class="gallery-list__item">
            <iframe class="gallery-list__iframe" width="368" height="200" src="https://www.youtube.com/embed/vPMQdVdR0gw" frameborder="0"
              allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <div class="gallery-list__title">Интеллектуальная вечеринка</div>
          </div>
          <div class="gallery-list__item">
            <iframe class="gallery-list__iframe" width="368" height="200" src="https://www.youtube.com/embed/vPMQdVdR0gw" frameborder="0"
              allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <div class="gallery-list__title">Интеллектуальная вечеринка</div>
          </div>
          <div class="gallery-list__item">
            <iframe class="gallery-list__iframe" width="368" height="200" src="https://www.youtube.com/embed/vPMQdVdR0gw" frameborder="0"
              allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <div class="gallery-list__title">Интеллектуальная вечеринка</div>
          </div>
          <div class="gallery-list__item">
            <iframe class="gallery-list__iframe" width="368" height="200" src="https://www.youtube.com/embed/vPMQdVdR0gw" frameborder="0"
              allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <div class="gallery-list__title">Интеллектуальная вечеринка</div>
          </div>
          <div class="gallery-list__item">
            <iframe class="gallery-list__iframe" width="368" height="200" src="https://www.youtube.com/embed/vPMQdVdR0gw" frameborder="0"
              allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <div class="gallery-list__title">Интеллектуальная вечеринка</div>
          </div>
          <div class="gallery-list__item">
            <iframe class="gallery-list__iframe" width="368" height="200" src="https://www.youtube.com/embed/vPMQdVdR0gw" frameborder="0"
              allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <div class="gallery-list__title">Интеллектуальная вечеринка</div>
          </div>
          <div class="gallery-list__item">
            <iframe class="gallery-list__iframe" width="368" height="200" src="https://www.youtube.com/embed/vPMQdVdR0gw" frameborder="0"
              allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <div class="gallery-list__title">Интеллектуальная вечеринка</div>
          </div>
        </div>
        <div class="gallery-btn__wrap">
          <div class="gallery-btn">
            <div class="gallery-btn__icon">
              <svg class="gallery-btn__svg" width="14" height="14">
                <use xlink:href="/images/sprite.svg#rotate" />
              </svg>
            </div>
            <div class="gallery-btn__text">Больше видео</div>
          </div>
        </div>
      </div>
      {% include 'footer.html' %}
    </div>
  </div>

  {% include 'popup.html' %} {% include 'js.html' %}
</body>

</html>