<div class="calendar-slider__wrap">
  <div class="calendar-slider">
    <div class="calendar-slider__box">
      <div class="calendar-slider__item">
        <div class="calendar-slider__col calendar-slider__col--long">
          <div class="events-box">
            <a href="#" class="events-box__thumb">
              <img class="events-box__image" src="data/events/event-4.jpg" alt="..." width="275" height="564">
            </a>
            <div class="events-box__content">
              <div class="events-box__top">
                <div class="events-box__date">
                  <div class="events-box__icon">
                    <svg width="11" height="12">
                      <use xlink:href="/images/sprite.svg#calendar" />
                    </svg>
                  </div>20-21 ноября</div>
                <div class="events-box__place">
                  <div class="events-box__icon">
                    <svg width="9" height="12">
                      <use xlink:href="/images/sprite.svg#pin1" />
                    </svg>
                  </div>Киев</div>
              </div>
              <div class="events-box__heading">
                <div class="events-box__mentor">Виктория Березина</div>
                <a href="#" class="events-box__title">Лидерство и управление командой</a>
              </div>
              <div class="events-box__info">
                <div class="events-box__cost">
                  <div class="events-box__description">Тренинг, 2 дня</div>
                  <div class="events-box__price">4 800 грн</div>
                </div>
                <div class="events-box__more">
                  <a href="#" class="events-box__link">
                    <div class="events-box__text">Подробнее</div>
                    <svg class="events-box__svg">
                      <use xlink:href="/images/sprite.svg#arrow-next" />
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="calendar-slider__col">
          <div class="calendar-slider__row calendar-slider__row--wide">
            <div class="events-box">
              <a href="#" class="events-box__thumb">
                <img class="events-box__image" src="data/events/event-1.jpg" alt="..." width="564" height="275">
              </a>
              <div class="events-box__content">
                <div class="events-box__top">
                  <div class="events-box__date">
                    <div class="events-box__icon">
                      <svg width="11" height="12">
                        <use xlink:href="/images/sprite.svg#calendar" />
                      </svg>
                    </div>20-21 ноября</div>
                  <div class="events-box__place">
                    <div class="events-box__icon">
                      <svg width="9" height="12">
                        <use xlink:href="/images/sprite.svg#pin1" />
                      </svg>
                    </div>Киев</div>
                </div>
                <div class="events-box__heading">
                  <div class="events-box__mentor">Виктория Березина</div>
                  <a href="#" class="events-box__title">Лидерство и управление командой</a>
                </div>
                <div class="events-box__info">
                  <div class="events-box__cost">
                    <div class="events-box__description">Тренинг, 2 дня</div>
                    <div class="events-box__price">4 800 грн</div>
                  </div>
                  <div class="events-box__more">
                    <a href="#" class="events-box__link">
                      <div class="events-box__text">Подробнее</div>
                      <svg class="events-box__svg">
                        <use xlink:href="/images/sprite.svg#arrow-next" />
                      </svg>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="calendar-slider__row">
            <div class="events-box">
              <a href="#" class="events-box__thumb">
                <img class="events-box__image" src="data/events/event-1.jpg" alt="..." width="275" height="275">
              </a>
              <div class="events-box__content">
                <div class="events-box__top">
                  <div class="events-box__date">
                    <div class="events-box__icon">
                      <svg width="11" height="12">
                        <use xlink:href="/images/sprite.svg#calendar" />
                      </svg>
                    </div>20-21 ноября</div>
                  <div class="events-box__place">
                    <div class="events-box__icon">
                      <svg width="9" height="12">
                        <use xlink:href="/images/sprite.svg#pin1" />
                      </svg>
                    </div>Киев</div>
                </div>
                <div class="events-box__heading">
                  <div class="events-box__mentor">Виктория Березина</div>
                  <a href="#" class="events-box__title">Лидерство и управление командой</a>
                </div>
                <div class="events-box__info">
                  <div class="events-box__cost">
                    <div class="events-box__description">Тренинг, 2 дня</div>
                    <div class="events-box__price">4 800 грн</div>
                  </div>
                  <div class="events-box__more">
                    <a href="#" class="events-box__link">
                      <div class="events-box__text">Подробнее</div>
                      <svg class="events-box__svg">
                        <use xlink:href="/images/sprite.svg#arrow-next" />
                      </svg>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="events-box">
              <a href="#" class="events-box__thumb">
                <img class="events-box__image" src="data/events/event-1.jpg" alt="..." alt="..." width="275" height="275">
              </a>
              <div class="events-box__content">
                <div class="events-box__top">
                  <div class="events-box__date">
                    <div class="events-box__icon">
                      <svg width="11" height="12">
                        <use xlink:href="/images/sprite.svg#calendar" />
                      </svg>
                    </div>20-21 ноября</div>
                  <div class="events-box__place">
                    <div class="events-box__icon">
                      <svg width="9" height="12">
                        <use xlink:href="/images/sprite.svg#pin1" />
                      </svg>
                    </div>Киев</div>
                </div>
                <div class="events-box__heading">
                  <div class="events-box__mentor">Виктория Березина</div>
                  <a href="#" class="events-box__title">Лидерство и управление командой</a>
                </div>
                <div class="events-box__info">
                  <div class="events-box__cost">
                    <div class="events-box__description">Тренинг, 2 дня</div>
                    <div class="events-box__price">4 800 грн</div>
                  </div>
                  <div class="events-box__more">
                    <a href="#" class="events-box__link">
                      <div class="events-box__text">Подробнее</div>
                      <svg class="events-box__svg">
                        <use xlink:href="/images/sprite.svg#arrow-next" />
                      </svg>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="calendar-slider__col calendar-slider__col--long">
          <div class="events-box">
            <a href="#" class="events-box__thumb">
              <img class="events-box__image" src="data/events/event-4.jpg" width="275" height="564" alt="...">
            </a>
            <div class="events-box__content">
              <div class="events-box__top">
                <div class="events-box__date">
                  <div class="events-box__icon">
                    <svg width="11" height="12">
                      <use xlink:href="/images/sprite.svg#calendar" />
                    </svg>
                  </div>20-21 ноября</div>
                <div class="events-box__place">
                  <div class="events-box__icon">
                    <svg width="9" height="12">
                      <use xlink:href="/images/sprite.svg#pin1" />
                    </svg>
                  </div>Киев</div>
              </div>
              <div class="events-box__heading">
                <div class="events-box__mentor">Виктория Березина</div>
                <a href="#" class="events-box__title">Лидерство и управление командой</a>
              </div>
              <div class="events-box__info">
                <div class="events-box__cost">
                  <div class="events-box__description">Тренинг, 2 дня</div>
                  <div class="events-box__price">4 800 грн</div>
                </div>
                <div class="events-box__more">
                  <a href="#" class="events-box__link">
                    <div class="events-box__text">Подробнее</div>
                    <svg class="events-box__svg">
                      <use xlink:href="/images/sprite.svg#arrow-next" />
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="calendar-slider__col">
          <div class="calendar-slider__row calendar-slider__row--wide">
            <div class="events-box">
              <a href="#" class="events-box__thumb">
                <img class="events-box__image" src="data/events/event-1.jpg" alt="..." width="564" height="275">
              </a>
              <div class="events-box__content">
                <div class="events-box__top">
                  <div class="events-box__date">
                    <div class="events-box__icon">
                      <svg width="11" height="12">
                        <use xlink:href="/images/sprite.svg#calendar" />
                      </svg>
                    </div>20-21 ноября</div>
                  <div class="events-box__place">
                    <div class="events-box__icon">
                      <svg width="9" height="12">
                        <use xlink:href="/images/sprite.svg#pin1" />
                      </svg>
                    </div>Киев</div>
                </div>
                <div class="events-box__heading">
                  <div class="events-box__mentor">Виктория Березина</div>
                  <a href="#" class="events-box__title">Лидерство и управление командой</a>
                </div>
                <div class="events-box__info">
                  <div class="events-box__cost">
                    <div class="events-box__description">Тренинг, 2 дня</div>
                    <div class="events-box__price">4 800 грн</div>
                  </div>
                  <div class="events-box__more">
                    <a href="#" class="events-box__link">
                      <div class="events-box__text">Подробнее</div>
                      <svg class="events-box__svg">
                        <use xlink:href="/images/sprite.svg#arrow-next" />
                      </svg>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="calendar-slider__row">
            <div class="events-box">
              <a href="#" class="events-box__thumb">
                <img class="events-box__image" src="data/events/event-1.jpg" alt="..." width="275" height="275">
              </a>
              <div class="events-box__content">
                <div class="events-box__top">
                  <div class="events-box__date">
                    <div class="events-box__icon">
                      <svg width="11" height="12">
                        <use xlink:href="/images/sprite.svg#calendar" />
                      </svg>
                    </div>20-21 ноября</div>
                  <div class="events-box__place">
                    <div class="events-box__icon">
                      <svg width="9" height="12">
                        <use xlink:href="/images/sprite.svg#pin1" />
                      </svg>
                    </div>Киев</div>
                </div>
                <div class="events-box__heading">
                  <div class="events-box__mentor">Виктория Березина</div>
                  <a href="#" class="events-box__title">Лидерство и управление командой</a>
                </div>
                <div class="events-box__info">
                  <div class="events-box__cost">
                    <div class="events-box__description">Тренинг, 2 дня</div>
                    <div class="events-box__price">4 800 грн</div>
                  </div>
                  <div class="events-box__more">
                    <a href="#" class="events-box__link">
                      <div class="events-box__text">Подробнее</div>
                      <svg class="events-box__svg">
                        <use xlink:href="/images/sprite.svg#arrow-next" />
                      </svg>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="events-box">
              <a href="#" class="events-box__thumb">
                <img class="events-box__image" src="data/events/event-1.jpg" alt="..." alt="..." width="275" height="275">
              </a>
              <div class="events-box__content">
                <div class="events-box__top">
                  <div class="events-box__date">
                    <div class="events-box__icon">
                      <svg width="11" height="12">
                        <use xlink:href="/images/sprite.svg#calendar" />
                      </svg>
                    </div>20-21 ноября</div>
                  <div class="events-box__place">
                    <div class="events-box__icon">
                      <svg width="9" height="12">
                        <use xlink:href="/images/sprite.svg#pin1" />
                      </svg>
                    </div>Киев</div>
                </div>
                <div class="events-box__heading">
                  <div class="events-box__mentor">Виктория Березина</div>
                  <a href="#" class="events-box__title">Лидерство и управление командой</a>
                </div>
                <div class="events-box__info">
                  <div class="events-box__cost">
                    <div class="events-box__description">Тренинг, 2 дня</div>
                    <div class="events-box__price">4 800 грн</div>
                  </div>
                  <div class="events-box__more">
                    <a href="#" class="events-box__link">
                      <div class="events-box__text">Подробнее</div>
                      <svg class="events-box__svg">
                        <use xlink:href="/images/sprite.svg#arrow-next" />
                      </svg>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="calendar-slider__box">
      <div class="calendar-slider__item">
        <div class="calendar-slider__col calendar-slider__col--long">
          <div class="events-box">
            <a href="#" class="events-box__thumb">
              <img class="events-box__image" src="data/events/event-4.jpg" alt="..." width="275" height="564">
            </a>
            <div class="events-box__content">
              <div class="events-box__top">
                <div class="events-box__date">
                  <div class="events-box__icon">
                    <svg width="11" height="12">
                      <use xlink:href="/images/sprite.svg#calendar" />
                    </svg>
                  </div>20-21 ноября</div>
                <div class="events-box__place">
                  <div class="events-box__icon">
                    <svg width="9" height="12">
                      <use xlink:href="/images/sprite.svg#pin1" />
                    </svg>
                  </div>Киев</div>
              </div>
              <div class="events-box__heading">
                <div class="events-box__mentor">Виктория Березина</div>
                <a href="#" class="events-box__title">Лидерство и управление командой</a>
              </div>
              <div class="events-box__info">
                <div class="events-box__cost">
                  <div class="events-box__description">Тренинг, 2 дня</div>
                  <div class="events-box__price">4 800 грн</div>
                </div>
                <div class="events-box__more">
                  <a href="#" class="events-box__link">
                    <div class="events-box__text">Подробнее</div>
                    <svg class="events-box__svg">
                      <use xlink:href="/images/sprite.svg#arrow-next" />
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="calendar-slider__col">
          <div class="calendar-slider__row calendar-slider__row--wide">
            <div class="events-box">
              <a href="#" class="events-box__thumb">
                <img class="events-box__image" src="data/events/event-1.jpg" alt="..." width="564" height="275">
              </a>
              <div class="events-box__content">
                <div class="events-box__top">
                  <div class="events-box__date">
                    <div class="events-box__icon">
                      <svg width="11" height="12">
                        <use xlink:href="/images/sprite.svg#calendar" />
                      </svg>
                    </div>20-21 ноября</div>
                  <div class="events-box__place">
                    <div class="events-box__icon">
                      <svg width="9" height="12">
                        <use xlink:href="/images/sprite.svg#pin1" />
                      </svg>
                    </div>Киев</div>
                </div>
                <div class="events-box__heading">
                  <div class="events-box__mentor">Виктория Березина</div>
                  <a href="#" class="events-box__title">Лидерство и управление командой</a>
                </div>
                <div class="events-box__info">
                  <div class="events-box__cost">
                    <div class="events-box__description">Тренинг, 2 дня</div>
                    <div class="events-box__price">4 800 грн</div>
                  </div>
                  <div class="events-box__more">
                    <a href="#" class="events-box__link">
                      <div class="events-box__text">Подробнее</div>
                      <svg class="events-box__svg">
                        <use xlink:href="/images/sprite.svg#arrow-next" />
                      </svg>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="calendar-slider__row">
            <div class="events-box">
              <a href="#" class="events-box__thumb">
                <img class="events-box__image" src="data/events/event-1.jpg" alt="..." width="275" height="275">
              </a>
              <div class="events-box__content">
                <div class="events-box__top">
                  <div class="events-box__date">
                    <div class="events-box__icon">
                      <svg width="11" height="12">
                        <use xlink:href="/images/sprite.svg#calendar" />
                      </svg>
                    </div>20-21 ноября</div>
                  <div class="events-box__place">
                    <div class="events-box__icon">
                      <svg width="9" height="12">
                        <use xlink:href="/images/sprite.svg#pin1" />
                      </svg>
                    </div>Киев</div>
                </div>
                <div class="events-box__heading">
                  <div class="events-box__mentor">Виктория Березина</div>
                  <a href="#" class="events-box__title">Лидерство и управление командой</a>
                </div>
                <div class="events-box__info">
                  <div class="events-box__cost">
                    <div class="events-box__description">Тренинг, 2 дня</div>
                    <div class="events-box__price">4 800 грн</div>
                  </div>
                  <div class="events-box__more">
                    <a href="#" class="events-box__link">
                      <div class="events-box__text">Подробнее</div>
                      <svg class="events-box__svg">
                        <use xlink:href="/images/sprite.svg#arrow-next" />
                      </svg>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="events-box">
              <a href="#" class="events-box__thumb">
                <img class="events-box__image" src="data/events/event-1.jpg" alt="..." alt="..." width="275" height="275">
              </a>
              <div class="events-box__content">
                <div class="events-box__top">
                  <div class="events-box__date">
                    <div class="events-box__icon">
                      <svg width="11" height="12">
                        <use xlink:href="/images/sprite.svg#calendar" />
                      </svg>
                    </div>20-21 ноября</div>
                  <div class="events-box__place">
                    <div class="events-box__icon">
                      <svg width="9" height="12">
                        <use xlink:href="/images/sprite.svg#pin1" />
                      </svg>
                    </div>Киев</div>
                </div>
                <div class="events-box__heading">
                  <div class="events-box__mentor">Виктория Березина</div>
                  <a href="#" class="events-box__title">Лидерство и управление командой</a>
                </div>
                <div class="events-box__info">
                  <div class="events-box__cost">
                    <div class="events-box__description">Тренинг, 2 дня</div>
                    <div class="events-box__price">4 800 грн</div>
                  </div>
                  <div class="events-box__more">
                    <a href="#" class="events-box__link">
                      <div class="events-box__text">Подробнее</div>
                      <svg class="events-box__svg">
                        <use xlink:href="/images/sprite.svg#arrow-next" />
                      </svg>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="calendar-slider__col calendar-slider__col--long">
          <div class="events-box">
            <a href="#" class="events-box__thumb">
              <img class="events-box__image" src="data/events/event-4.jpg" width="275" height="564" alt="...">
            </a>
            <div class="events-box__content">
              <div class="events-box__top">
                <div class="events-box__date">
                  <div class="events-box__icon">
                    <svg width="11" height="12">
                      <use xlink:href="/images/sprite.svg#calendar" />
                    </svg>
                  </div>20-21 ноября</div>
                <div class="events-box__place">
                  <div class="events-box__icon">
                    <svg width="9" height="12">
                      <use xlink:href="/images/sprite.svg#pin1" />
                    </svg>
                  </div>Киев</div>
              </div>
              <div class="events-box__heading">
                <div class="events-box__mentor">Виктория Березина</div>
                <a href="#" class="events-box__title">Лидерство и управление командой</a>
              </div>
              <div class="events-box__info">
                <div class="events-box__cost">
                  <div class="events-box__description">Тренинг, 2 дня</div>
                  <div class="events-box__price">4 800 грн</div>
                </div>
                <div class="events-box__more">
                  <a href="#" class="events-box__link">
                    <div class="events-box__text">Подробнее</div>
                    <svg class="events-box__svg">
                      <use xlink:href="/images/sprite.svg#arrow-next" />
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="calendar-slider__col">
          <div class="calendar-slider__row calendar-slider__row--wide">
            <div class="events-box">
              <a href="#" class="events-box__thumb">
                <img class="events-box__image" src="data/events/event-1.jpg" alt="..." width="564" height="275">
              </a>
              <div class="events-box__content">
                <div class="events-box__top">
                  <div class="events-box__date">
                    <div class="events-box__icon">
                      <svg width="11" height="12">
                        <use xlink:href="/images/sprite.svg#calendar" />
                      </svg>
                    </div>20-21 ноября</div>
                  <div class="events-box__place">
                    <div class="events-box__icon">
                      <svg width="9" height="12">
                        <use xlink:href="/images/sprite.svg#pin1" />
                      </svg>
                    </div>Киев</div>
                </div>
                <div class="events-box__heading">
                  <div class="events-box__mentor">Виктория Березина</div>
                  <a href="#" class="events-box__title">Лидерство и управление командой</a>
                </div>
                <div class="events-box__info">
                  <div class="events-box__cost">
                    <div class="events-box__description">Тренинг, 2 дня</div>
                    <div class="events-box__price">4 800 грн</div>
                  </div>
                  <div class="events-box__more">
                    <a href="#" class="events-box__link">
                      <div class="events-box__text">Подробнее</div>
                      <svg class="events-box__svg">
                        <use xlink:href="/images/sprite.svg#arrow-next" />
                      </svg>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="calendar-slider__row">
            <div class="events-box">
              <a href="#" class="events-box__thumb">
                <img class="events-box__image" src="data/events/event-1.jpg" alt="..." width="275" height="275">
              </a>
              <div class="events-box__content">
                <div class="events-box__top">
                  <div class="events-box__date">
                    <div class="events-box__icon">
                      <svg width="11" height="12">
                        <use xlink:href="/images/sprite.svg#calendar" />
                      </svg>
                    </div>20-21 ноября</div>
                  <div class="events-box__place">
                    <div class="events-box__icon">
                      <svg width="9" height="12">
                        <use xlink:href="/images/sprite.svg#pin1" />
                      </svg>
                    </div>Киев</div>
                </div>
                <div class="events-box__heading">
                  <div class="events-box__mentor">Виктория Березина</div>
                  <a href="#" class="events-box__title">Лидерство и управление командой</a>
                </div>
                <div class="events-box__info">
                  <div class="events-box__cost">
                    <div class="events-box__description">Тренинг, 2 дня</div>
                    <div class="events-box__price">4 800 грн</div>
                  </div>
                  <div class="events-box__more">
                    <a href="#" class="events-box__link">
                      <div class="events-box__text">Подробнее</div>
                      <svg class="events-box__svg">
                        <use xlink:href="/images/sprite.svg#arrow-next" />
                      </svg>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="events-box">
              <a href="#" class="events-box__thumb">
                <img class="events-box__image" src="data/events/event-1.jpg" alt="..." alt="..." width="275" height="275">
              </a>
              <div class="events-box__content">
                <div class="events-box__top">
                  <div class="events-box__date">
                    <div class="events-box__icon">
                      <svg width="11" height="12">
                        <use xlink:href="/images/sprite.svg#calendar" />
                      </svg>
                    </div>20-21 ноября</div>
                  <div class="events-box__place">
                    <div class="events-box__icon">
                      <svg width="9" height="12">
                        <use xlink:href="/images/sprite.svg#pin1" />
                      </svg>
                    </div>Киев</div>
                </div>
                <div class="events-box__heading">
                  <div class="events-box__mentor">Виктория Березина</div>
                  <a href="#" class="events-box__title">Лидерство и управление командой</a>
                </div>
                <div class="events-box__info">
                  <div class="events-box__cost">
                    <div class="events-box__description">Тренинг, 2 дня</div>
                    <div class="events-box__price">4 800 грн</div>
                  </div>
                  <div class="events-box__more">
                    <a href="#" class="events-box__link">
                      <div class="events-box__text">Подробнее</div>
                      <svg class="events-box__svg">
                        <use xlink:href="/images/sprite.svg#arrow-next" />
                      </svg>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>