<div class="callback-section section align">
  <div class="callback-section__picture" style="background-image: url(data/callback-image.jpg);">
    <div class="callback-section__quote">
      <div class="section-title">«Развивайте себя, Вы величайший из всех капиталов!»</div>
      <div class="callback-section__author">Виктория Березина</div>
    </div>
  </div>
  <div class="callback-section__form">
    <div class="heading callback-section__title">Обратная связь</div>
    <form action="popup-form">
      <div class="popup-form__row input__row">
        <input id="callback-name1" type="text" class="input">
        <label class="label" for="callback-name1">ФИО*</label>
      </div>
      <div class="popup-form__row input__row">
        <input id="callback-phone1" type="tel" class="input error">
        <label class="label" for="callback-phone1">Телефон*</label>
      </div>
      <div class="popup-form__row input__row">
        <input id="callback-email1" type="email" class="input">
        <label class="label" for="callback-email1">Email</label>
      </div>
      <div class="popup-form__row input__row">
        <input id="callback-company1" type="text" class="input">
        <label class="label" for="callback-company1">Компания</label>
      </div>
      <div class="popup-form__row input__row">
        <input id="callback-comment1" type="text" class="input">
        <label class="label" for="callback-comment1">Добавить комментарий</label>
      </div>
      <div class="popup-form__row">
        <button class="btn">Отправить</button>
      </div>
    </form>
  </div>
</div>