<footer class="footer">
  <div class="footer__top align">
    <div class="footer__col footer__col--1">
      <a href="/" class="logo">
        <img class="logo__img logo__img--white" src="images/logo-white.svg" alt="..." width="230" height="42">
      </a>
    </div>
    <div class="footer__col footer__col--2">
      <div class="footer__title">О Business & People</div>
      <div class="footer-nav">
        <ul class="footer-nav__list">
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__link">О компании</a>
          </li>
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__link">Тренеры и спикеры</a>
          </li>
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__link">Новости</a>
          </li>
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__link">Клиенты</a>
          </li>
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__link">Отзывы</a>
          </li>
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__link">Статьи</a>
          </li>
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__link">Как стать партнером?</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer__col footer__col--3">
      <div class="footer__title">Услуги</div>
      <div class="footer-nav">
        <ul class="footer-nav__list">
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__link">График тренингов и семинаров</a>
          </li>
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__link">Корпоративное обучение</a>
          </li>
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__link">Консалтинг</a>
          </li>
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__link">Стратегические сессии</a>
          </li>
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__link">Индивидуальные консультации</a>
          </li>
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__link">Спикеры для конференций</a>
          </li>
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__link">Контакты</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer__col footer__col--4">
      <div class="footer__title">Контакты</div>
      <div class="footer-info">
        <div class="footer-info__row">
          <div class="footer-info__title">Телефон:</div>
          <ul class="footer-info__list">
            <li class="footer-info__item">
              <a href="tel:+380508004420" class="footer-info__link">+380 (67) 900 4422</a>
            </li>
            <li class="footer-info__item">
              <a href="tel:+380508004420" class="footer-info__link">+380 (50) 800 4420</a>
            </li>
          </ul>
        </div>
        <div class="footer-info__row">
          <div class="footer-info__title">Email:</div>
          <ul class="footer-info__list">
            <li class="footer-info__item">
              <a href="mailto:manager@victoria-berezina.com" class="footer-info__link">manager@victoria-berezina.com</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer-socials">
        <a href="#" rel="nofollow" target="_blank" class="footer-socials__item footer-socials__item--facebook">
          <svg class="footer-socials__icon" width="8" height="15">
            <use xlink:href="/images/sprite.svg#facebook" />
          </svg>
        </a>
        <a href="#" rel="nofollow" target="_blank" class="footer-socials__item footer-socials__item--youtube">
          <svg class="footer-socials__icon" width="15" height="10">
            <use xlink:href="/images/sprite.svg#youtube" />
          </svg>
        </a>
      </div>
    </div>
  </div>
  <div class="footer__align">
    <div class="footer__bottom align">
      <a class="devs" href="https://art-lemon.com/" target="_blank">
        <div class="devs__name">Разработка сайта</div>
        <div class="devs__icon-box">
          <div class="devs__icon">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 201.582 31.427"
              style="enable-background:new 0 0 201.582 31.427;" xml:space="preserve">
              <g>
                <g>
                  <path d="M59.329,7.896v17.165h-5.15v-1.614c-1.133,1.304-2.815,2.094-5.115,2.094c-4.497,0-8.205-3.948-8.205-9.063
                      c0-5.115,3.708-9.063,8.205-9.063c2.3,0,3.982,0.79,5.115,2.094V7.896H59.329z M54.179,16.478c0-2.575-1.716-4.188-4.085-4.188
                      c-2.369,0-4.085,1.614-4.085,4.188c0,2.575,1.716,4.188,4.085,4.188C52.463,20.667,54.179,19.053,54.179,16.478z"></path>
                  <path d="M74.466,7.553v5.836c-2.128-0.343-5.15,0.515-5.15,3.914v7.759h-5.149V7.896h5.149v3.055
                      C70.004,8.651,72.304,7.553,74.466,7.553z"></path>
                  <path d="M84.97,12.839v6.076c0,1.476,1.27,1.614,3.536,1.476v4.669c-6.729,0.687-8.685-1.339-8.685-6.145v-6.076h-2.747V7.896
                      h2.747V4.635l5.15-1.545v4.806h3.536v4.944H84.97z"></path>
                  <path d="M102.477,0h5.149v25.061h-5.149V0z"></path>
                  <path d="M121.186,20.941c1.407,0,2.609-0.549,3.296-1.304l4.119,2.369c-1.682,2.335-4.222,3.536-7.484,3.536
                      c-5.871,0-9.509-3.948-9.509-9.063c0-5.115,3.708-9.063,9.132-9.063c5.012,0,8.72,3.879,8.72,9.063
                      c0,0.721-0.069,1.408-0.206,2.06h-12.187C117.719,20.323,119.298,20.941,121.186,20.941z M124.344,14.693
                      c-0.549-1.991-2.094-2.712-3.639-2.712c-1.957,0-3.261,0.961-3.742,2.712H124.344z"></path>
                  <path d="M159.187,14.522v10.539h-5.15V14.968c0-1.717-0.824-2.815-2.472-2.815c-1.716,0-2.678,1.202-2.678,3.227v9.681h-5.15
                      V14.968c0-1.717-0.824-2.815-2.472-2.815c-1.717,0-2.678,1.202-2.678,3.227v9.681h-5.149V7.896h5.149v1.579
                      c0.79-1.167,2.3-2.06,4.6-2.06c2.025,0,3.536,0.824,4.497,2.266c0.961-1.373,2.54-2.266,4.978-2.266
                      C156.613,7.415,159.187,10.23,159.187,14.522z"></path>
                  <path d="M162.927,16.478c0-5.115,4.051-9.063,9.097-9.063c5.047,0,9.098,3.948,9.098,9.063c0,5.115-4.051,9.063-9.098,9.063
                      C166.979,25.541,162.927,21.594,162.927,16.478z M175.973,16.478c0-2.437-1.717-4.051-3.948-4.051
                      c-2.231,0-3.948,1.614-3.948,4.051c0,2.437,1.716,4.051,3.948,4.051C174.256,20.529,175.973,18.916,175.973,16.478z"></path>
                  <path d="M201.582,14.522v10.539h-5.15v-9.784c0-2.128-1.339-3.124-2.987-3.124c-1.888,0-3.193,1.099-3.193,3.536v9.372h-5.149
                      V7.896h5.149v1.614c0.927-1.27,2.644-2.094,4.909-2.094C198.629,7.415,201.582,9.887,201.582,14.522z"></path>
                </g>
                <path style="fill:#F8E015;" d="M25.19,1.958H14.734C6.597,1.958,0,8.555,0,16.693v10.456c0,2.353,1.925,4.278,4.278,4.278h10.456
                    c8.138,0,14.734-6.597,14.734-14.734V6.237C29.469,3.884,27.543,1.958,25.19,1.958z"></path>
              </g>
            </svg>
          </div>
          <div class="devs__icon-hover">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 201.582 31.427"
              style="enable-background:new 0 0 201.582 31.427;" xml:space="preserve">
              <g>
                <g>
                  <path d="M59.329,7.896v17.165h-5.15v-1.614c-1.133,1.304-2.815,2.094-5.115,2.094c-4.497,0-8.205-3.948-8.205-9.063
                      c0-5.115,3.708-9.063,8.205-9.063c2.3,0,3.982,0.79,5.115,2.094V7.896H59.329z M54.179,16.478c0-2.575-1.716-4.188-4.085-4.188
                      c-2.369,0-4.085,1.614-4.085,4.188c0,2.575,1.716,4.188,4.085,4.188C52.463,20.667,54.179,19.053,54.179,16.478z"></path>
                  <path d="M74.466,7.553v5.836c-2.128-0.343-5.15,0.515-5.15,3.914v7.759h-5.149V7.896h5.149v3.055
                      C70.004,8.651,72.304,7.553,74.466,7.553z"></path>
                  <path d="M84.97,12.839v6.076c0,1.476,1.27,1.614,3.536,1.476v4.669c-6.729,0.687-8.685-1.339-8.685-6.145v-6.076h-2.747V7.896
                      h2.747V4.635l5.15-1.545v4.806h3.536v4.944H84.97z"></path>
                  <path d="M102.477,0h5.149v25.061h-5.149V0z"></path>
                  <path d="M121.186,20.941c1.407,0,2.609-0.549,3.296-1.304l4.119,2.369c-1.682,2.335-4.222,3.536-7.484,3.536
                      c-5.871,0-9.509-3.948-9.509-9.063c0-5.115,3.708-9.063,9.132-9.063c5.012,0,8.72,3.879,8.72,9.063
                      c0,0.721-0.069,1.408-0.206,2.06h-12.187C117.719,20.323,119.298,20.941,121.186,20.941z M124.344,14.693
                      c-0.549-1.991-2.094-2.712-3.639-2.712c-1.957,0-3.261,0.961-3.742,2.712H124.344z"></path>
                  <path d="M159.187,14.522v10.539h-5.15V14.968c0-1.717-0.824-2.815-2.472-2.815c-1.716,0-2.678,1.202-2.678,3.227v9.681h-5.15
                      V14.968c0-1.717-0.824-2.815-2.472-2.815c-1.717,0-2.678,1.202-2.678,3.227v9.681h-5.149V7.896h5.149v1.579
                      c0.79-1.167,2.3-2.06,4.6-2.06c2.025,0,3.536,0.824,4.497,2.266c0.961-1.373,2.54-2.266,4.978-2.266
                      C156.613,7.415,159.187,10.23,159.187,14.522z"></path>
                  <path d="M162.927,16.478c0-5.115,4.051-9.063,9.097-9.063c5.047,0,9.098,3.948,9.098,9.063c0,5.115-4.051,9.063-9.098,9.063
                      C166.979,25.541,162.927,21.594,162.927,16.478z M175.973,16.478c0-2.437-1.717-4.051-3.948-4.051
                      c-2.231,0-3.948,1.614-3.948,4.051c0,2.437,1.716,4.051,3.948,4.051C174.256,20.529,175.973,18.916,175.973,16.478z"></path>
                  <path d="M201.582,14.522v10.539h-5.15v-9.784c0-2.128-1.339-3.124-2.987-3.124c-1.888,0-3.193,1.099-3.193,3.536v9.372h-5.149
                      V7.896h5.149v1.614c0.927-1.27,2.644-2.094,4.909-2.094C198.629,7.415,201.582,9.887,201.582,14.522z"></path>
                </g>
                <path style="fill:#F8E015;" d="M25.19,1.958H14.734C6.597,1.958,0,8.555,0,16.693v10.456c0,2.353,1.925,4.278,4.278,4.278h10.456
                    c8.138,0,14.734-6.597,14.734-14.734V6.237C29.469,3.884,27.543,1.958,25.19,1.958z"></path>
              </g>
            </svg>
          </div>
        </div>
      </a>
      <div class="footer__copy">© 2017. Business&People. Все права защищены.</div>
    </div>
  </div>
</footer>