<div class="search__box">
  <div class="align search-form__align">
    <form action="#" class="search-form">
      <input type="text" class="search-form__input" placeholder="Поиск...">
      <button class="search-form__btn">
        <svg class="search-btn__icon">
          <use xlink:href="/images/sprite.svg#search" />
        </svg>
      </button>
    </form>
  </div>
  <div class="search-close">
    <svg class="modal-close__icon">
      <use xlink:href="/images/sprite.svg#close" />
    </svg>
  </div>
</div>
<header class="header header--common">
  <div class="header__box align">
    <div class="header__col">
      <a href="/" class="logo">
        <img class="logo__img logo__img--black" src="images/logo-black.svg" alt="..." width="230" height="42">
        <img class="logo__img logo__img--white" src="images/logo-white.svg" alt="..." width="230" height="42">
      </a>
    </div>
    <div class="header__col">
      <nav class="header-nav">
        <a href="#" class="header-nav__item">Календарь мероприятий</a>
        <a href="#" class="header-nav__item">Корпоративное обучение</a>
        <a href="#" class="header-nav__item">Тренеры и спикеры</a>
      </nav>
      <div class="header__btn callback-btn btn">Связаться с нами</div>
      <div class="header-phone__box">
        <div class="header-phone">
          <svg class="header-phone__picture">
            <use xlink:href="/images/sprite.svg#telephone" />
          </svg>
          <a href="tel:+380508004420" class="header-phone__link">+380 (50) 800 4420</a>
        </div>
        <div class="header-phone__callback callback-btn">
          <svg class="header-phone__icon">
            <use xlink:href="/images/sprite.svg#mail" />
          </svg>
        </div>
      </div>
      <div class="search">
        <div class="search-btn">
          <svg class="search-btn__icon">
            <use xlink:href="/images/sprite.svg#search" />
          </svg>
        </div>
      </div>
      <div class="menu-btn">
        <svg class="menu-btn__icon">
          <use xlink:href="/images/sprite.svg#burger" />
        </svg>
      </div>
    </div>
  </div>
</header>