<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <title>Business & People</title>
  <link rel="icon" type="image/png" sizes="16x16 32x32" href="images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="192x192" href="images/android-icon-192x192.png">
  <link rel="apple-touch-icon" sizes="180x180" href="images/apple-icon-180x180.png">
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700|Open+Sans&amp;subset=cyrillic" rel="stylesheet">
  <link href="css/index.css" rel="stylesheet">
</head>