<div class="menu">
  <div class="menu__top">
    <div class="menu__row align">
      <div class="menu__col">
        <a href="/" class="logo">
          <img class="logo__img logo__img--black" src="images/logo-black.svg" alt="..." width="230" height="42">
        </a>
        <div class="lang">
          <a href="#" class="lang__item">ua</a>
        </div>
      </div>
      <div class="menu__col">
        <div class="modal-close menu-close">
          <div class="modal-close__text">Закрыть</div>
          <svg class="modal-close__icon">
            <use xlink:href="/images/sprite.svg#close" />
          </svg>
        </div>
      </div>
    </div>
  </div>
  <div class="menu-middle align">
    <div class="menu-middle__col">
      <ul class="menu-list">
        <li class="menu-list__item">
          <a href="#" class="menu-list__link">ГЛАВНАЯ</a>
        </li>
        <li class="menu-list__item">
          <a href="#" class="menu-list__link">О BUSINESS & PEOPLE</a>
        </li>
        <li class="menu-list__item">
          <a href="#" class="menu-list__link">ТРЕНЕРЫ И СПИКЕРЫ</a>
        </li>
        <li class="menu-list__item">
          <a href="#" class="menu-list__link">КЛИЕНТЫ</a>
        </li>
        <li class="menu-list__item">
          <a href="#" class="menu-list__link">ОТЗЫВЫ</a>
        </li>
        <li class="menu-list__item">
          <a href="#" class="menu-list__link">КАК СТАТЬ ПАРТНЕРОМ</a>
        </li>
        <li class="menu-list__item">
          <a href="#" class="menu-list__link">КОНТАКТЫ</a>
        </li>
      </ul>
    </div>
    <div class="menu-middle__col">
      <div class="menu-list">
        <span class="menu-list__item menu-list__item--heading">Услуги</span>
        <li class="menu-list__item menu-list__item--small">
          <a href="#" class="menu-list__link">График тренингов и семинаров</a>
        </li>
        <li class="menu-list__item menu-list__item--small">
          <a href="#" class="menu-list__link">Корпоративное обучение</a>
        </li>
        <li class="menu-list__item menu-list__item--small">
          <a href="#" class="menu-list__link">Консалтинг</a>
        </li>
        <li class="menu-list__item menu-list__item--small">
          <a href="#" class="menu-list__link">Стратегические сессии</a>
        </li>
        <li class="menu-list__item menu-list__item--small">
          <a href="#" class="menu-list__link">Индивидуальные консультации</a>
        </li>
        <li class="menu-list__item menu-list__item--small">
          <a href="#" class="menu-list__link">Спикеры для конференций</a>
        </li>
      </div>
    </div>
    <div class="menu-middle__col menu-middle__col--3">
      <div class="menu-list">
        <span class="menu-list__item menu-list__item--heading">Почитать/посмотреть</span>
        <li class="menu-list__item menu-list__item--small">
          <a href="#" class="menu-list__link">Новости</a>
        </li>
        <li class="menu-list__item menu-list__item--small">
          <a href="#" class="menu-list__link">Статьи и полезная информация</a>
        </li>
        <li class="menu-list__item menu-list__item--small">
          <a href="#" class="menu-list__link">Видео</a>
        </li>
        <li class="menu-list__item menu-list__item--small">
          <a href="#" class="menu-list__link">Фотогалерея</a>
        </li>
      </div>
    </div>
  </div>
  <div class="menu__bottom">
    <div class="callback-btn btn">Связаться с нами</div>
  </div>
</div>