<div class="popup popup--callback">
  <div class="popup__overlay popup-close"></div>
  <div class="popup__holder">
    <div class="modal-close popup__close popup-close">
      <div class="modal-close__text">Закрыть</div>
      <svg class="modal-close__icon">
        <use xlink:href="/images/sprite.svg#close" />
      </svg>
    </div>
    <div class="popup-form__title">Связаться с нами</div>
    <form action="popup-form">
      <div class="popup-form__row input__row">
        <input id="callback-name" type="text" class="input">
        <label class="label" for="callback-name">ФИО*</label>
      </div>
      <div class="popup-form__row input__row">
        <input id="callback-phone" type="tel" class="input error">
        <label class="label" for="callback-phone">Телефон*</label>
      </div>
      <div class="popup-form__row input__row">
        <input id="callback-email" type="email" class="input">
        <label class="label" for="callback-email">Email</label>
      </div>
      <div class="popup-form__row input__row">
        <input id="callback-company" type="text" class="input">
        <label class="label" for="callback-company">Компания</label>
      </div>
      <div class="popup-form__row input__row">
        <input id="callback-comment" type="text" class="input">
        <label class="label" for="callback-comment">Добавить комментарий</label>
      </div>
      <div class="popup-form__row input__row popup-form__row--insert"></div>
      <div class="popup-form__row popup-form__row--center">
        <button class="btn">Отправить</button>
      </div>
    </form>
  </div>
</div>

<div class="popup popup--order">
  <div class="popup__overlay popup-close"></div>
  <div class="popup__holder">
    <div class="modal-close popup__close popup-close">
      <div class="modal-close__text">Закрыть</div>
      <svg class="modal-close__icon">
        <use xlink:href="/images/sprite.svg#close" />
      </svg>
    </div>
    <div class="popup-form__title">Инициировать
      <br> открытый тренинг</div>
    <form action="popup-form">
      <div class="popup-form__row input__row">
        <input id="callback-name" type="text" class="input">
        <label class="label" for="callback-name">ФИО*</label>
      </div>
      <div class="popup-form__row input__row">
        <input id="callback-phone" type="tel" class="input error">
        <label class="label" for="callback-phone">Телефон*</label>
      </div>
      <div class="popup-form__row input__row">
        <input id="callback-email" type="email" class="input">
        <label class="label" for="callback-email">Email</label>
      </div>
      <div class="popup-form__row input__row">
        <input id="callback-comment" type="text" class="input">
        <label class="label" for="callback-comment">Добавить комментарий</label>
      </div>
      <div class="popup-form__row input__row popup-form__row--insert"></div>
      <div class="popup-form__row popup-form__row--center">
        <button class="btn">Отправить</button>
      </div>
    </form>
  </div>
</div>

<div class="popup popup--success">
  <div class="popup__overlay popup-close"></div>
  <div class="popup__holder">
    <div class="modal-close popup__close popup-close">
      <div class="modal-close__text">Закрыть</div>
      <svg class="modal-close__icon">
        <use xlink:href="/images/sprite.svg#close" />
      </svg>
    </div>
    <div class="success-box">
      <img src="images/success.png" alt="..." class="success-box__image">
      <div class="success-box__title">Заявка успешно отправлена</div>
      <div class="success-box__note">Спасибо наш менеджер с вами свяжеться для уточнения деталей в ближайшее время</div>
    </div>
  </div>
</div>