<div class="sidebar sidebar--consulting">
  <div class="sidebar__wrap">
    <div class="sidebar__title">
      Заказать бесплатную консультацию
    </div>
    <form action="popup-form">
      <div class="popup-form__row input__row">
        <input id="callback-name1" type="text" class="input input--transparent">
        <label class="label" for="callback-name1">Имя</label>
      </div>
      <div class="popup-form__row input__row">
        <input id="callback-surname1" type="text" class="input input--transparent">
        <label class="label" for="callback-surname1">Фамилия</label>
      </div>
      <div class="popup-form__row input__row">
        <input id="callback-phone1" type="tel" class="input input--transparent">
        <label class="label" for="callback-phone1">Телефон</label>
      </div>
      <div class="popup-form__row input__row">
        <input id="callback-email1" type="email" class="input input--transparent">
        <label class="label" for="callback-email1">Email</label>
      </div>
      <div class="popup-form__row">
        <button class="btn btn--full">заказать консультацию </button>
      </div>
    </form>
  </div>
  <div class="sidebar-box">
    <div class="sidebar-box__content">
      <div class="sidebar-box__title">Комплексное бизнес консультирование</div>
      <button class="btn btn--full scroll-top">Получить консультацию</button>
    </div>
  </div>
</div>