<div class="theme-section section align--padding">
  <div class="heading heading--center">Просмотреть все тренинги по тематике</div>
  <div class="note">С другой стороны укрепление и развитие структуры играет важную роль в формировании позиций, занимаемых участниками в отношении
    поставленных задач.</div>
  <div class="theme-list">
    <a href="#" class="theme-list__item">
      <div class="theme-list__picture">
        <img src="data/icons/1.svg" alt="..." width="50" height="50">
      </div>
      <div class="theme-list__title">Переговоры. Коммуникации</div>
    </a>
    <a href="#" class="theme-list__item">
      <div class="theme-list__picture">
        <img src="data/icons/2.svg" alt="..." width="50" height="50">
      </div>
      <div class="theme-list__title">Продажи</div>
    </a>
    <a href="#" class="theme-list__item">
      <div class="theme-list__picture">
        <img src="data/icons/3.svg" alt="..." width="50" height="50">
      </div>
      <div class="theme-list__title">Маркетинг</div>
    </a>
    <a href="#" class="theme-list__item">
      <div class="theme-list__picture">
        <img src="data/icons/4.svg" alt="..." width="50" height="50">
      </div>
      <div class="theme-list__title">Сервис. Работа с клиентами</div>
    </a>
    <a href="#" class="theme-list__item">
      <div class="theme-list__picture">
        <img src="data/icons/5.svg" alt="..." width="50" height="50">
      </div>
      <div class="theme-list__title">Лидерство</div>
    </a>
    <a href="#" class="theme-list__item">
      <div class="theme-list__picture">
        <img src="data/icons/6.svg" alt="..." width="50" height="50">
      </div>
      <div class="theme-list__title">Менеджмент</div>
    </a>
    <a href="#" class="theme-list__item">
      <div class="theme-list__picture">
        <img src="data/icons/7.svg" alt="..." width="50" height="50">
      </div>
      <div class="theme-list__title">Командообразование</div>
    </a>
    <a href="#" class="theme-list__item">
      <div class="theme-list__picture">
        <img src="data/icons/8.svg" alt="..." width="50" height="50">
      </div>
      <div class="theme-list__title">Личная эффективность</div>
    </a>
    <a href="#" class="theme-list__item">
      <div class="theme-list__picture">
        <img src="data/icons/9.svg" alt="..." width="50" height="50">
      </div>
      <div class="theme-list__title">Бизнес-процессы</div>
    </a>
    <a href="#" class="theme-list__item">
      <div class="theme-list__picture">
        <img src="data/icons/10.svg" alt="..." width="50" height="50">
      </div>
      <div class="theme-list__title">Управление проектами</div>
    </a>
    <a href="#" class="theme-list__item">
      <div class="theme-list__picture">
        <img src="data/icons/11.svg" alt="..." width="50" height="50">
      </div>
      <div class="theme-list__title">Закупки, Снабжение, Логистика</div>
    </a>
    <a href="#" class="theme-list__item">
      <div class="theme-list__picture">
        <img src="data/icons/12.svg" alt="..." width="50" height="50">
      </div>
      <div class="theme-list__title">Финансы. Управленческий учет</div>
    </a>
    <a href="#" class="theme-list__item">
      <div class="theme-list__picture">
        <img src="data/icons/13.svg" alt="..." width="50" height="50">
      </div>
      <div class="theme-list__title">HR технологии</div>
    </a>
    <a href="#" class="theme-list__item">
      <div class="theme-list__picture">
        <img src="data/icons/14.svg" alt="..." width="50" height="50">
      </div>
      <div class="theme-list__title">Обучение тренеров</div>
    </a>
    <a href="#" class="theme-list__item">
      <div class="theme-list__picture">
        <img src="data/icons/15.svg" alt="..." width="50" height="50">
      </div>
      <div class="theme-list__title">Публичные выступления</div>
    </a>
    <a href="#" class="theme-list__item">
      <div class="theme-list__picture">
        <img src="data/icons/16.svg" alt="..." width="50" height="50">
      </div>
      <div class="theme-list__title">Бизнес-презентации</div>
    </a>
  </div>
  <!-- delete theme-section__btn on education page -->
  <div class="theme-section__btn">
    <a href="#" class="btn">Подробнее о корпоративном обучении</a>
  </div>
</div>