<div class="training-section section">
  <div class="heading heading--center">Просмотреть все тренинги по отраслям</div>
  <div class="note">Выберите из 101 тренинга тот, который нужен именно вашей компании. Они созданы, чтобы решить самые распространенные задачи,
    и отсортированы по отраслям и тематике для вашего удобства.</div>
  <div class="training-list">
    <a href="#" class="training-list__item">
      <div class="training-list__content">
        <div class="training-list__picture">
          <img class="training-list__image" src="data/trainings/training-image-1.png" alt="...">
        </div>
        <div class="training-list__title">Недвижимость</div>
      </div>
      <div class="training-list__hover">
        <div class="training-list__title">Недвижимость</div>
        <div class="training-list__text">С другой стороны укрепление и развитие структуры играет важную роль в формировании позиций, занимаемых участниками
          в отношении поставленных задач.</div>
      </div>
    </a>
    <a href="#" class="training-list__item">
      <div class="training-list__content">
        <div class="training-list__picture">
          <img class="training-list__image" src="data/trainings/training-image-2.png" alt="...">
        </div>
        <div class="training-list__title">Медицина и фармацевтика</div>
      </div>
      <div class="training-list__hover">
        <div class="training-list__title">Медицина и фармацевтика</div>
        <div class="training-list__text">С другой стороны укрепление и развитие структуры играет важную роль в формировании позиций, занимаемых участниками
          в отношении поставленных задач.</div>
      </div>
    </a>
    <a href="#" class="training-list__item">
      <div class="training-list__content">
        <div class="training-list__picture">
          <img class="training-list__image" src="data/trainings/training-image-3.png" alt="...">
        </div>
        <div class="training-list__title">Розница. Торговля</div>
      </div>
      <div class="training-list__hover">
        <div class="training-list__title">Розница. Торговля</div>
        <div class="training-list__text">С другой стороны укрепление и развитие структуры играет важную роль в формировании позиций, занимаемых участниками
          в отношении поставленных задач.</div>
      </div>
    </a>
    <a href="#" class="training-list__item">
      <div class="training-list__content">
        <div class="training-list__picture">
          <img class="training-list__image" src="data/trainings/training-image-4.png" alt="...">
        </div>
        <div class="training-list__title">B2B рынок</div>
      </div>
      <div class="training-list__hover">
        <div class="training-list__title">B2B рынок</div>
        <div class="training-list__text">С другой стороны укрепление и развитие структуры играет важную роль в формировании позиций, занимаемых участниками
          в отношении поставленных задач.</div>
      </div>
    </a>
    <a href="#" class="training-list__item">
      <div class="training-list__content">
        <div class="training-list__picture">
          <img class="training-list__image" src="data/trainings/training-image-5.png" alt="...">
        </div>
        <div class="training-list__title">Horeca. Сфера услуг. Сервис
        </div>
      </div>
      <div class="training-list__hover">
        <div class="training-list__title">Horeca. Сфера услуг. Сервис
        </div>
        <div class="training-list__text">С другой стороны укрепление и развитие структуры играет важную роль в формировании позиций, занимаемых участниками
          в отношении поставленных задач.</div>
      </div>
    </a>
    <a href="#" class="training-list__item">
      <div class="training-list__content">
        <div class="training-list__picture">
          <img class="training-list__image" src="data/trainings/training-image-6.png" alt="...">
        </div>
        <div class="training-list__title">FMCG. Дистрибьюция</div>
      </div>
      <div class="training-list__hover">
        <div class="training-list__title">FMCG. Дистрибьюция</div>
        <div class="training-list__text">С другой стороны укрепление и развитие структуры играет важную роль в формировании позиций, занимаемых участниками
          в отношении поставленных задач.</div>
      </div>
    </a>
    <a href="#" class="training-list__item">
      <div class="training-list__content">
        <div class="training-list__picture">
          <img class="training-list__image" src="data/trainings/training-image-7.png" alt="...">
        </div>
        <div class="training-list__title">Финансовый сектор</div>
      </div>
      <div class="training-list__hover">
        <div class="training-list__title">Финансовый сектор</div>
        <div class="training-list__text">С другой стороны укрепление и развитие структуры играет важную роль в формировании позиций, занимаемых участниками
          в отношении поставленных задач.</div>
      </div>
    </a>
    <a href="#" class="training-list__item">
      <div class="training-list__content">
        <div class="training-list__picture">
          <img class="training-list__image" src="data/trainings/training-image-8.png" alt="...">
        </div>
        <div class="training-list__title">Промышленность</div>
      </div>
      <div class="training-list__hover">
        <div class="training-list__title">Промышленность</div>
        <div class="training-list__text">С другой стороны укрепление и развитие структуры играет важную роль в формировании позиций, занимаемых участниками
          в отношении поставленных задач.</div>
      </div>
    </a>
  </div>
</div>