<div class="section trust-section">
  <div class="heading heading--center">Почему нам доверяют</div>
  <div class="note">Индивидуальный подход и понимание потребностий каждого клиента</div>
  <div class="trust-section__box" style="background-image: url(../images/bg-trust.jpg);">
    <div class="trust-section__list align">
      <div class="trust-section__item">
        <div class="trust-section__number">764</div>
        <div class="trust-section__text">Компаний доверили нам обучение своих сотрудников
        </div>
      </div>
      <div class="trust-section__item">
        <div class="trust-section__number">75%</div>
        <div class="trust-section__text">Клиентов стали нашими постоянными партнерами
        </div>
      </div>
      <div class="trust-section__item">
        <div class="trust-section__number">101</div>
        <div class="trust-section__text">Уникальный бизнес- тренинг по 16 темам в 8-ми отраслях
        </div>
      </div>
      <div class="trust-section__item">
        <div class="trust-section__number">15000+</div>
        <div class="trust-section__text">Человек стали участиками наших проектов
        </div>
      </div>
    </div>
  </div>
</div>